body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.fontExtraLight {
  font-family: 'Gotham Narrow SSm 2r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 200;
  font-style: normal;
}
.fontLight {
  font-family: 'Gotham Narrow SSm 3r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 300;
  font-style: normal;
}
.fontBook {
  font-family: 'Gotham Narrow SSm 4r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 400;
  font-style: normal;
}
.fontMedium {
  font-family: 'Gotham Narrow SSm 5r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 500;
  font-style: normal;
}
.fontBold {
  font-family: 'Gotham Narrow SSm 7r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 700;
  font-style: normal;
}
.fontBlack {
  font-family: 'Gotham Narrow SSm 8r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 800;
  font-style: normal;
}
.fontWeightNormal {
  font-weight: normal !important;
  font-style: normal !important;
}
/*
.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}
*/
/* -----------------------------
   I'm trying to reduce css
   duplication so removing
   repeating styles to mixins
   ----------------------------- */
/* Micro ClearFix Mixin */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  background: #dce1df;
  color: #4f585e;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}
a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}
div.card-row {
  padding: 40px 0;
  position: relative;
  margin: auto;
  width: 1400px;
}
div.card-row h2 {
  font-family: 'Gotham Narrow SSm 7r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: -0.05em;
  margin: auto;
  max-width: 1260px;
}
div.card-row div.card-scrollbar {
  height: 1px;
  margin: 40px auto 0;
  max-width: 1260px;
  position: relative;
}
div.card-row div.card-scrollbar div.card-scroller {
  background: #0096a0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 6px;
  left: 0;
  position: absolute;
  top: -3px;
  width: 25%;
}
div.card-row div.controls a {
  display: block;
  position: absolute;
}
div.card-row div.controls a.previous {
  left: 0;
}
div.card-row div.controls a.next {
  right: 0;
}
ul.cards {
  zoom: 1;
  margin: 10px auto;
  max-width: 1280px;
  padding: 0;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  position: relative;
  text-align: center;
}
ul.cards:before,
ul.cards:after {
  content: "";
  display: table;
}
ul.cards:after {
  clear: both;
}
.card.left-in {
  margin-left: -316px;
  opacity: 0;
}
.card {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  float: left;
  list-style: none;
  margin: 0;
  max-width: 300px;
  padding: 8px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  -webkit-transition: all 0.3s 0s ease-in;
  -moz-transition: all 0.3s 0s ease-in;
  -ms-transition: all 0.3s 0s ease-in;
  -o-transition: all 0.3s 0s ease-in;
  z-index: 1;
}
.card img {
  max-width: 100%;
}
.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}
.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
/*
ul.cards.showing {
	.card {
		cursor: pointer;
		opacity: 0.6;
		transform: scale(0.88);
	}
}
*/
/*
.no-touch  ul.cards.showing {
	li.card:hover {
		opacity: 0.94;
		transform: scale(0.92);
	}
}
*/
.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
.card.show div.card-title a.toggle-info span {
  top: 15px;
}
.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}
