body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.fontExtraLight {
  font-family: 'Gotham Narrow SSm 2r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 200;
  font-style: normal;
}
.fontLight {
  font-family: 'Gotham Narrow SSm 3r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 300;
  font-style: normal;
}
.fontBook {
  font-family: 'Gotham Narrow SSm 4r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 400;
  font-style: normal;
}
.fontMedium {
  font-family: 'Gotham Narrow SSm 5r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 500;
  font-style: normal;
}
.fontBold {
  font-family: 'Gotham Narrow SSm 7r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 700;
  font-style: normal;
}
.fontBlack {
  font-family: 'Gotham Narrow SSm 8r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
  font-weight: 800;
  font-style: normal;
}
.fontWeightNormal {
  font-weight: normal !important;
  font-style: normal !important;
}
/*
.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}
*/
/* -----------------------------
   I'm trying to reduce css
   duplication so removing
   repeating styles to mixins
   ----------------------------- */
/* Micro ClearFix Mixin */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   My shit
   ========================================================================== */
body,
html {
  background: #eaedec;
  font-family: 'Gotham Narrow SSm 4r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', arial;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
ul.btns {
  margin: 0;
  padding: 0 0 8px;
}
ul.btns li {
  display: inline-block;
  list-style: none;
  padding: 0;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  margin: 0 4px 8px 0;
}
div.card-holder {
  padding: 80px 0;
  margin: 0 auto;
  max-width: 2205px;
}
div.card-outer {
  display: inline-block;
  height: 400px;
  margin: 2px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  transform-style: preserve-3d;
  width: 360px;
}
div.card-outer.half-card {
  height: 200px;
}
div.card-outer.half-card div.card div.content h2 {
  font-size: 24px;
}
div.card-outer.half-card div.card div.svg-holder {
  -webkit-transform: translate3d(78%, 0px, 0px);
  -moz-transform: translate3d(78%, 0px, 0px);
  -ms-transform: translate3d(78%, 0px, 0px);
  -o-transform: translate3d(78%, 0px, 0px);
}
div.card-outer.half-card div.card div.svg-holder.svg2 {
  -webkit-transform: translate3d(123%, 0px, 0px);
  -moz-transform: translate3d(123%, 0px, 0px);
  -ms-transform: translate3d(123%, 0px, 0px);
  -o-transform: translate3d(123%, 0px, 0px);
}
div.card-outer.half-card div.card.show div.svg-holder {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
}
div.card-outer.half-card div.card.show div.svg-holder.svg2 {
  -webkit-transform: translate3d(78%, 0px, 0px);
  -moz-transform: translate3d(78%, 0px, 0px);
  -ms-transform: translate3d(78%, 0px, 0px);
  -o-transform: translate3d(78%, 0px, 0px);
}
div.card {
  background: #000;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.45s 0s ease-in;
  -moz-transition: all 0.45s 0s ease-in;
  -ms-transition: all 0.45s 0s ease-in;
  -o-transition: all 0.45s 0s ease-in;
}
div.card.hide {
  opacity: 0.75;
  -webkit-transform: rotateY(-90deg) translate3d(-50%, 0, 0) scale(0.5);
  -moz-transform: rotateY(-90deg) translate3d(-50%, 0, 0) scale(0.5);
  -ms-transform: rotateY(-90deg) translate3d(-50%, 0, 0) scale(0.5);
  -o-transform: rotateY(-90deg) translate3d(-50%, 0, 0) scale(0.5);
}
div.card.hide div.content {
  -webkit-transform: rotateY(-90deg) translate3d(-50%, 0, 0) scale(0.5);
  -moz-transform: rotateY(-90deg) translate3d(-50%, 0, 0) scale(0.5);
  -ms-transform: rotateY(-90deg) translate3d(-50%, 0, 0) scale(0.5);
  -o-transform: rotateY(-90deg) translate3d(-50%, 0, 0) scale(0.5);
}
div.card div.content {
  bottom: 0;
  color: #fff;
  position: absolute;
  -webkit-transition: all 0.45s 0s ease-in;
  -moz-transition: all 0.45s 0s ease-in;
  -ms-transition: all 0.45s 0s ease-in;
  -o-transition: all 0.45s 0s ease-in;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  z-index: 5;
}
div.card div.content a.card-control {
  background: #0ebac7;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 42px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 42px;
  z-index: 50;
}
div.card div.content a.card-control:hover {
  background: #0fc5d3;
}
div.card div.content a.card-control:active {
  background: #10d0df;
}
div.card div.content a.card-control span {
  background: #fff;
  display: block;
  height: 16px;
  left: 50%;
  margin: 13px 0 0 -2px;
  position: absolute;
  width: 4px;
  -webkit-transition: all 0.1s 0s linear;
  -moz-transition: all 0.1s 0s linear;
  -ms-transition: all 0.1s 0s linear;
  -o-transition: all 0.1s 0s linear;
}
div.card div.content a.card-control.show span.stroke1 {
  -webkit-transform: rotate(45deg) translate3d(-3px, 3px, 0);
  -moz-transform: rotate(45deg) translate3d(-3px, 3px, 0);
  -ms-transform: rotate(45deg) translate3d(-3px, 3px, 0);
  -o-transform: rotate(45deg) translate3d(-3px, 3px, 0);
}
div.card div.content a.card-control.show span.stroke2 {
  -webkit-transform: rotate(-45deg) translate3d(3px, 3px, 0);
  -moz-transform: rotate(-45deg) translate3d(3px, 3px, 0);
  -ms-transform: rotate(-45deg) translate3d(3px, 3px, 0);
  -o-transform: rotate(-45deg) translate3d(3px, 3px, 0);
}
div.card div.content a.card-control.hide span.stroke1 {
  -webkit-transform: rotate(45deg) translate3d(3px, -3px, 0);
  -moz-transform: rotate(45deg) translate3d(3px, -3px, 0);
  -ms-transform: rotate(45deg) translate3d(3px, -3px, 0);
  -o-transform: rotate(45deg) translate3d(3px, -3px, 0);
}
div.card div.content a.card-control.hide span.stroke2 {
  -webkit-transform: rotate(-45deg) translate3d(-3px, -3px, 0);
  -moz-transform: rotate(-45deg) translate3d(-3px, -3px, 0);
  -ms-transform: rotate(-45deg) translate3d(-3px, -3px, 0);
  -o-transform: rotate(-45deg) translate3d(-3px, -3px, 0);
}
div.card div.content h2 {
  font-size: 36px;
  letter-spacing: -0.05em;
  line-height: 1em;
  margin: 0;
  padding: 12px 76px 4px 12px;
}
div.card div.content h2 span.subTitle {
  display: block;
  font-size: 18px;
  line-height: 38px;
}
div.card div.content div.subcontent {
  font-size: 14px;
  line-height: 18px;
  max-height: 0;
  max-width: 260px;
  opacity: 0;
  padding: 0 12px 0;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transition: all 0.15s 0s ease-in;
  -moz-transition: all 0.15s 0s ease-in;
  -ms-transition: all 0.15s 0s ease-in;
  -o-transition: all 0.15s 0s ease-in;
}
div.card div.content div.subcontent p {
  margin: 0;
  padding: 0 0 12px;
}
div.card div.content div.subcontent > * {
  opacity: 0;
  -webkit-transform: rotateY(-90deg) translate3d(-100%, 0, 0);
  -moz-transform: rotateY(-90deg) translate3d(-100%, 0, 0);
  -ms-transform: rotateY(-90deg) translate3d(-100%, 0, 0);
  -o-transform: rotateY(-90deg) translate3d(-100%, 0, 0);
  -webkit-transition: all 0.3s 0s ease-in;
  -moz-transition: all 0.3s 0s ease-in;
  -ms-transition: all 0.3s 0s ease-in;
  -o-transition: all 0.3s 0s ease-in;
}
div.card img {
  opacity: 0.7;
  position: absolute;
  top: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 0.6s 0.15s ease-out;
  -moz-transition: all 0.6s 0.15s ease-out;
  -ms-transition: all 0.6s 0.15s ease-out;
  -o-transition: all 0.6s 0.15s ease-out;
  z-index: 0;
}
div.card:before {
  background: url(../img/gradient2.png) repeat-x bottom;
  content: "";
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: all 0.15s 0s ease-in;
  -moz-transition: all 0.15s 0s ease-in;
  -ms-transition: all 0.15s 0s ease-in;
  -o-transition: all 0.15s 0s ease-in;
}
div.card div.svg-holder {
  right: 0;
  position: absolute;
  height: 100%;
  top: 0;
  width: 125%;
  -webkit-transform: translate3d(82%, 0px, 0px);
  -moz-transform: translate3d(82%, 0px, 0px);
  -ms-transform: translate3d(82%, 0px, 0px);
  -o-transform: translate3d(82%, 0px, 0px);
  -webkit-transition: transform 0.15s 0.15s linear;
  -moz-transition: transform 0.15s 0.15s linear;
  -ms-transition: transform 0.15s 0.15s linear;
  -o-transition: transform 0.15s 0.15s linear;
  z-index: 1;
}
div.card div.svg-holder svg {
  height: 100%;
  width: 100%;
}
div.card div.svg-holder svg polygon {
  fill: rgba(0, 124, 133, 0);
  stroke: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.15s 0.15s linear;
  -moz-transition: all 0.15s 0.15s linear;
  -ms-transition: all 0.15s 0.15s linear;
  -o-transition: all 0.15s 0.15s linear;
}
div.card div.svg-holder.svg2 {
  -webkit-transform: translate3d(123%, 0px, 0px);
  -moz-transform: translate3d(123%, 0px, 0px);
  -ms-transform: translate3d(123%, 0px, 0px);
  -o-transform: translate3d(123%, 0px, 0px);
  -webkit-transition: all 0.15s 0.3s linear;
  -moz-transition: all 0.15s 0.3s linear;
  -ms-transition: all 0.15s 0.3s linear;
  -o-transition: all 0.15s 0.3s linear;
  z-index: 2;
}
div.card div.svg-holder.svg2 svg polygon {
  fill: #0096a1;
  stroke: #0096a1;
}
div.card.show div.content div.subcontent {
  opacity: 1;
  max-height: 240px;
  -webkit-transition: all 0.15s 0.2s ease-in;
  -moz-transition: all 0.15s 0.2s ease-in;
  -ms-transition: all 0.15s 0.2s ease-in;
  -o-transition: all 0.15s 0.2s ease-in;
}
div.card.show div.content div.subcontent > * {
  opacity: 1;
  -webkit-transform: rotateY(0deg) translate3d(0, 0, 0);
  -moz-transform: rotateY(0deg) translate3d(0, 0, 0);
  -ms-transform: rotateY(0deg) translate3d(0, 0, 0);
  -o-transform: rotateY(0deg) translate3d(0, 0, 0);
}
div.card.show div.content div.subcontent > *:nth-child(1) {
  -webkit-transition: all 0.45s 0.3s ease-in;
  -moz-transition: all 0.45s 0.3s ease-in;
  -ms-transition: all 0.45s 0.3s ease-in;
  -o-transition: all 0.45s 0.3s ease-in;
}
div.card.show div.content div.subcontent > *:nth-child(2) {
  -webkit-transition: all 0.45s 0.4s ease-in;
  -moz-transition: all 0.45s 0.4s ease-in;
  -ms-transition: all 0.45s 0.4s ease-in;
  -o-transition: all 0.45s 0.4s ease-in;
}
div.card.show div.content div.subcontent > *:nth-child(3) {
  -webkit-transition: all 0.45s 0.5s ease-in;
  -moz-transition: all 0.45s 0.5s ease-in;
  -ms-transition: all 0.45s 0.5s ease-in;
  -o-transition: all 0.45s 0.5s ease-in;
}
div.card.show img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 0.6s 0s ease-out;
  -moz-transition: all 0.6s 0s ease-out;
  -ms-transition: all 0.6s 0s ease-out;
  -o-transition: all 0.6s 0s ease-out;
}
div.card.show:before {
  opacity: 0;
}
div.card.show div.svg-holder {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 0.15s 0.3s linear;
  -moz-transition: all 0.15s 0.3s linear;
  -ms-transition: all 0.15s 0.3s linear;
  -o-transition: all 0.15s 0.3s linear;
}
div.card.show div.svg-holder svg polygon {
  fill: rgba(0, 124, 133, 0.95);
  stroke: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.15s 0.3s linear;
  -moz-transition: all 0.15s 0.3s linear;
  -ms-transition: all 0.15s 0.3s linear;
  -o-transition: all 0.15s 0.3s linear;
}
div.card.show div.svg-holder.svg2 {
  -webkit-transform: translate3d(82%, 0px, 0px);
  -moz-transform: translate3d(82%, 0px, 0px);
  -ms-transform: translate3d(82%, 0px, 0px);
  -o-transform: translate3d(82%, 0px, 0px);
  -webkit-transition: all 0.3s 0s linear;
  -moz-transition: all 0.3s 0s linear;
  -ms-transition: all 0.3s 0s linear;
  -o-transition: all 0.3s 0s linear;
}
div.card.show div.svg-holder.svg2 svg polygon {
  fill: #0096a1;
  stroke: #0096a1;
}
div.floating-button {
  padding: 0 5%;
  text-align: center;
}
div.floating-button a.btn {
  text-align: center;
  width: 120px;
}
div.floating-button a.btn.show span.hide {
  display: none;
}
div.floating-button a.btn.hide span.show {
  display: none;
}
.no-touch div.card div.content a.card-control {
  display: none;
}
