<script type="text/javascript">
	<!--
	$(function () {
		var rugbyTX = new Date(2010,1,26,19,40);
		$('#count-down').countdown({
			until: rugbyTX,
			labels:['','','','','','',''],
			layout:'<span>{dnn}</span>:<span>{hnn}</span>:<span>{mnn}</span>:<span>{snn}</span>'
		});
	});
	-->
</script>
<div id="rugby-alert">
	<div id="rugby-alert-inner">
		<div id="rugby-col1">
			<h2><a href="/rygbi">Cymru D20 v Ffrainc D20</a></h2>
			<p class="red">Nos Wener 17:30</p>
		</div>
		<div id="rugby-col2">
			<h2><a href="/rygbi">Jonathan</a></h2>
			<p class="red">Nos Iau 21:30</p>
		</div>
		<div id="rugby-col3">
			<div id="count-down"></div>
			<p><a href="rygbi">Cymru v Ffrainc ar S4C</a></p>
		</div>
	</div>
	<div class="s4c-clear"></div>
</div>