<script type="text/javascript">
	<!--
	$(function () {
		var rugbyTX = new Date(2010,1,13,13,55);
		$('#count-down').countdown({
			until: rugbyTX,
			labels:['','','','','','',''],
			layout:'<span>{dnn}</span>:<span>{hnn}</span>:<span>{mnn}</span>:<span>{snn}</span>'
		});
	});
	-->
</script>
<div id="rugby-alert">
	<div id="rugby-alert-inner">
		<div id="rugby-col1">
			<h2><a href="/sgorio">Chelsea v Caerdydd</a></h2>
			<p class="red">Dydd Sadwrn 11:30</p>
		</div>
		<div id="rugby-col2">
			<h2><a href="rygbi/">Cymru v Yr Alban</a></h2>
			<p class="red">Dydd Sadwrn 13:55</p>
		</div>
		<div id="rugby-col3">
			<div id="count-down"></div>
			<p><a href="rygbi/">Cymru v Yr Alban ar S4C</a></p>
		</div>
	</div>
	<div class="s4c-clear"></div>
</div>