<script type="text/javascript">
	<!--
	$(function () {
		var rugbyTX = new Date(2010,2,13,14,00);
		$('#count-down').countdown({
			until: rugbyTX,
			labels:['','','','','','',''],
			layout:'<span>{dnn}</span>:<span>{hnn}</span>:<span>{mnn}</span>:<span>{snn}</span>'
		});
	});
	-->
</script>
<div id="rugby-alert">
	<div id="rugby-alert-inner">
		<div id="rugby-col1">
			<h2><a href="/rygbi">Iwerddon v Cymru </a></h2>
			<p class="red">Dydd Sadwrn 14:00</p>
		</div>
		<div id="rugby-col2">
			<h2><a href="/sgorio">Sgorio Cymru</a></h2>
			<p class="red">Nos Sadwrn 21:25</p>
		</div>
		<div id="rugby-col3">
			<div id="count-down"></div>
			<p><a href="rygbi">Iwerddon v Cymru<br /> ar S4C</a></p>
		</div>
	</div>
	<div class="s4c-clear"></div>
</div>