<script type="text/javascript">
	<!--
	$(function () {
		var rugbyTX = new Date(2010,1,6,16,30);
		$('#count-down').countdown({
			until: rugbyTX,
			labels:['','','','','','',''],
			layout:'<span>{dnn}</span>:<span>{hnn}</span>:<span>{mnn}</span>:<span>{snn}</span>'
		});
	});
	-->
</script>
<div id="rugby-alert">
	<div id="rugby-alert-inner">
		<div id="rugby-col1">
			<h2><a href="/sgorio/e_/home">Chelsea v Cardiff</a></h2>
			<p class="red">Next Saturday 12:00</p>
		</div>
		<div id="rugby-col2">
			<h2><a href="/rygbi/e_index.shtml">England v Wales</a></h2>
			<p class="red">Saturday 16:30</p>
		</div>
		<div id="rugby-col3">
			<div id="count-down"></div>
			<p><a href="rygbi/e_index.shtml">The Six Nations on S4C</a></p>
		</div>
	</div>
	<div class="s4c-clear"></div>
</div>