<script type="text/javascript">
	<!--
	$(function () {
		var rugbyTX = new Date(2010,2,20,14,00);
		$('#count-down').countdown({
			until: rugbyTX,
			labels:['','','','','','',''],
			layout:'<span>{dnn}</span>:<span>{hnn}</span>:<span>{mnn}</span>:<span>{snn}</span>'
		});
	});
	-->
</script>
<div id="rugby-alert">
	<div id="rugby-alert-inner">
		<div id="rugby-col1">
			<h2><a href="/rygbi/e_index.shtml">Wales v Italy</a></h2>
			<p class="red">Saturday 14:00</p>
		</div>
		<div id="rugby-col2">
			<h2><a href="/sgorio/e_/home">Sgorio Cymru</a></h2>
			<p class="red">Saturday 21:20</p>
		</div>
		<div id="rugby-col3">
			<div id="count-down"></div>
			<p><a href="rygbi/e_index.shtml">Wales v Italy on S4C</a></p>
		</div>
	</div>
	<div class="s4c-clear"></div>
</div>