a.s4c-flat-btn,
.s4c-flat-btn {
	background: rgba(0,0,0,0.035);
	border: 0;
	.border-radius(4px);
	color: @teal;
	display: inline-block;
	padding: 0.5em 1em;
	.transition;
	&:hover, &:focus {
		background: rgba(0,0,0,0.0);
		color: @tealMid;
		.box-shadow(inset 0 -1px 0 0 rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.15););
		.transform(translate3d(0,-2px,0));
	}
}

a.s4c-btn,
.s4c-btn {
	background: @teal;
	border: none;
	.border-radius(4px);
	.box-shadow(inset 0 -1px 0 0 rgba(0,0,0,0.2));
	color: @white;
	font-size: 16px;
	.fontBook;
	display: inline-block;
	padding: 10px 26px;
	.transition;
	vertical-align: top;
	z-index: 1; // overflow clipping bug fix

	&.s4c-drop-down-nav {
		padding-right: 40px;
		span.arrow {
			height: 8px;
			position: absolute;
			right: 12px;
			top: 12px;
			transform: rotate(45deg);
			transition: all @dropDur ease-in;
			width: 8px;
			z-index: 20;
			&:before {
				background: #fff;
				bottom: 0;
				content: "";
				display: block;
				height: 2px;
				position: absolute;
				transition: all @dropDur ease-in;
				width: 100%;
			}
			&:after {
				background: #fff;
				content: "";
				display: block;
				height: 100%;
				position: absolute;
				right: 0;
				transition: all @dropDur ease-in;
				width: 2px;
			}
		}
		&.show span.arrow {
			top: 16px;
			&:before {
				bottom: 6px;
			}
			&:after {
				right: 6px;
			}
		}
	}

	&:hover,
	&:focus {
		background: lighten(@teal,2);
/*
		.box-shadow(inset 0 -1px 0 0 rgba(0,0,0,0.2), 0 10px 12px rgba(0,0,0,0.2););
		.transform(translate3d(0,-2px,0));
*/
	.box-shadow(inset 0 -1px 0 -4px rgba(0,0,0,0.2), 0 10px 12px -4px rgba(0,0,0,0.2), inset 0 -1px 0 0 rgba(0,0,0,.05), inset 0 -2px 0 0 rgba(0,0,0,0.1););
	.transform(translate3d(0,-1px,0));
	}

	&:active,
	&.show {
		background: darken(@teal,2);
		.box-shadow(inset 0 1px 0 0 rgba(0,0,0,0.2));
		.transform(translate3d(0,0,0));
		.transition(0s linear);
	}

}


// modifier class, depends on a.s4c-btn being applied too
a.s4c-btn-outline {
	background: transparent;
	.box-shadow(inset 0 0 0 1px @teal);
	color: @teal;
	i.material-icons {
		float: left;
		margin: -2px 6px 0 -6px;
		svg.svg-icon {
			fill: @teal;
			.transition(0.2s ease);
		}
	}
	&:hover,
	&:focus {
		background: rgba(255,255,255,0.5);
		color: @tealMid;
		i.material-icons svg.svg-icon {
			fill: @tealMid;
		}
	}
}

a.s4c-btn-outline-reversed {
	background: transparent;
	.box-shadow(inset 0 0 0 1px rgba(255,255,255,0.6));
	color: @white;
	i.material-icons {
		float: left;
		margin: -2px 6px 0 -6px;
		svg.svg-icon {
			fill: @white;
			.transition(0.2s ease);
		}
	}
	&:hover,
	&:focus {
		background: rgba(255,255,255,0.15);
		color: @white;
		i.material-icons svg.svg-icon {
			fill: @white;
		}
	}
}


a.s4c-btn-small {
	font-size: 12px;
	padding: 7px 20px;
}




// modifier class, depends on a.s4c-btn being applied too
a.s4c-btn-icon {
	background: darken(@teal, 3);
	overflow: hidden;
	padding-left: 42px;
	position: relative;
	&:after {
		background: @teal;
		.box-shadow(inset 0 -1px 0 0 rgba(0,0,0,0.2), -2px 0 0 rgba(0,0,0,0.1););
		content: "";
		display: block;
		height: 100%;
		left: 30px;
		position: absolute;
		top: 0;
		.transition;
		.transform(skew(-12deg));
		width: 100%;
		z-index: 10;
	}
	i.material-icons {
		float: left;
		font-size: 20px;
		margin-left: -27px;
		margin-top: -6px;
		position: relative;
		.transition;
		z-index: 5;
	}
	span.label {
		position: relative;
		z-index: 15;
	}
	&:hover, &:focus {
		background: darken(@teal, 3);
		&:after {
			.box-shadow(inset 0 -1px 0 0 rgba(0,0,0,0.2), 0 0 0 rgba(0,0,0,0.1););
			left: 34px;
		}
		i.material-icons {
			margin-left: -31px;
		}
	}
}



// button colours
// modifiers

// red
a.s4c-btn-red {
	background: @red;
	&:hover,
	&:focus {
		background: lighten(@red,2);
	}
	&:active {
		background: darken(@red,2);
	}
}
a.s4c-btn-icon-red {
	background: darken(@red, 3);
	&:hover {
		background: darken(@red, 3);
	}
	&:after {
		background: @red;
	}
}
// orange
a.s4c-btn-orange {
	background: @orange;
	&:hover,
	&:focus {
		background: lighten(@orange,2);
	}
	&:active {
		background: darken(@orange,2);
	}
}
a.s4c-btn-icon-orange {
	background: darken(@orange, 3);
	&:hover {
		background: darken(@orange, 3);
	}
	&:after {
		background: @orange;
	}
}
// green
a.s4c-btn-green {
	background: @green;
	&:hover,
	&:focus {
		background: lighten(@green,2);
	}
	&:active {
		background: darken(@green,2);
	}
}
a.s4c-btn-icon-green {
	background: darken(@green, 3);
	&:hover {
		background: darken(@green, 3);
	}
	&:after {
		background: @green;
	}
}
// blue
a.s4c-btn-blue {
	background: @blue;
	&:hover,
	&:focus {
		background: lighten(@blue,2);
	}
	&:active {
		background: darken(@blue,2);
	}
}
a.s4c-btn-icon-blue {
	background: darken(@blue, 3);
	&:hover {
		background: darken(@blue, 3);
	}
	&:after {
		background: @blue;
	}
}
// dark
a.s4c-btn-dark {
	background: @rhinoMid;
	&:hover,
	&:focus {
		background: lighten(@rhinoMid,2);
	}
	&:active {
		background: darken(@rhinoMid,2);
	}
}
a.s4c-btn-icon-dark {
	background: darken(@rhinoMid, 3);
	&:hover {
		background: darken(@rhinoMid, 3);
	}
	&:after {
		background: @rhinoMid;
	}
}




// links with icons
a.s4c-icon-link {
	color: @teal;
	font-size: 16px;
	.fontMedium;
	i.material-icons {
		font-size: 18px;
		position: relative;
		top: 2px;
		svg {
			fill: @teal;
		}
	}
}
// modifiers
a.s4c-icon-link-red {
	color: @red;
}
a.s4c-icon-link-orange {
	color: @orange;
}
a.s4c-icon-link-green {
	color: @green;
}
a.s4c-icon-link-blue {
	color: @blue;
}
a.s4c-icon-link-dark {
	color: @rhinoMid;
}



