
.card-grid {
	div.card {
		.clearfix;
		max-width: none;
		h2.title {
			font-size: 18px;
			max-width: 88%;
			padding: 10px 0 0 10px;
		}
		span.sub-title {
			font-size: 14px;
			max-width: 88%;
			padding-left: 10px;
		}
		img {
			box-shadow: 1px 0 0 rgba(0,0,0,0.05);
			float: left;
			max-width: 40%;
			position: relative;
			z-index: 0;
		}
		div.content {
			float: left;
			padding: 0;
			width: 60%;
			div.title {
				bottom: 10px;
				padding-left: 0;
				position: absolute;
				width: 60%;
				i.material-icons {
					display: none;
				}
			}
		}
	}
}


div.card {
	background: #fff;
	float: left;
	letter-spacing: -0.1em;
	margin: 0 10px 10px 0;
	max-width: 320px;
	position: relative;
	width: 100%;
	.transition;

	&.w2 {
		div.content {
			.transition;
		}
		&:hover {
			div.content {
				.box-shadow(inset 0 -1px 0 0 rgba(0,0,0,.05), inset 0 -2px 0 0 rgba(0,0,0,0.1););
			}
		}
	}

	div.content {
		padding: 15px;
	}

	div.copy {
		color: @grey;
		font-size: 16px;
		padding: 1em 0;
		p {
			font-size: 16px;
		}
	}

	div.vertical-list {
		span {
			color: @greyLight;
		}
	}

	&.watch {
		div.copy {
			padding-left: 34px;
		}
		div.title {
			padding-left: 34px;
			i.material-icons {
				display: block;
				float: left;
				height: 30px;
				margin: -3px 0 0 -36px;
				width: 30px;
				svg {
					fill: @teal;
					height: 30px;
					width: 30px;
				}
			}
		}
	}
	&.more {
		background: rgba(0,0,0,0.025);
		div.content {
			color: @rhinoMid;
			font-weight: 400;
			font-size: 18px;
			line-height: 1.4em;
			padding: 15px;
			strong {
				font-weight: 600;
			}
			i.material-icons {
				bottom: 15px;
				position: absolute;
				right: 15px;
				svg {
					fill: @tealMid;
					height: 36px;
					width: 36px;
				}
			}
		}
	}
	&.mpu {
		> div {
			padding: 10px;
		}
	}
	&.link-list {
		div.title {
			padding-bottom: 15px;
		}
		ul.links {
			margin: 0;
			padding: 0;
			li {
				border: 1px solid rgba(0,0,0,0.035);
				list-style: none;
				margin: 0 0 10px;
				height: 66px;
				overflow: hidden;
				padding: 0;
				position: relative;
				a {
					color: @rhinoMid;
					.transition;
				}
				a:hover {
					color: @teal;
				}
				h3 {
					max-width: 98%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				img {
					float: left;
					margin-right: 15px;
					width: 118px;
				}
			}
			li.loading {
				height: 300px;
				border: 0;
			}
		}
	}

	h2.title {
		color: @teal;
		font-size: 26px;
		font-weight: 700;
		line-height: 1em;
		margin: 0;
		max-width: 98%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	span.sub-title {
		color: @greyMid;
		display: block;
		font-size: 18px;
		font-weight: 700;
		line-height: 1em;
		padding-top: 0.25em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	img {
		box-shadow: 0 1px 0 rgba(0,0,0,0.05);
		max-width: 100%;
	}
}



div.card:hover {
		.box-shadow(inset 0 -1px 0 -4px rgba(0,0,0,0.2), 0 10px 12px -4px rgba(0,0,0,0.2), inset 0 -1px 0 0 rgba(0,0,0,.05), inset 0 -2px 0 0 rgba(0,0,0,0.1););
		.transform(translate3d(0,-1px,0));
}


@media only screen and (min-width: 560px) {
	.card-grid {
		div.card {
			h2.title {
				font-size: 20px;
			}
			span.sub-title {
				font-size: 16px;
			}
			div.content {
				div.title {
					i.material-icons {
						display: block;
						margin: -30px 0 0 6px;
					}
				}
			}
		}
		div.card.more div.content {
			font-size: 24px;
			font-weight: 200;
			strong {
				font-weight: 400;
			}
		}
	}
}

@media only screen and (min-width: 670px) {
	.card-grid {
		div.card {
			max-width: 320px;
			h2.title {
				font-size: 26px;
				max-width: 98%;
				padding: 0;
			}
			span.sub-title {
				font-size: 18px;
				max-width: 98%;
				padding: 0;
			}
			img {
				box-shadow: 0 1px 0 rgba(0,0,0,0.05);
				float: none;
				max-width: 100%;
			}
			div.content {
				float: none;
				padding: 15px;
				width: auto;
				div.title {
					bottom: auto;
					position: static;
					width: auto;
					i.material-icons {
						display: block;
						margin: -3px 0 0 -36px;
					}
				}
			}
			&.watch {
				div.content {
					div.title {
						padding-left: 34px;
					}
				}
			}
		}
		div.card.more div.content {
			padding-right: 72px;
			i.material-icons {
				svg {
					fill: @tealMid;
					height: 42px;
					width: 42px;
				}
			}
		}
	}

	div.card {
		div.card-inner {
			height: 0;
			padding-bottom: 115.625%;
			position: relative;
		}
		&.w2 {
			max-width: 650px;
	
			div.card-inner {
				padding-bottom: 56.923%;
			}
	
			div.content {
				background: #fff;
				bottom: 0;
				left: 0;
				min-height: 80px;
				position: absolute;
				right: 0;
			}
		}
	}
}



/*

// card ish
div.card-watch {
	border-radius: 4px;
	cursor: pointer;
	display: block;
	height: 0;
	max-width: 440px;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	.transition;
	z-index: 1;
	&:hover {
	.box-shadow(inset 0 -1px 0 0 rgba(0,0,0,0.2), 0 10px 12px rgba(0,0,0,0.2););
	.transform(translate3d(0,-2px,0));
		&:after {
//			background: rgba(255,255,255,0.05);
		}
		div.watch-label span.on {
			.transform(skew(-12deg) translateX(0px));
			.transition;
			em.text {
				.transform(skew(12deg) translateX(0px));
				.transition;
			}
		}
	}
	&:active {
		.box-shadow(0 0 0 rgba(0,0,0,0));
		.transition;
		&:after {
			box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.35);
		}
	}
	div.watch-label {
		left: -5px;
		position: absolute;
		z-index: 5;
		span {
			display: block;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: -0.0em;
			margin-top: 12px;
			padding: 6px 14px;
			position: absolute;
			white-space: nowrap;
			&.off {
				color: rgba(255,255,255,0.3);
			}
			&.on {
				background: @white;
				color: @teal;
				content: "";
				display: block;
				overflow: hidden;
				position: absolute;
				top: 0;
				.transform(skew(-12deg) translateX(-140px));
				.transition;
				z-index: -1;
				em.text {
					display: inline-block;
					font-style: normal;
					.transform(skew(12deg) translateX(140px));
					.transition;
				}
			}
		}
	}
	div.title {
		bottom: 8px;
		color: @white;
		left: 80px;
		letter-spacing: -0.0em;
		position: absolute;
		right: 15px;
		z-index: 10;
		span.icon {
			display: block;
			height: 60px;
			float: left;
			margin-left: -70px;
			margin-top: -18px;
			width: 60px;
		i.material-icons {
			font-size: 60px;
		}
		}
		span.series {
			display: block;
			font-size: 24px;
			font-weight: 700;
			line-height: 1em;
			margin-top: 8px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		span.episode {
			font-size: 18px;
			font-weight: 600;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	img {
		border-radius: 4px;
		left: 0;
		max-width: 100%;
		position: absolute;
		top: 0;
		z-index: 0;
	}
	&:after {


background: -moz-linear-gradient(top,	rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.45) 100%);
background: -webkit-linear-gradient(top,	rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.45) 100%);
background: linear-gradient(to bottom,	rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.45) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 );

		.box-shadow(inset 0 -1px 0 0 rgba(0,0,0,0.3));
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		.transition;
		width: 100%;
		z-index: 1;
	}
}




// card grid

.card-grid {
	.clearfix;
	.card {
		float: left;
		margin: 10px 0 0 0;
		width: 320px;
	}
}


//.home-container 	.card-grid .card {
//	margin: auto; 
//}


@media (min-width: 810px) {
	.home-container .card-grid .card {
		margin: 0 10px 10px 0;
		width: 315px;
	}
	.home-container .card-grid .card:nth-child(even) {
		margin-right: 0;
	}
}
@media (min-width: 1075px) {
	.home-container .card-grid .card {
		width: 313px;
	}
	.home-container .card-grid .card:nth-child(even) {
		margin-right: 10px;
	}
	.home-container .card-grid .card:nth-child(3n+3) {
		margin-right: 0;
	}
}
@media (min-width: 1468px) {
	.home-container .card-grid .card {
		width: 322px;
	}
	.home-container .card-grid .card:nth-child(3n+3) {
		margin-right: 10px;
	}
	.home-container .card-grid .card:nth-child(4n+4) {
		margin-right: 0;
	}
}
*/





