body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

// Gotham Narrow Mixins
// Doing it this way because I'm using legacy fallbacks for IE

.fontExtraLight {
	font-family: 'Gotham Narrow SSm 2r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
	font-weight: 200;
	font-style: normal;
}
.fontLight {
	font-family: 'Gotham Narrow SSm 3r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
	font-weight: 300;
	font-style: normal;
}
.fontBook {
	font-family: 'Gotham Narrow SSm 4r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
	font-weight: 400; 
	font-style: normal;
}
.fontMedium {
	font-family: 'Gotham Narrow SSm 5r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
	font-weight: 500;
	font-style: normal;
}
.fontBold {
	font-family: 'Gotham Narrow SSm 7r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
	font-weight: 700;
	font-style: normal;
}
.fontBlack {
	font-family: 'Gotham Narrow SSm 8r', 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', verdana;
	font-weight: 800;
	font-style: normal;
}

// reset for when using non 400 weight in lt-ie9
.fontWeightNormal {
	font-weight: normal !important;
	font-style: normal !important;
}