footer.s4c-footer {
	background: @teal;
	color: @white;
	padding: 4% 0 0;
	h3 {
		font-size: 18px;
	}
	a {
		color: #fff;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
	p.intro {
		.fontLight;
		font-size: 18px;
		line-height: 1.3em;
		max-width: 30em;
	}
	p.small {
		font-size: 14px;
	}
	label.txt {
		padding-bottom: 14px;
	}
	div.s4c-footer-inner {
		.clearfix;
		margin: auto;
		max-width: 680px;
		padding: 10px 20px 4%;
		div.s4c-footer-signup {
			div.s4c-footer-signup-copy {
			}
			div.s4c-footer-signup-form {
				max-width: 26em;
			}
		}
	}
	div.s4c-footer-inner:last-child {
		padding-top: 0;
	}
	button.s4c-btn {
		background: @tealDark;
		padding-left: 50px;
		outline: none;
	}
	div.checkbox-holder {
		margin-bottom: 2px;
		label {
			font-size: 12px;
		}
	}

	div.s4c-footer-other-links {
		.clearfix;
		clear: both;
		div.s4c-footer-other-links-col {
			float: left;
			max-width: 320px;
			width: 50%;
			&:nth-child(even) {
				clear: left;
			}
			> ul {
				margin-bottom: 2em;
				padding-right: 10px;
				li {
					margin: 0 0 .75em;
					> a {
						border-color: rgba(255,255,255,0.6);
						font-size: 14px;
					}
				}
			}
		}
	}

	div.social-media-links {
		background: @rhino;
		overflow: hidden;
		padding-bottom: 4px;
		text-align: center;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			display: inline;
			margin: 0;
			padding: 0;
		}
		a {
			border-bottom: 0px solid rgba(0,0,0,0.95);
			border-radius: 4px;
			.box-shadow(inset 0 -2px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 44px 24px rgba(0,0,0,0), 0 64px 34px rgba(0,0,0,0););
			display: inline-block;
			padding: 20px;
			position: relative;
			.transition;
			svg {
				height: 30px;
				width: 30px;
				path, circle {
					fill: @teal;
					.transition;
				}
			}
		}
		a:hover {
//			background: rgba(255,255,255,0.02);
			.transform(translateY(-4px));
			.box-shadow(inset 0 -2px 0 0 rgba(0,0,0,0.35), 0 6px 8px rgba(0,0,0,0.15), 0 24px 24px rgba(0,0,0,0.25), 0 36px 36px rgba(0,0,0,0.25), 0 64px 64px rgba(0,0,0,0.25), 0 64px 128px rgba(0,0,0,0.25););
			svg {
				path, circle {
					fill: @tealMid;
				}
			}
		}
	}
}

@media (min-width: 560px) {
	footer.s4c-footer div.s4c-footer-other-links div.s4c-footer-other-links-col {
		max-width: 320px;
	}
}

@media (min-width: 670px) {
	footer.s4c-footer div.s4c-footer-inner {
		margin: auto;
		max-width: 660px;
		padding-left: 10px;
	}
}

@media (min-width: 1000px) {
	footer.s4c-footer div.s4c-footer-inner {
		max-width: 990px;
	}
	footer.s4c-footer div.s4c-footer-other-links div.s4c-footer-other-links-col {
		width: 25%;
		&:nth-child(even) {
			clear: none;
		}
	}
}










