@greenBorder: lighten(@green, 5);
@greenTxt: darken(@green, 5);
@alertBorder: lighten(@red, 5);
@alertTxt: darken(@red, 5);

form.swanky-form {
	position: relative;

	p.small {
		font-size: 14px;
		line-height: 1.2em;
		margin: 2em 0;
	}

	h4 {
		color: @grey;
		font-size: 18px;
		font-weight: 700;
		padding: 20px 0 0px;
		margin-bottom: 14px;
	}

	.pin-right {
		bottom: 12px;
		position: absolute;
		right: 0;
	}

	.tooltip {
		position: relative;

		span.why-hover {
			color: @grey;
			display: inline-block;
			.fontLight;
			font-size: 12px;
			position: absolute;
			right: 5px;
		}
		span.svg-icon {
			display: inline-block;
			height: 14px;
			padding: 0 0 0 6px;
			position: relative;
			width: 14px;
			top: 1px;
			
			svg {
				height: 14px;
				width: 14px;

				path {
					fill: @greenBorder;
					.transition;
				}
			}
		}

		&:hover {
			span.svg-icon {
				svg {
					path {
						fill: @greenTxt;
					}
				}
			}
		}
	}

	label.txt {
		color: @grey;
		display: block;
		font-size: 18px;
		font-weight: 700;
		padding: 20px 0 8px;
	}

	.info {
		display: block;
		font-size: 24px;
		margin-right: 20px;
	}

	button.btn {
		border: none;
		cursor: pointer;
		font-size: 18px;
		font-weight: 700;
		overflow: hidden;
		margin-top: 20px;
		padding: 12px 50px 12px 62px;
		position: relative;
		text-transform: uppercase;

		svg {
			position: absolute;
			height: 20px;
			width: 20px;
			left: 26px;
			top: 12px;
		}

		span.button-error {
			background: @alertTxt;
			display: block;
			height: 100%;
			left: 0;
			line-height: 2.5em;
			position: absolute;
			top: -100px;
			.transition(all 0.2s ease-in);
			width: 100%;
			z-index: 1;
		}

		&.clicked {
			span.button-error {
				top: 0;
			}
			&:focus {
				outline: none;
			}
			&:hover {
				box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.35);
				.transform(translateY(0));
			}
		}
	}

	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
		margin: 0;
		-webkit-appearance: none;
	}

	input[type=number] {
		-moz-appearance:textfield;
	}

	div.checkbox-group {
		padding: 1px 0 6px;
	}

	div.radio-group {
		padding: 1px 0 6px;
	}

	div.radio-holder {
		margin: 20px 0;
		padding-left: 40px;
		position: relative;

		input[type="radio"] {
			display: none; 
		}

		label {
			color: @grey;
			display: inline-block;
		}

		a.toggle {
			background: rgba(0,0,0,0.075);
			.border-radius(42px);
			cursor: pointer;
			display: block;
			height: 26px;
			left: 0;
			margin-right: 6px;
			position: absolute;
			top: -5px;
			width: 26px;

			span.svg {
				background: @greenTxt;
				.border-radius(42px);
				display: block;
				height: 26px;
				opacity: 0;
				.transform(scale(0.5));
				.transition(all 0.2s 0s ease-in);
				width: 26px;

				svg {
					height: 10px;
					margin: 8px 0 0 8px;
					width: 10px;

					polygon {
						fill: #fff;
					}
				}
			}
		}

		a.toggle.on {
			span.svg {
				opacity: 1;
				.transform(scale(1));
			}
		}

		a.toggle:hover,
		a.toggle:focus {
			box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.075);
			outline: none;
		}

		a.toggle:focus {
			.box-shadow (0 0 3px @tealContrast);
		}
	}


	div.checkbox-holder {
		margin: 20px 0;
		padding-left: 60px;
		position: relative;

		input[type="checkbox"] {
			display: none;
		}

		label {
			color: @grey;
			display: inline-block;
			a {
				border-bottom: 2px solid transparent;
			}
		}

		&.invalid-input label {
			color: @alertTxt;
			.fontBold;
			a {
				border-bottom: 2px solid @alertBorder;
			}
		}

		a.toggle {
			background: @alertBorder;
			.border-radius(42px);
			cursor: pointer;
			display: block;
			height: 20px;
			left: 0;
			margin-right: 6px;
			position: absolute; 
			.transition(all 0.2s 0s ease-in);
			top: 0;
			width: 42px;

			span.indicator {
				background: @alertTxt;
				.border-radius(26px);
				height: 26px;
				left: -4px;
				position: absolute;
				top: -3px;
				.transform(rotate(45deg));
				.transition(all 0.2s 0s ease-in);
				width: 26px;

				span {
					background: @white;
					display: block;
					position: absolute;
					.transition(all 0.3s 0s ease-in);
				}

				span.row1 {
					height: 2px;
					left: 8px;
					width: 10px;
					top: 12px;
				}

				span.row2 {
					height: 10px;
					left: 12px;
					width: 2px;
					top: 8px;
				}
			}
		}

		a.toggle.on {
			background: @greenBorder;

			span.indicator {
				left: 20px;
				background: @greenTxt;

				span.row1 {
					left: 9px;
					top: 14px;
					width: 5px;
				}

				span.row2 {
					left: 13px;
					top: 6px;
				}
			}
		}

		a.toggle:hover,
		a.toggle:focus {
			box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.075);
			outline: none;
		}

		a.toggle:focus {
			span.indicator {
				.box-shadow (0 0 3px @tealContrast);
			}
		}
	}

	div.input-group {
//		display: inline-block;

		label.txt {
			font-size: 14px;
			padding: 0px 0 8px;
		}

		div.input-group-item {
			display: inline-block;
		}

		div.input-day {
			margin-right: 10px;
			width: 50px;

			label.txt {
				padding-bottom: 10px;
			}

			input {
				text-align: center;
			}
		}

		div.input-month {
			margin-right: 10px;
			width: 240px;

			div.input-holder {
				.transform(translateY(-1px));
			}
		}

		div.input-year {
			width: 80px;

			input {
				text-align: center;
			}
		}
	}

	div.input-holder {
		background: @white;
		.border-radius(4px);
		height: 46px;
		margin-bottom: 24px;
		padding: 6px 12px 6px 64px;
		position: relative;
		.transition(all 0.075s 0s ease-in);

		&.password1-holder {
			margin-bottom: 50px;
			.border-radiuses (4px, 0, 4px, 4px);
		}

		&.no-icon {
			padding-left: 12px;
		}

		&.dropdown {
			select {
				background: url(../img/dropdown.svg) no-repeat right;
				border: 0;
				color: @grey;
				cursor: pointer;
				font-size: 24px;
				.fontBook;
				height: auto;
				margin-top: 4px;
				width: 100%;
				-moz-appearance: none;
				-webkit-appearance: none;

				&:focus {
					outline: none;
				}
			}
			select.default-selected {
				color: @tealMid;
				.fontLight;
			}
		}

		path,
		polygon,
		circle {
			.transition(all 0.15s 0s ease-in);
		}
	
		&.unlocked {
			box-shadow: 0 0 0 2px @alertBorder;

			label svg {
				path,
				polygon,
				cirlce {
					fill: @alertBorder;
					.transition;
				}
			}

			input {
				&::-webkit-input-placeholder {
					color: @alertBorder;
				}
				&:-moz-placeholder {
					color: @alertBorder;
				}
				&::-moz-placeholder {
					color: @alertBorder;
				}
				&:-ms-input-placeholder {
					color: @alertBorder;
				}
			}
		}

		&.locked {
			box-shadow: 0 0 0 2px @greenBorder;

			label svg {
				path,
				polygon,
				circle {
					fill: @greenBorder;
					.transition;
				}

				path.clasp {
					.transform(translateX(-5px));
				}
			}

			input {
				&::-webkit-input-placeholder {
					color: @greenBorder;
				}
				&:-moz-placeholder {
					color: @greenBorder;
				}
				&::-moz-placeholder {
					color: @greenBorder;
				}
				&:-ms-input-placeholder {
					color: @greenBorder;
				}
			}
		}

		&.invalid-input {
			box-shadow: 0 0 0 2px @alertBorder;
			label svg {
				path,
				polygon,
				circle {
					fill: @alertBorder;
				}
			}
		}

		&.valid-input {
			box-shadow: 0 0 0 2px @greenBorder;

			label svg {
				path,
				polygon,
				circle {
					fill: @greenBorder;
				}
			}
		}

		&.focus {
			box-shadow: 0 0 0 2px @teal;

			&.invalid-input {
				box-shadow: 0 0 0 2px @alertTxt;
				label svg {
					path,
					polygon,
					circle {
						fill: @alertTxt;
					}
				}
			}

			&.valid-input {
				box-shadow: 0 0 0 2px @greenTxt;

				label svg {
					path,
					polygon,
					circle {
						fill: @greenTxt;
					}
				}
			}


			&.unlocked {
				box-shadow: 0 0 0 2px @alertTxt;

				label svg {
					path,
					polygon,
					circle {
						fill: @alertTxt;
					}
				}

				input {
					&::-webkit-input-placeholder {
						color: @alertTxt;
					}
					&:-moz-placeholder {
						color: @alertTxt;
					}
					&::-moz-placeholder {
						color: @alertTxt;
					}
					&:-ms-input-placeholder {
						color: @alertTxt;
					}
				}
			}

			&.locked {
				box-shadow: 0 0 0 2px @greenTxt;

				label svg {
					path,
					polygon,
					circle {
						fill: @greenTxt;
					}
				}

				input {
					&::-webkit-input-placeholder {
						color: @greenTxt;
					}
					&:-moz-placeholder {
						color: @greenTxt;
					}
					&::-moz-placeholder {
						color: @greenTxt;
					}
					&:-ms-input-placeholder {
						color: @greenTxt;
					}
				}
			}
		}

		label {
			display: block;
			left: 10px;
			position: absolute;
			height: 14px;
			top: 5px;
			width: 14px;
	
			svg {
				height: 22px;
				margin: 12px 0 0 14px;
				width: 22px;
	
				path,
				polygon,
				circle {
					fill: @tealMid;
				}
			}
		}
	
		input {
			border: 0;
			border-color: @tealContrast;
			color: @grey;
			display: inline-block;
			.fontLight;
			font-size: 24px;
			margin-top: 4px;
			padding: 4px 0 2px;
			.transition;
			width: 100%;
	
			&::-webkit-input-placeholder {
				color: @tealMid;
				.fontLight;
				font-size: 24px;
			}
			&:-moz-placeholder {
				color: @tealMid;
				.fontLight;
				font-size: 24px;
			}
			&::-moz-placeholder {
				color: @tealMid;
				.fontLight;
				font-size: 24px;
			}
			&:-ms-input-placeholder {
				color: @tealMid;
				.fontLight;
				font-size: 24px;
			}
		}
	}
}

input:focus {
	outline: 0;
}



form.swanky-form.on-teal {
	label.txt {
		color: @white;
	}
	.tooltip span.why-hover {
		color: @white;
	}
	div.input-holder {
		input {
			color: @rhino;
		}
		&.focus {
			box-shadow: 0 0 0 2px @tealContrast;
		}
		&.invalid-input {
			box-shadow: 0 0 0 2px #e4634d;
		}
	}
	div.checkbox-holder {
		label {
			color: @white;
			a {
				color: @white;
				.fontBold;
				border-bottom: 1px solid rgba(255,255,255,0.6);
				&:hover,
				&:focus {
					border-bottom: 3px solid rgba(255,255,255,0.6);
				}
			}
		}
		&.invalid-input {
			label {
				.fontBook;
				a {
//					color: #e4634d;
					.fontBold;
					border-bottom: 3px solid fadeout(@alertTxt, 50);
					&:hover,
					&:focus {
						border-bottom: 3px solid rgba(255,255,255,0.6);
					}
				}
			}
		}
		a.toggle {
			background: rgba(255,255,255,0.2);
			border: none;
		}
	}
}





