html {
//	background: @lightBG;
	height: 100%;
}

body {
	background: @offWhite;
//	color: @rhinoMid;
	min-height: 100%;
	overflow-x: hidden;
	box-sizing: border-box; 
	.fontBook;
	line-height: 1;
}

body.bg {
	background: url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover;
}


a {
	border-bottom: 1px solid @greyLight;
	color: @teal;
	text-decoration: none;
	.transition;
}

a:hover, a:focus {
	border-bottom: 3px solid @greyLight;
	color: @tealDark;
	text-decoration: none;
}

a:active {
	color: @rhinoDark;
}

a:visited {
	color: @orange;
}

a:focus {
	outline-color: @tealContrast;
}