div.nav-now-next {
	display: none;
}
a.s4c-logo-toggle {
//	border: 1px solid rgba(0,0,0,0);
	border: 0;
	display: none;
	height: 85px;
	left: 0;
	position: absolute;
	top: 0;
	width: 101px;
	z-index: 10;
	.transition(none);
	img {
		height: 85px;
		width: 101px;
	}
}
a.s4c-logo-toggle.sticky {
//	position: fixed;
//	.transform(translate3d(-100%, 0, 0));
}
div.s4c-toggle-menu {
	display: none;
	min-height: 60px;
	position: absolute;
	right: 0;
	top: 0;
//	width: 100%;
	width: 60px;
	z-index: 100100;
	a {
		border: none;
	}
	a.s4c-toggle-btn:extend(a.s4c-btn all, a.s4c-btn-icon all) {
		position: absolute;
		right: 20px;
		top: 12px;
		.transition(0.2s linear);
		i.material-icons {
			display: block;
			height: 12px;
			margin: 4px 0 0 -25px;
			position: relative;
			top: 1px;
			width: 14px;
			span.row {
				background: #fff;
				display: block;
				height: 2px;
				position: absolute;
				.transition;
				width: 14px;
			}
			span.row1 {
				top: 0;
				.transform-origin(left);
			}
			span.row2 {
				top: 5px;
			}
			span.row3 {
				top: 10px;
				.transform-origin(left);
			}
		}
		&:hover i.material-icons {
			margin-left: -29px;
		}
		span.label {
			display: block;
			.transition;
		}
	}
	&.sticky {
		position: fixed;
/*
		ul.s4c-main-menu {
			left: 60px;
		}
*/
		a.s4c-toggle-btn {
			padding: 7px 1px 7px 39px;
			width: 1px;
			&:after {
				.transform(translate3d(100px,0,0));
			}
			span.label {
				.transform(translate3d(200px,0,0));
			}
			&:hover,
			&:focus {
				i.material-icons {
					margin-left: -25px;
				}
			}
		}
	}
}

html:lang(en) {
	header.s4c-header ul.s4c-main-menu li.s4c-menu-item5 {
		right: 130px;
	}
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  &::-webkit-input-placeholder{
  	font-size: 16px;
  }
}

header.s4c-header {
	position: absolute;
	width: 100%;
	z-index: 1000;
	h3.s4c-nav-title {
		display: none;
	}
	a {
		border: none;
	}
	a.s4c-logo {
		img {
			height: 100px;
			width: 119px;
		}
	}
	ul.s4c-main-menu {
		margin: 0;
		padding: 0;
		position: absolute;
		left: 140px;
		right: 20px;
		top: 34px;
		li {
			display: inline;
			float: left;
			list-style: none;
			margin: 0 0 0 6px;
			padding: 0;
			line-height: 1.3;
			position: relative;
			a.s4c-menu-item-link:extend(a.s4c-btn all, a.s4c-btn-icon all) {}
			&.s4c-menu-item5 {
				padding-right: 12px;
				position: absolute;
				&:after {
					background: rgba(255,255,255,0.25);
					bottom: -4px;
					content: "";
					position: absolute;
					right: 0;
					top: -4px;
					width: 1px;
					height: 44px;
				}
			}
			&.s4c-menu-item6 {
				position: absolute;
				right: 0;
				a.s4c-menu-item-link {
					background: fadeout(@red, 40);
					color: @white;
					padding-left: 26px;
					&:after {
						display: none;
					}
					&:hover,
					&:focus {
						background: @red;
					}
				}
			}
		}
		
	}
	form.s4c-search {
		background: @white;
		.border-radius(4px);
		border: 1px solid @greyLight;
		box-shadow: 0 2px 0 0 rgba(0,0,0,0.05);
		display: inline-block;
		// height: 34px;
		padding: 0 4px 0 12px;
		position: relative;
		> button {
			background: none;
			border: 0;
			padding: 2px 6px 3px;
		}
		.svg-icon {
			font-size: 18px;
			fill: @teal;
			margin-top: -2px;
		}
		&.focus {
			border: 1px solid @tealMid;
			box-shadow: 0 2px 0 0 fadeout(@tealDark, 90);
		}
		label {
			display: block;
			left: 9px;
			position: absolute;
			height: 14px;
			top: 6px;
			width: 14px;
			i.material-icons {
				color: @teal;
				font-size: 20px;
			}
		}
		input {
			border: 0;
			border-color: @tealContrast;
			display: inline-block;
			.fontMedium;
			font-size: 16px;
			// margin-top: 4px;
			padding: 4px 0 2px;
			.transition;
			width: 120px;
			-webkit-appearance: none;
			&::-webkit-input-placeholder {
				color: @teal;
				.fontBook;
			}
			&:-moz-placeholder {
				color: @teal;
				.fontBook;
			}
			&::-moz-placeholder {
				color: @teal;
				.fontBook;
			}
			&:-ms-input-placeholder {
				color: @teal;
				.fontBook;
			}
	
			&:focus {
				outline: 0;
				width: 200px;
			}
		}
	}
}


@media only screen and (min-width: 1075px) {
	header.s4c-header.sticky {
		.animation(fly-down 0.2s 0.3s 1 forwards);
		background: fadeout(@offWhite, 5);
		.box-shadow(0 1px 0 0 rgba(0,0,0,0.1));
		position: fixed;
		top: 0;
		.transform(translate3d(0,-100%,0));
		width: 100%;
		svg.svg-icon {
			fill: @teal;
		}
		a.s4c-logo {
			img {
				height: 60px;
				width: 71px;
			}
		}
		nav ul.s4c-main-menu {
			top: 18px;
			> li {
				margin-left: 24px;
				a.s4c-menu-item-link:extend(a.s4c-icon-link all) {
					// put overwrites in here
					background: transparent;
					.box-shadow(none);
					color: @teal;
					padding: 0;
					i.material-icons {
						margin: -7px 6px 0 0;
						top: 1px;
					}
					&:after {
						display: none;
					}
					&.s4c-drop-down-nav {
						padding-right: 18px;
						span.arrow {
							right: 5px;
							top: 5px;
							&:before,
							&:after {
								background: @teal;
							}
						}
						&.show {
							&:after {
								box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2) !important;
								opacity: .2;
							}
							span.arrow {
								right: 2px;
								top: 10px;
							}
						}
					}
					&:focus,
					&:hover {
						background: transparent;
					}
				}
				&.s4c-menu-item5 {
					a.s4c-menu-item-link:extend(a.s4c-icon-link-red all) {
						color: @red;
						svg.svg-icon {
							fill: @red;
						}
					}
				}
			}
			> li.s4c-menu-item5 {
				padding-right: 17px;
				right: 86px;
				&:after {
					background: rgba(0,0,0,0.1);
					top: -11px;
				}
			}
			> li.s4c-menu-item6 {
				a.s4c-menu-item-link {
					color: @red;
				}
			}
		}
		form.s4c-search {
			height: 30px;
			top: -4px;
			label i.material-icons {
				font-size: 18px;
			}
			input {
				margin-top: 2px;
			}
		}
	}
}


// drop down

// colours
@darkTeal: #008a93;
@teal: #0096a1;
@border: #00757d;
@darkGrey: @greyMid;

// timing
@dropDur: 0.1s;
@delayFactor: 4;


div.context-menu {
 
	position: absolute;
	top: 50px;
	left: 0;
	
	background: @offWhite;
	border-radius: 4px;
	.box-shadow(0 1px 0px 0 rgba(0, 0, 0, 0.1), 0 10px 12px rgba(0,0,0,0.2););
	display: none;
	font-weight: 400;
	font-size: 14px;
	.transition(all @dropDur ease-in);
	width: 200px;

	&:after {
/*
		bottom: 100%;
		border: solid transparent;
		border-bottom-color: @offWhite;
		border-color: rgba(0, 0, 0, 0);
		border-width: 8px;
		content: " ";
		height: 0;
		left: 28px;
		margin-left: -8px;
		pointer-events: none;
		position: absolute;
		width: 0;
*/
		background: @offWhite;
		.box-shadow(0 1px 0px 0 rgba(0, 0, 0, 0.1), 10px 10px 12px rgba(0,0,0,0.2););
		.border-radius(4px);
		content: "";
		display: block;
		height: 18px;
		left: 18px;
		position: absolute;
		top: -6px;
		.transform(rotate(45deg));
		width: 18px;
	}	
	> ul {
		border-radius: 4px;
		margin: 0;
		overflow: hidden;
		padding: 0;

		> li {
			list-style: none;
			margin: 0 0 2px 0;
			padding: 0;
			> a:hover {
				span {
					opacity: 1;
				}
				span.arrow {
					margin-left: -26px;
				}
			}
			> a {
				background: @offWhite;
				border-bottom: 1px solid rgba(0,0,0,0.025);
				color: @teal;
				display: block;
				margin-bottom: 1px;
				padding: 12px 20px 11px 48px;
				position: relative;
				text-decoration: none;
				width: 100%;
				span {
					opacity: 0.8;
					position: relative;
					.transition(all 0.3s ease-in);
					z-index: 10;
				}
				&:after {
					background: @darkTeal;
					box-shadow: inset 220px 0 0 rgba(0,0,0,0.25);
					content: "";
					height: 100%;
					left: 220px;
					position: absolute;
					.transform(skew(-12deg));
					.transition(all 0.3s ease-in);
					top: 0;
					width: 100%;
					z-index: 5;
				}
				span.arrow {
					border-right: 1px solid rgba(0,0,0,0.25);
					border-top: 1px solid rgba(0,0,0,0.25);
					display: block;
					float: left;
					height: 8px;
					margin: 2px 0 0 -32px;
					.transform(rotate(45deg));
					.transition(all 0.1s ease-in);
					width: 8px;
				}
			}
		}
		> li:first-child a {
			padding-top: 14px;
		}
		> li:last-child a {
			margin-bottom: 0;
			padding-bottom: 14px;
		}
		li:nth-child(1) a {
			z-index: 20;
		}
		li:nth-child(2) a {
			.transition(all @dropDur ease-in);
			z-index: 19;
		}
		li:nth-child(3) a {
			.transition(all @dropDur (@dropDur/@delayFactor) ease-in);
			z-index: 18;
		}
		li:nth-child(4) a {
			.transition(all @dropDur ((@dropDur/@delayFactor)*2) ease-in);
			z-index: 17;
		}
		li:nth-child(5) a {
			.transition(all @dropDur ((@dropDur/@delayFactor)*3) ease-in);
			z-index: 16;
		}
	}
	&.hide {
		box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1);
		opacity: 0;
		.transform(translateY(-24px));
		ul {
			li:nth-child(1) a {
			}
			li:nth-child(2) a {
				margin-top: -52px;
				.transition(all 0.3s ease-in);
			}
			li:nth-child(3) a {
				margin-top: -52px;
				.transition(all 0.3s 0.1s ease-in);
			}
			li:nth-child(4) a {
				margin-top: -52px;
				.transition(all 0.3s 0.2s ease-in);
			}
			li:nth-child(5) a {
				margin-top: -56px;
				.transition(all 0.3s 0.3s ease-in);
			}
		}
	}
}



// mobile nav

// think abotu something different here
// move the styling to a pseudo element
// so the overlay is always 100% w/h
// that way any clicks are captured
// rather than the annoying missing corner
div.s4c-main-overlay {
	background: @rhino;
	display: none;
	height: 100%;
	min-width: 400px;
	position: fixed;
	width: 150%;
	top: 0;
	.transition(0.4s ease);
	.transform(skew(-12deg) translate3d(100%,0,0));
	z-index: 88888;
}

@media only screen and (max-width: 1074px) {


	// super specific selectors
	html:lang(en) header.s4c-header ul.s4c-main-menu li.s4c-menu-item5 {
		right: 0;
	}
	header.s4c-header ul.s4c-main-menu li a.s4c-menu-item-link.s4c-drop-down-nav span.arrow {
		top: 19px;
	}
	header.s4c-header ul.s4c-main-menu li a.s4c-menu-item-link.s4c-drop-down-nav.show span.arrow {
		top: 20px;
	}
	.show-nav div.s4c-toggle-menu a.s4c-toggle-btn {
		background: #2fa7b0;
	}



	// back to the more general stuff
	body {
		padding-top: 0 !important;
	}
	header.s4c-header ul.s4c-main-menu li.s4c-menu-item2 {
		.transition(all @dropDur 0s ease-in);
	}
	header.s4c-header ul.s4c-main-menu li.s4c-menu-item2.show {
		margin: 0 0 24px;
	}
	header.s4c-header {
		position: fixed;
		min-height: 100%;
		right: 0;
		top: 0;
		.transform(translate3d(200%,0,0));
		.transition(0.3s 0.15s ease);
		width: 280px;
		z-index: 100003;
		&:after {
			background: @greyLight;
			.box-shadow(-8px 0 20px rgba(0,0,0,0.25));
			content: "";
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			transform-origin: top;
			.transform(skew(-12deg) translate3d(10%,0,0));
			.transition(0.3s 0.15s ease);
			top: 0;
			width: 250%;
			z-index: 10;	
		}
		nav {
			min-height: 100%;
			overflow-y: scroll;
			position: absolute;
			right: 0;
			top: 0;
			.transform(translate3d(100%,0,0));
			.transition(0.3s 0s ease);
			width: 280px;
			z-index: 20;
			div.nav-now-next {
				display: block;
				position: absolute;
				right: 20px;
				top: 400px;
				width: 225px;
				.transition(all 0.2s 0.2s ease-in);
				&.hide {
					opacity: 0;
					.transition(all 0.2s 0s ease-in);
				}
				> div {
					font-weight: 800;
					line-height: 1em;
					padding-left: 120px;
					&:first-child {
						margin: 30px 0 40px;
					}
					img {
						float: left;
						margin-left: -120px;
						width: 110px;
					}
					h3 {
						color: @teal;
						font-size: 11px;
						margin: 0;
						padding: 0;
					}
					h4 {
						color: @rhino;
						letter-spacing: -0.05em;
						margin: 0;
						padding: 0;
					}
					span {
						color: @greyMid;
						font-size: 11px;
					}
				}
				& div:last-child {
					opacity: 0.6;
				}
			}
			a.s4c-logo {
				display: none;
			}
			ul.s4c-main-menu {
				left: auto;
				padding-top: 142px;
				right: 21px;
				width: 225px;
				top: 0;
				li.s4c-menu-item5 {
					padding-right: 0;
					top: 64px;
				}
				li.s4c-menu-item6 {
					right: 63px;
					text-align: right;
					top: 14px;
					&:after {
						background: #dcdede;
						bottom: 0;
						content: "";
						position: absolute;
						top: -2px;
						width: 1px;
					}
					a.s4c-menu-item-link {
						background: none;
						.box-shadow(none);
						color: @red;
						font-weight: 500;
						display: inline-block;
						font-weight: 600;
						padding: 6px 14px 2px;
						top: 0;
					}
				}
				> li {
					display: block;
					float: none;
					margin-bottom: 4px;
					margin-left: 0;
					a.s4c-menu-item-link {
//						background: #2fa7b0;
						background: #1c969f;
						font-weight: 500;
						padding: 14px 26px 14px 42px;
						width: 157px;
						&:after {
							background: #2fa7b0;
						}
					}
					a.s4c-drop-down-nav {
						width: 143px;
					}
				}
				li.s4c-menu-item5 {
					a.s4c-menu-item-link {
						background: transparent;
						color: @red;
						&:hover {
							background: transparent;
							.transform(translate3d(0,0,0));
						}
						&:active {
							background: transparent;
						}
						i.material-icons {
							border-color: @red;
							svg.svg-icon {
								fill: @red;
							}
						}
					}
				}
			}
			form.s4c-search {
				border: none;
				.box-shadow(0 0 0 1px #dcdede);
				height: auto;
				margin-top: 8px;
				padding: 0 3px 4px 10px;
				input {
					padding: 8px 0 10px 6px;
					width: 170px;
					::-webkit-input-placeholder{
					  	font-size: 16px;
				    }
				}
				input:focus {
					width: 171px;
				}
				i.material-icons {
					position: relative;
					top: 2px;
				}
			}
		}
		div.context-menu {
			background: @greyLight;
			.box-shadow(0 0 0 2px #dcdede);
			left: 0;
			padding: 0;
			position: relative;
			top: 12px;
			width: 100%;

			&:after, &:before {
				bottom: 100%;
				left: 22px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(233, 234, 234, 0);
				border-bottom-color: #e9eaea;
				border-width: 8px;
				margin-left: -8px;
				background: transparent;
				.box-shadow(none);
				.border-radius(0);
		//		display: block;
				top: auto;
				.transform(rotate(0deg));
			}
			&:before {
				border-color: rgba(219, 221, 221, 0);
				border-bottom-color: #dbdddd;
				border-width: 11px;
				margin-left: -11px;
			}
			> ul {
/*
				margin: 12px 0 24px;
				padding: 10px 0;
*/
				margin: 0;
				padding: 0;

				> li {
					display: block;
					float: none;
					&:first-child {
//						margin-top: 12px;
						padding-top: 8px;
					}
					&:last-child {
						padding-bottom: 8px;
					}
					> a {
						background: transparent;
						border: none;
						padding: 4% 20% 4% 2%;
						width: 78%;
						&:after {
							display: none;
						}
						span{
							font-size: 14px;
						}
						span.arrow {
							position: absolute;
							right: 19px;
							top: 11px;
						}
					}
					&:hover {
						span.arrow {
							right: 15px;
						}
					}
				}
			}

			&.hide {
				top: 0;
				> ul {
/*
					margin: 0;
					padding: 0;
*/
				}
			}

		}
	}
	a.s4c-logo-toggle {
		display: block;
	}
	div.s4c-toggle-menu {
		display: block;
	}
	div.s4c-main-overlay {
		display: block;
	}
	div.context-menu {
		&:after {
//			display: none;
		}
	}
	body.show-nav {
		header.s4c-header {
			.transform(translate3d(0,0,0));
//			.transition(all 0.2s 0.1s ease);
			.transition(0.3s 0s ease);
			&:after {
				.transform(skew(-12deg) translate3d(0,0,0));
				.transition(0.3s 0s ease);
			}
/*
			nav ul.s4c-main-menu {
				.transform(translate3d(0,0,0));
			}
*/

			nav {
				.transform(translate3d(0,0,0));
				.transition(0.3s 0.2s ease);
			}
		}
		div.s4c-main-overlay {
			background: fadeout(@rhino,10);
			.transform(skew(-12deg) translate3d(-25%,0,0));
		}
		div.s4c-main-container {
			height: 100%;
			overflow: hidden;
			position: fixed;
			top: 0;
			width: 100%;
		}
/*
		a.s4c-logo-toggle,
		a.s4c-logo-toggle.sticky {
			top: 0 !important;
			.transform(translate3d(-100%, 0, 0));
		}
*/
		div.s4c-toggle-menu {
			top: 0 !important;
			a.s4c-logo-toggle  {
//				.transform(translate3d(-100%, 0, 0));
			}
			a.s4c-toggle-btn {
//				background: @offWhite;
//				border: 1px solid @teal;
				padding: 8px 1px 12px 39px;
				width: 1px;
				&:after {
					.transform(translate3d(100px,0,0));
				}
				span.label {
					.transform(translate3d(200px,0,0));
				}
				i.material-icons {
					.transform(translate3d(2px, 0, 0));
					span.row {
						background: @white;
					}
					span.row1 {
						.transform(rotate(45deg));
					}
					span.row2 {
						.transform(scale3d(0,1,0));
					}
					span.row3 {
						.transform(rotate(-45deg));
					}
				}
				&:hover,
				&:focus {
					i.material-icons {
						margin-left: -25px;
					}
				}
			}
		}
		a.s4c-menu-item-link.s4c-drop-down-nav.show {
//			margin-bottom: 24px;
		}

	}
}


@media only screen and (max-width: 525px) {

	a.s4c-logo-toggle {
		img {
			height: 60px;
			width: 71px;
		}
	}

}









// some animation keyframes
// I'm putting them here because I'm not sure where I should put them right now
@-webkit-keyframes fly-down {
	0% {
		-webkit-transform: translate3d(0,-100%,0);
	}
	100% {
		-webkit-transform: translate3d(0,0,0);
	}
}
@-moz-keyframes fly-down {
	0% {
		-moz-transform: translate3d(0,-100%,0);
	}
	100% {
		-moz-transform: translate3d(0,0,0);
	}
}
@-o-keyframes fly-down {
	0% {
		-o-transform: translate3d(0,-100%,0);
	}
	100% {
		-o-transform: translate3d(0,0,0);
	}
}
@keyframes fly-down {
	0% {
		transform: translate3d(0,-100%,0);
	}
	100% {
		transform: translate3d(0,0,0);
	}
}




