div.corporate {
	background: #fff;
	.clearfix;
	margin: auto;
	div.links {
		h3 {
			border-bottom: 1px solid @greyLight;
			margin: 0;
			padding: 0.75em 20px;
			font-size: 16px;
			font-weight: 200;
			position: relative;
			.transition(border 0.2s 0.3s ease-in);
			i.material-icons {
				position: absolute;
				right: 10px;
				.transition;
				svg {
					fill: @teal;
				}
			}
		}
		h3.show {
			border-bottom: rgba(0,0,0,0);
			.transition(border 0s 0s ease-in);
			i.material-icons {
				.transform(rotate(180deg) translateY(-2px));
			}
		}
		&:first-child h3 {
			border-top: none;
		}
		div.links-content {
			border-bottom: 1px solid @greyLight;
			display: none;
			> ul {
				margin: 0;
				padding: 10px 20px 0;
				> li {
					font-size: 14px;
					list-style: none;
					margin: 0;
					padding: 0 0 1.5em;
					a {
						border: none;
						color: @rhinoMid;
						font-weight: 700;
						display: block;
						letter-spacing: -0.025em;
						max-width: 85%;
					}
					a:hover {
						color: @teal;
					}
				}
			}
			a.s4c-icon-link {
				border: none;
				color: @teal;
				display: inline-block;
				font-size: 14px;
				margin-bottom: 1em;
				padding: 10px 20px;
				i.material-icons {
					top: -1px;
					svg {
						fill: @teal;
						height: 16px;
						.transition;
						width: 16px;
					}
				}
			}
			a.s4c-icon-link:hover {
				color: @tealMid;
				i.material-icons {
					svg {
						fill: @tealMid;
					}
				}
			}
		}
	}
}

div.home-container {
	margin: 8em auto 0;
	max-width: 320px;
}

@media (min-width: 670px) {

	div.corporate {
		div.corporate-inner {
			.clearfix;
			margin: 4em auto;
			max-width: 660px;
			padding-left: 10px;
		}
		div.links {
			float: left;
			margin: 0 10px 10px 0;
			width: 320px;
			div.links-content {
				border: none;
				display: block !important;
				> ul {
					padding-left: 0;
					li {
						display: none;
						padding-bottom: 0.5em;
					}
					li:first-child {
						display: block;
					}
				}
				a.s4c-icon-link {
					margin-left: 0;
					padding: 10px 0;
				}
			}
			h3 {
				padding-left: 0;
				i.material-icons {
					display: none;
				}
			}
			h3.show {
				border-bottom: 1px solid @greyLight;
			}
		}
		div.links:nth-child(odd) {
			clear: left;
		}
	}

}


@media (min-width: 810px) {
/*
	div.home-container {
	}
	div.corporate {
		div.corporate-inner {
			max-width: 640px;
		}
	}
*/
}

@media (min-width: 1000px) {
	div.corporate {
		div.corporate-inner {
			max-width: 990px;
			div.links:nth-child(odd)  {
				clear: none;
			}
			div.links:nth-child(4) {
				clear: left;
			}
		}
	}
}

@media (min-width: 1075px) {
	div.home-container {
		max-width: 960px;
	}
}


@media (min-width: 1330px) {
	div.corporate {
		div.corporate-inner {
			max-width: 1320px;
			div.links:nth-child(4) {
				clear: none;
			}
			div.links.w2 {
				margin-bottom: 30px;
				h3 {
					font-size: 18px;
					line-height: 1.1em;
				}
				div.links-content {
					> ul li {
						display: block;
						font-size: 20px;
						padding-bottom: 1.5em;
						a {
							max-width: 95%;
						}
					}
					a.s4c-icon-link {
						font-size: 16px;
					}
				}
			}
		}
	}
}


@media (min-width: 1468px) {
	div.home-container {
		max-width: 1320px;
	}
}


@media (min-width: 1660px) {
	div.corporate {
		div.corporate-inner {
			padding: 2em 0;
			max-width: 1650px;
			div.links.w2 {
				width: 485px;
				div.links-content > ul {
					li:first-child {
						font-size: 24px;
					}
					li {
						a {
							max-width: 85%;
						}
					}
				}
			}
		}
	}
}


@media (min-width: 1990px) {
	div.corporate {
		div.corporate-inner {
			padding: 4em 0;
			max-width: 1980px;
			div.links.w2 {
				margin-right: 100px;
				width: 560px;
				div.links-content > ul {
					li:first-child {
						font-size: 24px;
					}
					li {
						a {
							max-width: 85%;
						}
					}
				}
			}
		}
	}
}






