.iosslider-heading {
	letter-spacing: -0.05em;
	padding: 1.6em 0 0.4em 12px;
	margin: 1em auto 0;
	max-width: 1312px;
}


.iosslider {
	left: 0;
	margin: 0 auto 2em;
	max-width: 1312px;
	min-height: 180px;
	overflow: hidden;
	padding: 0 72px 20px;
	position: relative;
	top: 0;
	div.prevButton,
	div.nextButton {
		background: @white;
		background: rgba(255,255,255,0.95);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
		position: absolute;
		height: 180px;
		top: 0;
		width: 70px;
		svg {
			height: 28px;
			position: absolute;
			top: 76px;
			.transition(all 0.15s ease-in);
			width: 28px;
			polygon {
				fill: @teal;
				height: 28px;
				width: 28px;
			}
		}
	}
	div.prevButton {
		background: rgba(255,255,255,0.95);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0.95)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
		box-shadow: 4px 0 0 rgba(0,0,0,0.035), 2px 0 0 rgba(0,0,0,0.045);
		left: 0;
		svg {
			left: 20px;
		}
		&:hover {
			svg {
				.transform(translateX(-6px));
			}
		}
	}
	div.nextButton {
		background: rgba(255,255,255,0.95);
		background: -moz-linear-gradient(left, rgba(255,255,255,0.95) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.95)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 0%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,0.95) 0%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,0.95) 0%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0.95) 0%, rgba(255,255,255,1) 100%);
		box-shadow: -4px 0 0 rgba(0,0,0,0.035), -2px 0 0 rgba(0,0,0,0.045);
		right: 0;
		svg {
			right: 20px;
		}
		&:hover {
			svg {
				.transform(translateX(6px));
			}
		}
	}

	div.scrollbarBlock1, div.scrollbarBlock2, div.scrollbarBlock3, div.scrollbarBlock4, div.scrollbarBlock5,
	div.scrollbarBlock6, div.scrollbarBlock7, div.scrollbarBlock8, div.scrollbarBlock9, div.scrollbarBlock10 {
		padding: 0 72px;
		&:before {
			background: rgba(0,0,0,0.1);
			content: "";
			display: block;
			height: 1px;
			left: 72px;
			position: absolute;
			right: 72px;
			top: 2px;
		}
		> div {
			box-shadow: none !important;
		}
	}
	.slider {
		height: 100%;
		width: 100%;
		.slide {
			float: left;
			height: 180px;
			margin: 0 2px;
			width: 320px;
		}
	}
}


@media (max-width: 1468px) {
	h2.iosslider-heading {
		max-width: 984px;
	}
	.iosslider-heading, .iosslider {
		max-width: 984px; // 3 cards
	}
}

@media (max-width: 1136px) {
	h2.iosslider-heading {
		max-width: 656px;
	}
	.iosslider-heading, .iosslider {
		max-width: 656px; // 2 cards
	}
}

@media (max-width: 810px) {
	h2.iosslider-heading {
		max-width: 328px;
	}
	.iosslider-heading, .iosslider {
		max-width: 328px; // 1 card
	}
}


@media (max-width: 480px) {
	h2.iosslider-heading {
		padding-left: 20px;
	}
	.iosslider-heading,
	.iosslider {
		padding-left: 0;
		padding-right: 0;
		max-width: none;
		width: 100%;
	}
	.iosslider {
		div.scrollbarBlock1, div.scrollbarBlock2, div.scrollbarBlock3, div.scrollbarBlock4, div.scrollbarBlock5,
		div.scrollbarBlock6, div.scrollbarBlock7, div.scrollbarBlock8, div.scrollbarBlock9, div.scrollbarBlock10 {
			padding: 0;
			&:before {
				left: 4px;
				right: 4px;
			}
		}
		div.prevButton, div.nextButton {
			display: none;
		}
	}
}




