@import 	"variables.less";
@import 	"mixins.less";

@animateDur: 1.2s;

div.s4c-large-slider {
	background: @rhinoDark;
	height: 75%;
	overflow: hidden;
	position: relative;
	div.s4c-large-slider-controls {
		bottom: 50px;
		position: absolute;
		left: 100px;
		z-index: 30;
		a.control {
			line-height: 1em;
			padding: 18px;
			i.play-icon {
				display: none;
			}
			svg {
				height: 28px;
				width: 28px;
			}
			&.paused {
				i.play-icon {
					display: block;
				}
				i.pause-icon {
					display: none;
				}
			}
		}
	}
	ul.s4c-pips {
		bottom: 10px;
		left: 50%;
		margin: 0;
		padding: 0;
		position: absolute;
		.transform(translateX(-50%));
		z-index: 30;
		li.s4c-pip {
			display: inline-block;
			margin: 10px;
			padding: 0;
			a {
				background: @teal;
				border-bottom: none;
				.border-radius(20px);
				display: block;
				height: 20px;
				padding: 0;
				width: 20px;
			}
			&.on a {
				background: @tealContrast;
			}
		}
	}
	div.big-swipe {
		background: @teal;
		height: 100%;
		position: absolute;
		right: -120%;
		top: 0;
		.transform(skew(-12deg));
		width: 110%;
		z-index: 10;
		&.left {
			-webkit-animation:	left-big-swipe 1.4s 1 forwards;
			-moz-animation:		left-big-swipe 1.4s 1 forwards;
			-o-animation:		left-big-swipe 1.4s 1 forwards;
			animation:			left-big-swipe 1.4s 1 forwards;
		}
		&.right {
			-webkit-animation:	right-big-swipe 1.4s 1 forwards;
			-moz-animation:		right-big-swipe 1.4s 1 forwards;
			-o-animation:		right-big-swipe 1.4s 1 forwards;
			animation:			right-big-swipe 1.4s 1 forwards;
		}
	}
	ul.s4c-large-slider-container {
		height: 100%;
		left: 0;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 5;
		&.left {
			li.s4c-large-slide {	
				div.slide-content  {
					-webkit-animation:	left-slide @animateDur 1 forwards;
					-moz-animation:		left-slide @animateDur 1 forwards;
					-o-animation:		left-slide @animateDur 1 forwards;
					animation:			left-slide @animateDur 1 forwards;
				}
				&:before {
					-webkit-animation:	left-slide-slash @animateDur 1 forwards;
					-moz-animation:		left-slide-slash @animateDur 1 forwards;
					-o-animation:		left-slide-slash @animateDur 1 forwards;
					animation:			left-slide-slash @animateDur 1 forwards;
				}
			}
		}
		&.right {
			li.s4c-large-slide {
				div.slide-content  {
					-webkit-animation:	right-slide @animateDur 1 alternate backwards;
					-moz-animation:		right-slide @animateDur 1 alternate backwards;
					-o-animation:		right-slide @animateDur 1 alternate backwards;
					animation:			right-slide @animateDur 1 alternate backwards;
				}
				&:before {
					-webkit-animation:	right-slide-slash @animateDur 1 alternate backwards;
					-moz-animation:		right-slide-slash @animateDur 1 alternate backwards;
					-o-animation:		right-slide-slash @animateDur 1 alternate backwards;
					animation:			right-slide-slash @animateDur 1 alternate backwards;
				}
			}
		}
	}
	li.s4c-large-slide {
		height: 100%;
		float: left;
		overflow: hidden;
		position: relative;
		.perspective(1000);
		width: 100%;
/*
		div.big-icon {
			top: 50%;
			left: 50%;
			margin: -300px 0 0 -300px;
			position: absolute;
			z-index: 10;
			i.material-icons {
				svg.svg-icon {
					height: 600px;
					width: 600px;
				}
			}
		}
*/
		&:after {
			background: url(../img/large-slide-gradient.png) repeat-y right;
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 10;
		}
		&:before {
			background: rgba(255,255,255,0.1);
			content: "";
			display: block;
			right: 640px;
			position: absolute;
			height: 100%;
			.transform-origin(bottom);
			.transform(skew(-12deg));
			width: 1px;
			z-index: 15;
		}
		div.image-background {
			background-position: top center;
			background-size: cover;
			height: 100%;
			opacity: 0.9;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}
		div.slide-content {
			bottom: 50px;
			color: #fff;
			.fontMedium;
			right: 100px;
			position: absolute;
			width: 320px;
			z-index: 20;
			h2 {
				font-size: 36px;
				line-height: 40px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				span.sub {
					display: block;
					font-size: 24px;
				}
			}
			p {
				.fontBook;
				font-size: 18px;
				margin-bottom: 1em;
				max-width: 21em;
			}
			div.actions {
				padding-top: 1em;
				a.s4c-btn {
					margin-bottom: 4px;
				}
			}
		}
	}
}



// media queries for width

@media (max-width: 1310px) {
	div.s4c-large-slider li.s4c-large-slide:before {
		right: 600px;
	}
}


@media (max-width: 1074px) {
	div.s4c-large-slider {
		ul.s4c-pips li.s4c-pip a {
			height: 16px;
			width: 16px;
		}
		div.s4c-large-slider-controls {
			left: 40px;
		}
		li.s4c-large-slide {
			&:before {
				right: 500px;
			}
			div.slide-content {
				right: 40px;
				h2 {
					font-size: 30px;
					line-height: 36px;
					span.sub {
						font-size: 20px;
					}
				}
				p {
					font-size: 16px;
				}
			}
		}
	}	
}


@media (max-width: 768px) {
	div.s4c-large-slider {
		ul.s4c-pips li.s4c-pip a {
			height: 12px;
			width: 12px;
		}
	}
}


@media (max-width: 580px) {
	div.s4c-large-slider {
		div.s4c-large-slider-controls {
			bottom: 24px;
			left: 50%;
			margin-left: -160px;	
			width: 320px;
		}
		ul.s4c-pips {
			display: none;
		}
		li.s4c-large-slide {
			&:before {
				left: -60px;
				right: auto;
			}
			div.slide-content {
				bottom: 144px;
				left: 50%;
				margin-left: -160px;
				right: auto;
			}
		}
	}
}

@media (max-width: 360px) {
	div.s4c-large-slider {
		div.s4c-large-slider-controls {
			left: 0;
			margin: 0 20px;
			width: 280px;
		}
		li.s4c-large-slide {
			div.slide-content {
				left: 0;
				margin: 0 20px;
				width: 280px;
			}
		}
	}
}


// media queries for height {
@media (max-height: 500px) {
	div.s4c-large-slider {
		div.slide-content p {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}




// Animation
// slide inner animation

/* go left */
@-webkit-keyframes left-slide {
	0%		{ opacity: 1; -webkit-transform: translateX(0); }
	25%		{ opacity: 0; -webkit-transform: translateX(-100%); }
	75%		{ opacity: 0; -webkit-transform: translateX(100%); }
	100%		{ opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes left-slide {
	0%		{ opacity: 1; -moz-transform: translateX(0); }
	25%		{ opacity: 0; -moz-transform: translateX(-100%); }
	75%		{ opacity: 0; -moz-transform: translateX(100%); }
	100%		{ opacity: 1; -moz-transform: translateX(0); }
}
@-o-keyframes left-slide {
	0%		{ opacity: 1; -o-transform: translateX(0); }
	25%		{ opacity: 0; -o-transform: translateX(-100%); }
	75%		{ opacity: 0; -o-transform: translateX(100%); }
	100%		{ opacity: 1; -o-transform: translateX(0); }
}
@keyframes left-slide {
	0%		{ opacity: 1; transform: translateX(0); }
	25%		{ opacity: 0; transform: translateX(-100%); }
	75%		{ opacity: 0; transform: translateX(100%); }
	100%		{ opacity: 1; transform: translateX(0); }
}

@-webkit-keyframes left-slide-slash {
	0%		{ opacity: 1; -webkit-transform: translateX(0) skew(-12deg); }
	25%		{ opacity: 0; -webkit-transform: translateX(-900px) skew(-12deg); }
	75%		{ opacity: 0; -webkit-transform: translateX(900px) skew(-12deg); }
	100%		{ opacity: 1; -webkit-transform: translateX(0) skew(-12deg); }
}
@-moz-keyframes left-slide-slash {
	0%		{ opacity: 1; -moz-transform: translateX(0) skew(-12deg); }
	25%		{ opacity: 0; -moz-transform: translateX(-900px) skew(-12deg); }
	75%		{ opacity: 0; -moz-transform: translateX(900px) skew(-12deg); }
	100%		{ opacity: 1; -moz-transform: translateX(0) skew(-12deg); }
}
@-o-keyframes left-slide-slash {
	0%		{ opacity: 1; -o-transform: translateX(0) skew(-12deg); }
	25%		{ opacity: 0; -o-transform: translateX(-900px) skew(-12deg); }
	75%		{ opacity: 0; -o-transform: translateX(900px) skew(-12deg); }
	100%		{ opacity: 1; -o-transform: translateX(0) skew(-12deg); }
}
@keyframes left-slide-slash {
	0%		{ opacity: 1; transform: translateX(0) skew(-12deg); }
	25%		{ opacity: 0; transform: translateX(-900px) skew(-12deg); }
	75%		{ opacity: 0; transform: translateX(900px) skew(-12deg); }
	100%		{ opacity: 1; transform: translateX(0) skew(-12deg); }
}


@-webkit-keyframes left-big-swipe {
	0%		{
//		-webkit-box-shadow: 	-10px 0px 10px rgba(0,0,0,0.6), 	inset -90px 0px 90px rgba(0,0,0,0.1);
		-webkit-box-shadow: 	none;
		right: -60%;
		width: 50%;
	}
	100%		{
//		-webkit-box-shadow: 	-90px 0px 90px rgba(0,0,0,0.1), 	inset -4px 0px 4px rgba(0,0,0,0.4);
		-webkit-box-shadow: 	none;
		right: 120%;
		-webkit-transform: translateX(0) skew(-12deg);
		width: 100%;
	}
}
@-moz-keyframes left-big-swipe {
	0%		{
//		-moz-box-shadow: 	-10px 0px 10px rgba(0,0,0,0.6), 	inset -90px 0px 90px rgba(0,0,0,0.1);
		-moz-box-shadow: 	none;
		right: -60%;
		width: 50%;
	}
	100%		{
//		-moz-box-shadow: 	-90px 0px 90px rgba(0,0,0,0.1), 	inset -4px 0px 4px rgba(0,0,0,0.4);
		-moz-box-shadow: 	none;
		right: 120%;
		-moz-transform: translateX(0) skew(-12deg);
		width: 100%;
	}
}
@-o-keyframes left-big-swipe {
	0%		{
//		-o-box-shadow: 	-10px 0px 10px rgba(0,0,0,0.6), 	inset -90px 0px 90px rgba(0,0,0,0.1);
		-o-box-shadow: 	none;
		right: -60%;
		width: 50%;
	}
	100%		{
//		-o-box-shadow: 	-90px 0px 90px rgba(0,0,0,0.1), 	inset -4px 0px 4px rgba(0,0,0,0.4);
		-o-box-shadow: 	none;
		right: 120%;
		-o-transform: translateX(0) skew(-12deg);
		width: 100%;
	}
}
@keyframes left-big-swipe {
	0%		{
//		box-shadow: 	-10px 0px 10px rgba(0,0,0,0.6), 	inset -90px 0px 90px rgba(0,0,0,0.1);
		box-shadow: 	none;
		right: -60%;
		width: 50%;
	}
	100%		{
//		box-shadow: 	-90px 0px 90px rgba(0,0,0,0.1), 	inset -4px 0px 4px rgba(0,0,0,0.4);
		box-shadow: 	none;
		right: 120%;
		transform: translateX(0) skew(-12deg);
		width: 100%;
	}
}




/* go right */
@-webkit-keyframes right-slide {
	0%		{ opacity: 1; -webkit-transform: translateX(0); }
	25%		{ opacity: 0; -webkit-transform: translateX(100%); }
	75%		{ opacity: 0; -webkit-transform: translateX(-100%); }
//	25%		{ opacity: 1; -webkit-transform: translateX(100%); }
//	75%		{ opacity: 1; -webkit-transform: translateX(-100%); }
	100%		{ opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes right-slide {
	0%		{ opacity: 1; -moz-transform: translateX(0); }
	25%		{ opacity: 0; -moz-transform: translateX(100%); }
	75%		{ opacity: 0; -moz-transform: translateX(-100%); }
//	25%		{ opacity: 1; -moz-transform: translateX(100%); }
//	75%		{ opacity: 1; -moz-transform: translateX(-100%); }
	100%		{ opacity: 1; -moz-transform: translateX(0); }
}
@-o-keyframes right-slide {
	0%		{ opacity: 1; -o-transform: translateX(0); }
	25%		{ opacity: 0; -o-transform: translateX(100%); }
	75%		{ opacity: 0; -o-transform: translateX(-100%); }
//	25%		{ opacity: 1; -o-transform: translateX(100%); }
//	75%		{ opacity: 1; -o-transform: translateX(-100%); }
	100%		{ opacity: 1; -o-transform: translateX(0); }
}
@keyframes right-slide {
	0%		{ opacity: 1; transform: translateX(0); }
	25%		{ opacity: 0; transform: translateX(100%); }
	75%		{ opacity: 0; transform: translateX(-100%); }
//	25%		{ opacity: 1; transform: translateX(100%); }
//	75%		{ opacity: 1; transform: translateX(-100%); }
	100%		{ opacity: 1; transform: translateX(0); }
}

@-webkit-keyframes right-slide-slash {
	0%		{ opacity: 1; -webkit-transform: translateX(0) skew(-12deg); }
	25%		{ opacity: 0; -webkit-transform: translateX(900px) skew(-12deg); }
	75%		{ opacity: 0; -webkit-transform: translateX(-900px) skew(-12deg); }
//	25%		{ opacity: 1; -webkit-transform: translateX(900px) skew(-12deg); }
//	75%		{ opacity: 1; -webkit-transform: translateX(-900px) skew(-12deg); }
	100%		{ opacity: 1; -webkit-transform: translateX(0) skew(-12deg); }
}
@-moz-keyframes right-slide-slash {
	0%		{ opacity: 1; -moz-transform: translateX(0) skew(-12deg); }
	25%		{ opacity: 0; -moz-transform: translateX(900px) skew(-12deg); }
	75%		{ opacity: 0; -moz-transform: translateX(-900px) skew(-12deg); }
//	25%		{ opacity: 1; -moz-transform: translateX(900px) skew(-12deg); }
//	75%		{ opacity: 1; -moz-transform: translateX(-900px) skew(-12deg); }
	100%		{ opacity: 1; -moz-transform: translateX(0) skew(-12deg); }
}
@-o-keyframes right-slide-slash {
	0%		{ opacity: 1; -o-transform: translateX(0) skew(-12deg); }
	25%		{ opacity: 0; -o-transform: translateX(900px) skew(-12deg); }
	75%		{ opacity: 0; -o-transform: translateX(-900px) skew(-12deg); }
//	25%		{ opacity: 1; -o-transform: translateX(900px) skew(-12deg); }
//	75%		{ opacity: 1; -o-transform: translateX(-900px) skew(-12deg); }
	100%		{ opacity: 1; -o-transform: translateX(0) skew(-12deg); }
}
@keyframes right-slide-slash {
	0%		{ opacity: 1; transform: translateX(0) skew(-12deg); }
	25%		{ opacity: 0; transform: translateX(900px) skew(-12deg); }
	75%		{ opacity: 0; transform: translateX(-900px) skew(-12deg); }
//	25%		{ opacity: 1; transform: translateX(900px) skew(-12deg); }
//	75%		{ opacity: 1; transform: translateX(-900px) skew(-12deg); }
	100%		{ opacity: 1; transform: translateX(0) skew(-12deg); }
}

@-webkit-keyframes right-big-swipe {
	0%		{
//		-webkit-box-shadow: 	10px 0px 10px rgba(0,0,0,0.8), inset 90px 0px 90px rgba(0,0,0,0.2);
		-webkit-box-shadow: 	none;
		left: -60%;
		width: 50%;
	}
	100%		{
//		-webkit-box-shadow: 	90px 0px 90px rgba(0,0,0,0.2), inset 4px 0px 4px rgba(0,0,0,0.8);
		-webkit-box-shadow: 	none;
		left: 120%;
		-webkit-transform: translateX(0) skew(-12deg);
		width: 100%;
	}
}
@-moz-keyframes right-big-swipe {
	0%		{
//		-moz-box-shadow: 	10px 0px 10px rgba(0,0,0,0.8), inset 90px 0px 90px rgba(0,0,0,0.2);
		-moz-box-shadow: 	none;
		left: -60%;
		width: 50%;
	}
	100%		{
//		-moz-box-shadow: 	90px 0px 90px rgba(0,0,0,0.2), inset 4px 0px 4px rgba(0,0,0,0.8);
		-moz-box-shadow: 	none;
		left: 120%;
		-moz-transform: translateX(0) skew(-12deg);
		width: 100%;
	}
}
@-o-keyframes right-big-swipe {
	0%		{
//		-o-box-shadow: 	10px 0px 10px rgba(0,0,0,0.8), inset 90px 0px 90px rgba(0,0,0,0.2);
		-o-box-shadow: 	none;
		left: -60%;
		width: 50%;
	}
	100%		{
//		-o-box-shadow: 	90px 0px 90px rgba(0,0,0,0.2), inset 4px 0px 4px rgba(0,0,0,0.8);
		-o-box-shadow: 	none;
		left: 120%;
		-o-transform: translateX(0) skew(-12deg);
		width: 100%;
	}
}
@keyframes right-big-swipe {
	0%		{
//		box-shadow: 	10px 0px 10px rgba(0,0,0,0.8), inset 90px 0px 90px rgba(0,0,0,0.2);
		box-shadow: 	none;
		left: -60%;
		width: 50%;
	}
	100%		{
//		box-shadow: 	90px 0px 90px rgba(0,0,0,0.2), inset 4px 0px 4px rgba(0,0,0,0.8);
		box-shadow: 	none;
		left: 120%;
		transform: translateX(0) skew(-12deg);
		width: 100%;
	}
}





