
// colour

@darkBase:		#4f585e;
@darkTxt:		#323b40;
@darkGreyTxt:	#4f585e;
@lightBase:		#eaedec;
@lightTxt:		#9ca1a4;
@lightBorder:	#dbdddc;
@lightGrey:		#f8f8f8; 
@lightShade:	#e0e3e2;
@cyan: 			#49f3ff;
@deepCyan: 		#0ebac7;
/*
@tealMid: #0ebac7;
@white:	 #ffffff;
*/

// variables
@hourWidth: 15;
@minuteWidth: @hourWidth / 60;

// mixins
.hoverTransition(@args: all 0.2s ease-in) {
	.transition(@args);
}

// Now On Feature Banner
@featureHeight: 400px;
.now-next{
	position: relative;
    height: @featureHeight;
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background: #000;

	.now-wrapper, .next-wrapper{
		position: relative;
	    height: @featureHeight;
	    background-position: 0 25%;
	    background-size: cover;
	    background-repeat: no-repeat;
	    transition: 1s ease-in;
	}
	.next-wrapper{
		position: absolute;
		top: 0;
		opacity: 0;
		transition: 0.8s ease-out;
		transform: translateX(1800px);
	}
	.fadeIn{
		position: relative;
		opacity: 1;
		transform: translateX(0);
	}
	.fadeOut{
		transition: 0.8s ease-out;
		transform: translateX(-1800px);
		opacity: 0;
		animation: abs 1s forwards;
	}
	@keyframes abs{
		100%{
			position: absolute;
		}
	}

    .feature-overlay {
    	background: rgba(255,255,255,0.95);
    	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.44) 59%, rgba(0, 0, 0, 0.44) 100%);
    	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.44) 59%, rgba(0, 0, 0, 0.44) 100%);
    	background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.44) 59%, rgba(0, 0, 0, 0.44) 100%);
    	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.44) 59%, rgba(0, 0, 0, 0.44) 100%);
    	width: 100%;
    	height: @featureHeight;
    	position: absolute;
    	top: 0;
    	z-index: 1;
    }

    .now, .next{
    	position: absolute;
    	bottom: 0;
    	color: #fff;
    	padding: 40px 15px;
    	z-index: 2;
    	
    	a{
    		color: #49f3ff;
    		border-bottom: none;
    		font-weight: bold;
    		font-size: 24px;
    		.hoverTxt(#49f3ff, 30%);
    		&:hover svg{
    			fill: darken(#49f3ff, 30%);
    		}
    		
    		svg{
    		    fill: #49f3ff;
    		    margin-top: -3px;
    		    margin-right: 3px;
    		    .hoverTxt(#49f3ff, 30%);
    		}
    	}

    	h2, p{
    		margin: 0;
    	}
    	.progress{
    		width: 100%;
    		background: rgba(255,255,255,0.5);
    		height: 4px;
    		overflow: hidden;
    		margin: 10px 0;
    		
    		.progress-overlay{
    			width: 0%;
    			height: 4px;
    			background: #fff;
    			transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
    		}
    	}
    }

}
.listings-wrapper{
	font-size: 0;
    background: #f5f5f5;
}
#listings{
	font-size: 16px;
	background: #f8f8f8;
	width: 75%;
	padding-left: 25%;
	padding-top: 30px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	.responsive(@l, {
		padding-left: 20px;
	});
	.responsive(@m, {
		padding: 0 20px;
		width: 100%;
	});
	h4{
		padding: 5px 35px 5px 20px;
		cursor: pointer;
		background: #fff;
		margin: 0;
		&:after{
			content: "";
			position: absolute;
			right: 16px;
			margin-top: 12px;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-bottom: 4px solid @deepCyan;
			border-top: none;
		}
		a{
			border-bottom: none;
			color: @deepCyan;
		}
	}
	#listings-nav, .listingdetails{
		list-style: none;
		margin: 0;
		padding: 0;
		border-bottom: 4px solid @lightGrey;
		ul{
			padding: 0;
		}
		li{
			display: inline-block;
			vertical-align: top;
			text-transform: capitalize;
			padding: 5px;
			a, abbr[title]{
				border-bottom: none;
				color: @darkBase;
				.hoverTxt(@deepCyan);
			}
			.active{
				border: 2px solid #e9eaea;
				border-bottom: 5px solid #f8f8f8;
				border-radius: 5px 5px 0 0;
			    padding: 5px 10px;
			    abbr{
			    	color: @deepCyan;
			    }
			}
		}
	}
	#listings-nav{
		margin-bottom: 30px;
	    border-bottom: 2px solid #e9eaea;
	}

	.listingdetails{
		max-height: 2000px;
		// opacity: 1;
		transition: 0.8s cubic-bezier(0.59, 0.04, 0.57, 0.96);
		overflow: hidden;
		background: #fff;
		padding: 0 20px 0 70px;
		font-size: 14px;
		img{
			padding-top: 20px;
			max-width: 180px;
			padding-bottom: 100px;
			float: left;
			clear: both;
		}
		.listing-text{
			float: left;
			width: 60%;
			padding-left: 15px;
			box-sizing: border-box;
		}
		h5{
			margin: 0;
			float: left;
			padding-top: 15px;
			font-size: 16px;
			width: 100%;
		}
		p{
			
		}
		ul{
			margin: 0;
			float: left;
			li{
				padding: 0;
				color: #b8bcbd;
				a {
					color: @deepCyan;
				}
			}
		}
		.access li{
			color: #b8bcbd;
		}
	}
	input[type=checkbox]{
		position: absolute;
		cursor: pointer;
		width: 100%;
		// height: 100%;
		height: 32px;
		z-index: 1;
		opacity: 0;
		top: 0;
	}
	input[type=checkbox]:checked ~ .listingdetails {
	    margin-top: 0;
	    max-height: 1px;
	    // opacity: 0;
	}
	input[type=checkbox]:checked ~ h4{
		a{
			color: @darkTxt;
		}
		.time{
			color: @darkGreyTxt;
		}
		&:after {
			border-top: 4px solid @deepCyan;
			border-bottom: none;
		}	
	}

	.listing{
		position: relative;
		.time{
			min-width: 50px;
		    display: inline-block;
		    color: @deepCyan;
		    float: left;
		    margin-bottom: 5px;
		    -webkit-transition: all 0.2s 0s ease-in;
		    -moz-transition: all 0.2s 0s ease-in;
		    -ms-transition: all 0.2s 0s ease-in;
		    -o-transition: all 0.2s 0s ease-in;
		    transition: all 0.2s 0s ease-in;
		}
		&:hover {
			a, .time{
				.hoverTxt(@deepCyan);
			}
		}
	}
	.listing-block{
		padding-bottom: 40px;
		h3{
			color: #94989b;
			margin: 0 0 10px;
			font-size: 16px;
		}
	}
}
.related-sidebar{
	font-size: 16px;
	background: #f5f5f5;
	display: inline-block;
	width: 25%;
	padding-left: 75px;
	padding-top: 30px;
	box-sizing: border-box;
	vertical-align: top;
	.responsive(@l, {
		padding-left: 30px;
	});
	.responsive(@m, {
		padding: 0 20px;
		width: 100%;
	});
	p{
		line-height: 1.7;
		font-weight: 600;
	}
	ul{
		list-style: none;
		padding: 0;
		line-height: 1.7;
		font-weight: 600;
		li a{
			color: @deepCyan;
			border-bottom: none;
			.hoverTxt(@deepCyan, 10%);
		}
	}
}
// styles
div.listings-holder {
	background: @white;
	border-bottom: @white solid 2px;
//	margin: 30px auto;
	padding: 1px 1px 0;
	position: relative;
//	width: 90%;

	> h3 {
		background: rgba(0,0,0,0.0125);
		border-bottom: 1px solid lighten(@lightBorder, 10);
		color: @rhinoMid;
		.fontMedium;
		font-size: 18px;
		margin: 0;
		padding: 18px 8px 44px;
		position: relative;
		.svg-icon {
			fill: @teal;
		}
		i.material-icons {
			position: relative;
			top: -1px;
		}
		a {
			font-size: 12px;
//			margin-left: 1em;
//			position: relative;
//			top: -2px;

			position: absolute;
			bottom: 12px;
			left: 28px;
		}
	}

	a.toggle {
		border-bottom: 0;
		color: @teal;
		font-size: 14px;
		font-weight: 500;
		height: 1.1em;
		overflow: hidden;
		position: absolute;
		right: 20px;
		top: 21px;
		i.material-icons {
			svg {
				fill: @teal;
			}
		}
		span {
			display: block;
			position: relative;
			text-align: right;
			.transition;
		}
		span.on {
			color: @red;
			svg {
				fill: @red;
			}
		}
	}

	div.listings {
		overflow-y: hidden;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;
		width: 100%;
		&:before, &:after {
			background: rgba(255,255,255,0.25);
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			width: 5px;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
		div.current {
			background: @tealMid;
			top: 0;
			.hoverTransition;
			left: 0;
			position: absolute;
			height: 2px;
			z-index: 20;
/*
			&:after {
				bottom: 100%;
				left: 100%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-top-color: @tealMid;
				border-width: 4px;
				margin-left: -5px;
			}
*/
		}
		div.times {
			font-size: 0;
			height: 38px;
			position: relative;
			white-space: nowrap;

			span.time {
				border-bottom: 2px solid @greyLight;
				color: @rhinoMid;
				display: inline-block;
				font-size: 12px;
				position: relative;
				.hoverTransition;
				width: ~'@{hourWidth}%';
				&:after {
					background: @greyLight;
					bottom: 0;
					content: "";
					display: block;
					left: -1px;
					position: absolute;
					height: 8px;
					.hoverTransition;
					width: 2px;
				}
				em {
					display: inline-block;
					font-style: normal;
					padding: 10px 0;
				}
			}
		}
		div.programmes {
			background: @lightBase;
			min-height: 80px;
			position: relative;
			.transition;
			width: 100%;
			div.programme {
				background: @offWhite;
				box-shadow: inset 1px 0 0 0 @white, inset -1px 0 0 0 @white;
				display: block;
				overflow: hidden;
				position: absolute;
				top: 0;
				text-decoration: none;
				.hoverTransition;
				div.programme-content {
					background: #fff;
					box-shadow: 	2px 0 0 @offWhite, inset 0 -2px 0 @offWhite;
					margin: 25px 8px 33px;
					min-height: 370px;
					position: relative;
					.transition;
					width: 304px;
					white-space: normal;
					p {
						color: @grey;
						font-size: 18px;
						font-weight: 600;
						letter-spacing: -0.025em;
						margin: 0;
						padding: 18px 12px 8px;
					}
					img {
						box-shadow: 	0 2px 0 @offWhite;
						max-width: 100%;
						width: 318px;
					}
					div.actions {
						bottom: 8px;
						left: 8px;
						position: absolute;

						a {
							border: 0;
							color: @tealMid;
							display: inline-block;
							font-weight: 700;
							margin: 6px;
							i.material-icons {
								svg {
									fill: @tealMid;
									height: 20px;
									position: relative;
									.transition;
									top: -2px;
									width: 20px;
								}
							}
						}
						a.reminder {
							i.material-icons {
								svg {
									height: 18px;
									width: 18px;
								}
							}
						}
						a:hover {
							color: @teal;
							i.material-icons svg {
								fill: @teal;
							}
						}
					}
				}
				h3 {
					color: @tealMid;
					font-size: 18px;
					font-weight: 600;
					letter-spacing: -0.025em;
					margin: 0;
					padding: 10px 8px 0;
					position: relative;
					.hoverTransition;
					white-space: nowrap;
					width: 100%;
					z-index: 10;
				}
				span {
					color: @greyMid;
					font-size: 12px;
					font-weight: 600;
					padding: 0 8px;
					position: relative;
					.hoverTransition;
					white-space: nowrap;
					width: 100%;
					z-index: 10;
				}
				&:hover {
					background: lighten(@lightBase,5);
					h3 {
						color: darken(@tealMid, 5)
					}
					span {
						color: @darkBase;
					}
				}
				&.on {
					background: @white;
					h3, span {
						color: @darkBase;
					}
				}
			}
		}
	}
}

div.listings-holder.open {
	border: none;
	a.toggle span {
		.transform(translateY(-100%));
	}
	div.listings {
		div.times {
			height: 0;
			span.time {
				color: rgba(0,0,0,0);
				&:after {
					height: 0;
				}
			}
		}
		div.programmes {
			min-height: 485px;
			div.programme {
				box-shadow: none;
			}
		}
	}
}




@media (min-width: 560px) {
	div.listings-holder {
		> h3 {
			padding: 18px 8px;
			position: static;
			a {
				margin-left: 1em;
				position: relative;
				top: -2px;
				bottom: auto;
				left: auto;
			}
		}
	}
}





