
// colour

@darkBase:		#4f585e;
@darkTxt:		#323b40;
@darkGreyTxt:	#4f585e;
@lightBase:		#eaedec;
@lightTxt:		#9ca1a4;
@lightBorder:	#dbdddc;
@lightGrey:		#f8f8f8; 
@lightShade:	#e0e3e2;
@cyan: 			#49f3ff;
@deepCyan: 		#0ebac7;

// mixins
.hoverTransition(@args: all 0.2s ease-in) {
	.transition(@args);
}

body{line-height: 1}

// Now On Feature Banner
@featureHeight: 400px;
.now-next{
	position: relative;
    height: @featureHeight;
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background: #000;

	.now-wrapper, .next-wrapper{
		position: relative;
	    height: @featureHeight;
	    background-position: 0 25%;
	    background-size: cover;
	    background-repeat: no-repeat;
	    transition: 1s ease-in;
	}
	.next-wrapper{
		position: absolute;
		top: 0;
		opacity: 0;
		transition: 0.8s ease-out;
		transform: translateX(1800px);
	}
	.fadeIn{
		position: relative;
		opacity: 1;
		transform: translateX(0);
	}
	.fadeOut{
		transition: 0.8s ease-out;
		transform: translateX(-1800px);
		opacity: 0;
		animation: abs 1s forwards;
	}
	@keyframes abs{
		100%{
			position: absolute;
		}
	}

    .feature-overlay {
    	background: rgba(255,255,255,0.95);
    	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.44) 59%, rgba(0, 0, 0, 0.44) 100%);
    	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.44) 59%, rgba(0, 0, 0, 0.44) 100%);
    	background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.44) 59%, rgba(0, 0, 0, 0.44) 100%);
    	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.44) 59%, rgba(0, 0, 0, 0.44) 100%);
    	width: 100%;
    	height: @featureHeight;
    	position: absolute;
    	top: 0;
    	z-index: 1;
    }

    .now, .next{
    	position: absolute;
    	bottom: 0;
    	color: #fff;
    	padding: 40px 15px;
    	z-index: 2;
    	
    	a{
    		color: #49f3ff;
    		border-bottom: none;
    		font-weight: bold;
    		font-size: 24px;
    		.hoverTxt(#49f3ff, 30%);
    		&:hover svg{
    			fill: darken(#49f3ff, 30%);
    		}
    		
    		svg{
    		    fill: #49f3ff;
    		    margin-top: -3px;
    		    margin-right: 3px;
    		    .hoverTxt(#49f3ff, 30%);
    		}
    	}

    	h2, p{
    		margin: 0;
    	}
    	.progress{
    		width: 100%;
    		background: rgba(255,255,255,0.5);
    		height: 4px;
    		overflow: hidden;
    		margin: 10px 0;
    		
    		.progress-overlay{
    			width: 0%;
    			height: 4px;
    			background: #fff;
    			transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
    		}
    	}
    }

}
.listings-wrapper{
	font-size: 0;
    background: #f5f5f5;
    padding-bottom: 40px;
}
#listings{
	font-size: 16px;
	background: #f8f8f8;
	width: 75%;
	padding-left: 25%;
	padding-top: 30px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	.responsive(@l, {
		padding-left: 20px;
	});
	.responsive(@m, {
		padding: 0 20px;
		width: 100%;
	});
	h1{
		font-weight: 600;
	}
	h4{
		padding: 5px 35px 5px 20px;
		cursor: pointer;
		background: #fff;
		margin: 0;
		font-size: 1rem;
		font-weight: 600;
		&:after{
			content: "";
			position: absolute;
			right: 16px;
			margin-top: 9px;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-bottom: 4px solid @deepCyan;
			border-top: none;
		}
		a{
			border-bottom: none;
			color: @deepCyan;
		}
	}
	#listings-nav, .listingdetails{
		list-style: none;
		margin: 0;
		padding: 0;
		border-bottom: 4px solid @lightGrey;
		ul{
			padding: 0;
		}
		li{
			display: inline-block;
			vertical-align: top;
			text-transform: capitalize;
			padding: 5px;
			a, abbr[title]{
				border-bottom: none;
				color: @darkBase;
				.hoverTxt(@deepCyan);
			}
			.active{
				border: 2px solid #e9eaea;
				border-bottom: 2px solid #f8f8f8;
				border-radius: 5px 5px 0 0;
			    padding: 5px 10px;
		        background: #f8f8f8;
			    abbr{
			    	color: @deepCyan;
			    }
			}
		}
	}
	#listings-nav{
	    border-bottom: 2px solid #e9eaea;
	}

	.listingdetails{
		max-height: 5000px;
		// opacity: 1;
		transition: 0.8s cubic-bezier(0.59, 0.04, 0.57, 0.96);
		overflow: hidden;
		background: #fff;
		padding: 0 20px 0 70px;
		font-size: 14px;
		img{
			padding-top: 20px;
			max-width: none;
			width: 35%;
			padding-bottom: 20px;
			float: left;
			clear: both;
		}
		.listing-text{
			float: left;
			width: 60%;
			padding-left: 15px;
			padding-bottom: 20px;
			box-sizing: border-box;
		}
		.responsive(@m, {
			padding: 0 20px;
			.listing-text{
				width: 100%;
				padding-left: 0;
			}
			img{
				width: 100%;
				max-width: 180px;
				padding: 10px 0 0;
			}
		});
		h5{
			margin: 0;
			float: left;
			padding-top: 15px;
			font-size: 16px;
			width: 100%;
			font-weight: 600;
		}
		.sublisting{
			clear: both;
			margin-bottom: 20px;
			// overflow: auto;
			float: left; 
			h5{
				width: 35%;
				float: left;
				padding-top: 0;
				span.time{
					width: 40%;
					display: inline-block;
					vertical-align: top;
					color: #b8bcbd;
					font-size: 14px;
				}
				img{
					width: 60%;
					float: none;
					display: inline-block;
					vertical-align: top;
					padding: 0;
					.responsive(@m, {
						width: 140px;
						padding: 0 0 10px;
					});
				}
			}
			h6{
				font-size: 14px;
				margin: 0;
				text-transform: capitalize;
				letter-spacing: initial;
				font-weight: bold;
			}
			.listing-text{
				padding-bottom: 0;
			}
		}
		p{
			line-height: 1.4;
			margin: 1em 0;
		}
		ul{
			margin: 0;
			float: none;
			li{
				padding: 0;
				color: #b8bcbd;
				a {
					color: @deepCyan;
				}
			}
		}
		.access{
			margin-top: 10px;
			li{
				color: #b8bcbd;
			} 
		} 
	}
	input[type=checkbox]{
		position: absolute;
		cursor: pointer;
		width: 100%;
		// height: 100%;
		height: 32px;
		z-index: 1;
		opacity: 0;
		top: 0;
	}
	input[type=checkbox]:checked ~ .listingdetails {
	    margin-top: 0;
	    max-height: 1px;
	    // opacity: 0;
	}
	input[type=checkbox]:checked ~ h4{
		a{
			color: @darkTxt;
		}
		.time{
			color: @darkGreyTxt;
		}
		&:after {
			border-top: 4px solid @deepCyan;
			border-bottom: none;
		}	
	}

	.listing{
		position: relative;
		.time{
			min-width: 50px;
		    display: inline-block;
		    color: @deepCyan;
		    float: left;
		    margin-bottom: 5px;
		    -webkit-transition: all 0.2s 0s ease-in;
		    -moz-transition: all 0.2s 0s ease-in;
		    -ms-transition: all 0.2s 0s ease-in;
		    -o-transition: all 0.2s 0s ease-in;
		    transition: all 0.2s 0s ease-in;
		}
		&:hover {
			a, .time{
				.hoverTxt(@deepCyan);
			}
		}
	}
	.listing-block{
	    padding: 20px 0 0;
		h3{
			color: #94989b;
			margin: 0 0 10px;
			font-size: 16px;
			font-weight: bold;
		}
	}
}
.related-sidebar{
	font-size: 16px;
	background: #f5f5f5;
	display: inline-block;
	width: 25%;
	padding-left: 75px;
	padding-top: 30px;
	box-sizing: border-box;
	vertical-align: top;
	.responsive(@l, {
		padding-left: 30px;
	});
	.responsive(@m, {
		padding: 0 20px;
		width: 100%;
	});
	p{
		line-height: 1.7;
		font-weight: 600;
	}
	ul{
		list-style: none;
		padding: 0;
		line-height: 1.7;
		font-weight: 600;
		li a{
			color: @deepCyan;
			border-bottom: none;
			.hoverTxt(@deepCyan, 10%);
		}
	}
}






