/* ==========================================================================
   Reset
   ========================================================================== */
   @import 	"reset.less";


/* ==========================================================================
   Variables
   ========================================================================== */
   @import 	"variables.less";


/* ==========================================================================
   Mixins
   ========================================================================== */
   @import 	"mixins.less";


/* ==========================================================================
   Fonts
   ========================================================================== */
   @import "fonts.less";

/* ==========================================================================
   Icons
   ========================================================================== */
   @import "icons.less";

/* ==========================================================================
   General
   ========================================================================== */
   @import "general.less";

/* ==========================================================================
   Forms
   ========================================================================== */
   @import "forms.less";

/* ==========================================================================
   Buttons
   ========================================================================== */
   @import "buttons.less";

/* ==========================================================================
   Tabs
   ========================================================================== */
   @import "tabs.less";


/* ==========================================================================
   Header
   ========================================================================== */
   @import "header.less";


/* ==========================================================================
   Large Slider
   ========================================================================== */
   @import "large-slider.less";


/* ==========================================================================
   Card styles
   ========================================================================== */
   @import "card.less";


/* ==========================================================================
   iOS Slider
   ========================================================================== */
//   @import "ios-slider.less";


/* ==========================================================================
   Listings / Homepage
   ========================================================================== */
   @import "listings.less";

/* ==========================================================================
  Listings / Homepage
  ========================================================================== */
  @import "listings-page.less";


/* ==========================================================================
   marketing banner
   ========================================================================== */
   @import "marketing-banner.less";


/* ==========================================================================
   search banner
   ========================================================================== */
   @import "search-banner.less";


/* ==========================================================================
   Home / styles only apply to homepage
   ========================================================================== */
   @import "home.less";


/* ==========================================================================
   Footer
   ========================================================================== */
   @import "footer.less";


/* ==========================================================================
   Popup alert
   ========================================================================== */
   @import "popup-alert.less";


/* ==========================================================================
   Loader
   ========================================================================== */
   @import "loader.less";

/* ==========================================================================
   Ads
   ========================================================================== */
   @import "ads.less";


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}