div.marketing-banner {
	background: darken(@offWhite, 2.5);
	border-bottom: 1px solid #e9eaea;
	div.marketing-banner-inner {
		color: @rhinoMid;
		padding: 0 20px 2em;
		position: relative;
		h2 {
			color: @rhino;
			font-size: 36px;
			margin-top: 0;
			padding-top: 0.75em;
		}
		p.intro {
			color: @rhino;
			font-weight: bold;
			font-size: 24px;
			letter-spacing: -0.05em;
		}
		p {
			max-width: 20em;
		}
		a.s4c-btn {
			font-weight: bold;
			margin: 1.5em 0;
		}
	}
}


@media only screen and (min-width: 670px) {

	div.marketing-banner {
		background: url(../img/comp-bg.jpg) no-repeat 50% 0 darken(@offWhite, 2.5);
		div.marketing-banner-inner {
			margin-left: 50%;
			max-width: 600px;
			padding: 1em 0 3em;
			width: 40%;
		}
	}

}

@media only screen and (min-width: 1330px) {
	div.marketing-banner {
		div.marketing-banner-inner {
			padding: 1em 0 4em;
		}
	}
}

@media only screen and (min-width: 1468px) {
	div.marketing-banner {
		div.marketing-banner-inner {
			padding: 2em 0 5em;
		}
	}
}

@media only screen and (min-width: 1660px) {
	div.marketing-banner {
		background: url(../img/comp-bg.jpg) no-repeat 0 0 darken(@offWhite, 2.5);
		background-size: 103%;
		
		div.marketing-banner-inner {
//			margin-left: 830px;
			padding: 2em 0 5em;
			h2 {
				font-size: 48px;
				margin-bottom: 0.5em;
			}
			a.s4c-btn {
				bottom: 4em;
				font-size: 24px;
				margin: 0;
				padding: 12px 32px;
				position: absolute;
				right: 0;
			}
		}
	}
}

@media only screen and (min-width: 1990px) {
	div.marketing-banner {
		div.marketing-banner-inner {
			max-width: 652px;
			padding: 3em 0 7em;
			a.s4c-btn {
				bottom: 5.5em;
			}
		}
	}
}











