.popup-alert {
	bottom: 0;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	left: 0;
	max-height: 0;
	opacity: 0;
	padding: 2%;
	position: fixed;
	.transform(translateY(100px));
	.transition;
	width: 96%;
	z-index: 1000000;

	div.copy {
		display: inline-block;
		padding: 12px 32px 32px;
	}

	&#error {
		background: fadeout(@alertTxt, 5);

		div.copy {
			background: url(../img/warning.svg) no-repeat 10px 10px;	
			background-size: 24px;
			padding: 12px 32px 32px 60px;
		}
	}

	&#message {
		background: fadeout(@greenTxt, 5);

		&:after {
			background: lighten(@greenTxt, 30);
			content: "";
			display: block;
			height: 4px;
			left: 0;
			position: absolute;
			.transition(all 0s 0s linear);
			top: 0;
			width: 0;
		}
	}

	a {
		border: 0;
		color: #fff;
		text-decoration: underline;
	}

	a.close {
		background: rgba(0,0,0,0.1);
		display: block;
		padding: 20px 0;
		text-align: center;
		text-decoration: none;

		span {
			text-align: center;
			text-decoration: underline;
		}

		svg {
			height: 16px;
			margin-left: 6px;
			position: relative;
			top: 3px;
			width: 16px;

			polygon {
				fill: #fff;
			}
		}
	}

	&.visible {
		max-height: 600px;
		opacity: 1;
		.transform(translateY(0));

		&#message {
			&:after {
				.transition(all 5s 0s linear);
				width: 100%;
			}
		}
	}
}



// media queries
@media only screen and (min-width: 900px) {

	div.popup-alert {

		&#error div.copy {
			padding: 12px 32px 12px 60px;
		}

		div.copy {
			padding: 12px 32px;
		}

		a.close {
			display: inline-block;
			height: 100%;
			margin: 0;
			padding: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 180px;
	
			div.close-inner {
				position: absolute;
				top: 50%;
				.transform(translateY(-50%));
				width: 100%;
			}
		}
	}

}
