div.search-banner {
	background: darken(@offWhite, 2.5);
	border-top: 1px solid #e9eaea;
	div.search-banner-inner {
		color: @rhinoMid;
		font-size: 24px;
		letter-spacing: -0.05em;
		padding: 2em 6px 2em;
		position: relative;
		text-align: center;
		form.search-banner-form {
			display: block;
			input.search-banner-input {
				background: none;
				border: none;
				border-bottom: 2px solid @tealMid;
				color: @teal;
				letter-spacing: -0.05em;
				width: 8em;
				font-size: 36px;
				&::-webkit-input-placeholder {
					color: @tealMid;
					font-weight: 500;
					font-size: 35px;
				}
				&::-moz-placeholder {
					color: @tealMid;
					font-weight: 500;
				}
				&:-ms-input-placeholder {
					color: @tealMid;
					font-weight: 500;
				}
			}
			input.search-banner-input:focus {
				&::-webkit-input-placeholder {
					color: fadeout(@tealMid, 50);
					font-weight: 200;
				}
				&::-moz-placeholder {
					color: fadeout(@tealMid, 50);
					font-weight: 200;
				}
				&:-ms-input-placeholder {
					color: fadeout(@tealMid, 50);
					font-weight: 200;
				}
			}
			button {
				color: @red;
				background: none;
				border: none;
				padding-left: 0;
				svg {
					fill: @tealMid;
				}
			}
		}
	}
}



@media only screen and (min-width: 670px) {

	div.search-banner {
		div.search-banner-inner {
			font-size: 36px;
		}
	}

}










