div.tab-container {
	.clearfix;
	border-bottom: 1px solid @greyLight;
	margin: 4em 0 0;
	div.tab-group {
		padding: 0 10px;
		ul.tabs {
			.clearfix;
			margin: 0;
			padding: 0;
			li.tab {
				float: left;
				list-style: none;
				margin: 0;
				padding: 0;
				> a {
					background: rgba(0,0,0,0.05);
					border-bottom: none;
					.border-radiuses (4px, 4px, 4px, 4px);
					color: @rhinoMid;
					display: block;
					margin: 0 10px 10px 0;
					overflow: hidden;
					padding: 10px 18px 8px;
					position: relative;
					text-decoration: none;
					.transition(0.2s ease-in);
					span {
						background: @offWhite;
						.border-radiuses (4px, 4px, 4px, 4px);
						border: 1px solid @greyLight;
						color: @tealMid;
						display: block;
						padding: 9px 17px 9px;
						position: absolute;
						left: 0;
						top: 100%;

					}
					&.on {
						background: none;
						overflow: visible;
						span {
							top: 0;
						}
					}
					&:hover {
						background: rgba(0,0,0,0.15);
					}
				}
			}
		}
	}
	ul.tab-contents-list {
		margin: 40px auto 60px;
		overflow: hidden;
		padding: 0 10px 10px;
		li.tab-contents {
			list-style: none;
			margin: 0;
			padding: 10px 0;
		}
	}
}

@media only screen and (min-width: 1000px) {
div.tab-container {
	div.tab-group {
		border-bottom: 1px solid @greyLight;
		ul.tabs li.tab > a {
			background: 0;
			.border-radiuses(4px,0,0,4px);
			margin: 0 0 -1px 0;
			padding: 10px 18px 8px;
			&.on {
				overflow: hidden;
			}
			&:hover {
				background: none;
				box-shadow: inset 0 -1px 0 0 @tealContrast;
			}
			span {
				border-bottom: none;
				.border-radiuses (4px, 0, 0, 4px);
				left: 0;
				.transition(0.2s ease-in);
			}
		}
	}
}
}

@media only screen and (min-width: 670px) {

	div.tab-container {
		div.tab-group {
			margin-left: auto;
			margin-right: auto;
			padding-left: 0;
			padding-right: 0;
			width: 650px;
		}
		ul.tab-contents-list {
			padding: 0 0 10px 10px;
			width: 660px;
		}
	}

}

@media only screen and (min-width: 1000px) {

	div.tab-container {
		div.tab-group {
			width: 980px;
		}
		ul.tab-contents-list {
			width: 990px;
		}
	}

}

@media only screen and (min-width: 1330px) {

	div.tab-container {
		div.tab-group {
			width: 1310px;
		}
		ul.tab-contents-list {
			width: 1320px;
		}
	}

}

@media only screen and (min-width: 1660px) {

	div.tab-container {
		padding-bottom: 2em;
		div.tab-group {
			width: 1640px;
		}
		ul.tab-contents-list {
			width: 1650px;
		}
	}

}

@media only screen and (min-width: 1990px) {

	div.tab-container {
		padding-bottom: 4em;
		div.tab-group {
			width: 1970px;
		}
		ul.tab-contents-list {
			width: 1980px;
		}
	}

}

/*
@media only screen and (min-width: 2320px) {

	div.tab-container {
		div.tab-group {
			width: 2300px;
		}
		ul.tab-contents-list {
			width: 2310px;
		}
	}

}
*/










