// colours

@teal: #0096a1;
@tealMid: #0ebac7;
@tealContrast: #49f3ff;
@tealDark: #007c85;

@rhino: #323b40;
@rhinoMid: #4f585e;
@rhinoContrast: #7dbeff;
@rhinoDark: #283135;

@white: #ffffff;
@offWhite: #f8f8f8;

@greyLight: #e9eaea;
@grey: #b8bcbd;
@greyMid: #94989b;

@red: #9c5d52;
@redLight: #c8b1ac;

@orange: #ad7a4f;
@orangeLight: #d1bfaa;

@green: #1fbe80;
@greenLight: #89e1c2;

@blue: #1d8ebd;
@blueLight: #88c9e1;