@import "mixins.less";


// colour stuff
@white: #ffffff;
@lightBG: #dce1df;
@salmon: #ff6666;

@teal: #0096a0;
@tealMid: #0ebac7;
@tealContrast: #33ffff;
@tealShade:	#007c85;

@darkGrey: #4f585e;

body {
	background: @lightBG;
	color: @darkGrey;
	font-family: 'Source Sans Pro', sans-serif;
	text-rendering: optimizeLegibility;
}

a.btn {
	background: @teal;
	border-radius: 4px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
	color: @white;
	display: inline-block;
	padding: 6px 30px 8px;
	position: relative;
	text-decoration: none;
	transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
	background: lighten(@teal,2.5);
	box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
	transform: translateY(-2px);
	transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
	background: darken(@teal,2.5);
	box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
	transform: translate3d(0,1px,0);
	transition: all 0.025s 0s ease-out;
}

div.card-row {
	padding: 40px 0;
	position: relative;
	margin: auto;
	width: 1400px;

	h2 {
		.fontBold;
		font-size: 30px;
		letter-spacing: -0.05em;
		margin: auto;
		max-width: 1260px;

		span {
//			color: @lightGrey;
		}
	}

	div.card-scrollbar {
//		background: @lightGrey;
		height: 1px;
		margin: 40px auto 0;
		max-width: 1260px;
		position: relative;

		div.card-scroller {
			background: @teal;
			.border-radius(100px);
			height: 6px;
			left: 0;
			position: absolute;
			top: -3px;
			width: 25%;
		}
	}

	div.controls a {
		display: block;
		position: absolute;

		&.previous {
			left: 0;
		}

		&.next {
			right: 0;
		}
	}

}


ul.cards {
	.clearfix;
	margin: 10px auto;
	max-width: 1280px;
	padding: 0;
	.perspective;
	position: relative;
	text-align: center;
}

.card.left-in {
	margin-left: -316px;
	opacity: 0;
//	.transform(rotateY(-90deg));
}

.card {
//	background: @white;
	.backface-visibility;
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	max-width: 300px;
	padding: 8px;
	perspective: 1000;
	position: relative;
	text-align: left;
	transition: all 0.3s 0s ease-in;
	.transition;
	z-index: 1;

	img {
		max-width: 100%;
	}

	div.card-title {
		background: @white;
		padding: 6px 15px 10px;
		position: relative;
		z-index: 0;
	
		a.toggle-info {
			border-radius: 32px;
			height: 32px;
			padding: 0;
			position: absolute;
			right: 15px;
			top: 10px;
			width: 32px;
		
			span {
				background: @white;
				display: block;
				height: 2px;
				position: absolute;
				top: 16px;
				transition: all 0.15s 0s ease-out;
				width: 12px;
			}
			
			span.left {
				right: 14px;
				transform: rotate(45deg);
			}
	
			span.right {
				left: 14px;
				transform: rotate(-45deg);
			}
		}
	
		h2 {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: -0.05em;
			margin: 0;
			padding: 0;
	
			small {
				display: block;
				font-size: 18px;
				font-weight: 600;
				letter-spacing: -0.025em;
			}
		}
	}

	div.card-description {
		padding: 0 15px 10px;
		position: relative;
		font-size: 14px;
	}
	
	div.card-actions {
		box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
		padding: 10px 15px 20px;
		text-align: center;
	}
	
	div.card-flap {
		background: darken(@white,15);
		position: absolute;
		width: 100%;
		transform-origin: top;
		transform: rotateX(-90deg);
	}

	div.flap1 {
		transition: all 0.3s 0.3s ease-out;
		z-index: -1;
	}

	div.flap2 {
		transition: all 0.3s 0s ease-out;
		z-index: -2;
	}
}

/*
ul.cards.showing {
	.card {
		cursor: pointer;
		opacity: 0.6;
		transform: scale(0.88);
	}
}
*/

/*
.no-touch  ul.cards.showing {
	li.card:hover {
		opacity: 0.94;
		transform: scale(0.92);
	}
}
*/

.card.show {
	opacity: 1 !important;
	transform: scale(1) !important;

	div.card-title {
		a.toggle-info {
			background: @salmon !important;

			span {
				top: 15px;
			}

			span.left {
				right: 10px;
			}

			span.right {
				left: 10px;
			}
		}
	}

	div.card-flap {
		background: @white;
		transform: rotateX(0deg);
	}

	div.flap1 {
		transition: all 0.3s 0s ease-out;
	}

	div.flap2 {
		transition: all 0.3s 0.2s ease-out;
	}
}


