div.card {
	border: 2px solid rgba(0,0,0,0);
	border-bottom: none;
	border-top: none;
	cursor: pointer;
	height: 180px;
	overflow: hidden;
	width: 320px;
	a.love {
		display: block;
//		display: none;
		height: 22px;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 20px;
		z-index: 30;
		svg {
			height: 18px;
			width: 18px;
			path {
				fill: lighten(@red, 50);
				.transition(all 0.15s linear);
			}
		}
	}
	a.love:hover {
		svg {
			path {
				fill: @red;
			}
		}
	}
	svg.play {
		height: 60px;
		left: 45px;
		position: absolute;
		top: 60px;
		.transition(all 0.15s ease-out);
		width: 60px;
		z-index: 10;
	}
	svg.shadow {
		top: 62px;
		z-index: 5;
		path {
			fill: rgba(0,0,0,0.25);
		}
	}
	img {
		max-width: 100%;
		.transition(all 0.15s linear);
	}
	&:after {
		background: rgba(0,0,0,0.15);
		content: "";
		display: block;
		height: 100%;
		left: 50%;
		position: absolute;
		top: 0;
		.transform(skew(-12deg));
		.transition(all 0.15s linear);
		width: 200%;
		z-index: 5;
	}
}

div.title {
	cursor: pointer;
	height: 100%;
	letter-spacing: -0.05em;
	position: absolute;
	right: 0;
	.transition(all 0.15s linear);
	top: 0;
	width: 50%;
	z-index: 20;
	&:after {
		background: #fff;
		box-shadow: -3px 0 1px rgba(0,0,0,0.1);
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		.transform(skew(-12deg));
		.transition(all 0.15s linear);
		width: 200%;
		z-index: 5;
	}
	h2 {
		bottom: 20px;
		color: @teal;
		font-size: 18px;
		font-weight: 700;
		left: 10px;
		margin: 0;
		overflow: hidden;
		padding: 10px 0 0 10px;
		position: absolute;
		text-overflow: ellipsis;
		.transition(all 0.15s linear);
		white-space: nowrap;
		width: 136px;
		z-index: 10;
		strong {
			color: @rhino;
			display: block;
			font-size: 16px;
			padding-bottom: 6px;
		}
		small {
			color: @rhino;
			display: block;
			font-size: 16px;
			font-weight: 300;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 200px;
		}
	}
}

div.card:hover {
	svg.play {
//		.transform(scale(3.6) translate3d(-5px,0,0,));
		.transform(translate3d(-16px,0,0,));
	}
	&:after {
		.box-shadow(-180px 0 0 rgba(0,0,0,0.25));
		.transform(translateX(-20px) skew(-12deg));
	}
	img {
		.transform(translateX(-6px));
	}
	div.title {
		h2 {
			.transform(translateX(-30px));
			width: 160px;
		}
		&:after {
			.transform(translateX(-20px) skew(-12deg));
		}
	}
}



