
// colour

@darkBase:		#4f585e;
@base:			#72797e;
@lightBase:		#eaedec;
@lightTxt:		#9ca1a4;
@lightBorder:	#dbdddc;
@lightShade:		#e0e3e2;
/*
@tealMid: #0ebac7;
@white:	 #ffffff;
*/

// variables
@hourWidth: 15;
@minuteWidth: @hourWidth / 60;

// mixins
.hoverTransition(@args: all 0.2s ease-in) {
	.transition(@args);
}
	
// styles
div.listings-holder {
	background: @darkBase;
	border-bottom: darken(@lightBase, 10) solid 2px;
//	margin-top: 120px;
	padding: 1px 1px 0;
	position: relative;

	div.listings {
		overflow-y: hidden;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;
		width: 100%;
		div.current {
			background: fadeout(@tealContrast,90);
			border-right: 1px solid @tealContrast;
			.hoverTransition;
			left: 0;
			position: absolute;
			top: 1px;
			height: 33px;
			z-index: 20;
		}
		div.times {
			font-size: 0;
			position: relative;
			white-space: nowrap;
			span.time {
				background: @base;
				box-shadow: inset 0 0 0 1px @darkBase;
				color: @lightTxt;
				display: inline-block;
				font-size: 12px;
				width: ~'@{hourWidth}%';
				em {
					display: inline-block;
					font-style: normal;
					padding: 10px 8px;
				}
			}
		}
		div.programmes {
			background: @lightBase;
			margin: 1px 0 0;
			height: 90px;
			position: relative;
			width: 100%;
			a.programme {
				background: @lightBase;
				box-shadow: inset 1px 0 0 0 @lightBorder, inset -1px 0 0 0 @lightBorder;
				display: block;
				overflow: hidden;
				position: absolute;
				top: 0;
				height: 90px;
				text-decoration: none;
				.hoverTransition;
				&:after {
					background: fadeout(@darkBase,90);
					content: "";
					display: block;
					height: 100%;
					left: 100%;
					position: absolute;
					transform-origin: top;
					transform: skew(-12deg);
					.hoverTransition;
					top: 0;
					width: 50px;
					z-index: 5;
				}
				h3 {
					color: @tealMid;
					font-size: 18px;
					font-weight: 600;
					margin: 0;
					padding: 10px 8px 0;
					position: relative;
					text-transform: uppercase;
					.hoverTransition;
					white-space: nowrap;
					width: 100%;
					z-index: 10;
				}
				span {
					color: @darkBase;
					font-weight: 300;
					padding: 0 8px;
					position: relative;
					.hoverTransition;
					white-space: nowrap;
					width: 100%;
					z-index: 10;
				}
				&:hover {
					background: lighten(@lightBase,5);
					h3 {
						color: darken(@tealMid, 5)
					}
					span {
						color: @darkBase;
					}
					&:after {
						transform: skew(-2deg);
					}
				}
				&.on {
					background: @white;
					h3, span {
						color: @darkBase;
					}
					&:after {
						transform: skew(0deg);
					}
				}
			}
		}
	}
	div.programme-content.show {
		height: 350px;
		padding: 40px 40px 40px 700px;
		&:before {
			opacity: 1;
			.hoverTransition;
		}
		a.close, img, div.programme-info {
			opacity: 1;
			.hoverTransition(all 0.4s 0.2s ease-in);
		}
	}
	div.programme-content {
		height: 0;

		.clearfix;
		color: @darkBase;
		overflow: hidden;
		padding: 0 40px 0 700px;
		position: relative;
		.hoverTransition(all 0.4s 0.2s ease-in);

		&:before {
			background: @white;
			content: "";
			display: block;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			transform-origin: top;
			width: 100%;
			.hoverTransition(all 0.4s 0.2s ease-in);
		}
		a.close {
			cursor: pointer;
			height: 24px;
			.hoverTransition;
			opacity: 0;
			position: absolute;
			right: 40px;
			top: 40px;
			width: 24px;
			z-index: 20;
			svg {
				height: 24px;
				width: 24px;
				polygon {
					fill: @tealMid;
					.hoverTransition;
				}
			}
			&:hover {
				transform: translate3d(0,-1px,0);
				svg polygon {
					fill: lighten(@tealMid, 10);
				}
			}
		}
		img {
			float: left;
			.hoverTransition;
			margin-left: -660px;
			opacity: 0;
			position: relative;
		}
		div.programme-info {
			opacity: 0;
			position: relative;
			.hoverTransition;
			z-index: 10;
			h2 {
				color: @tealMid;
				font-size: 24px;
				font-weight: 700;
				margin-top: 30px;
				text-transform: uppercase;
				span.prog-title {
					color: @darkBase;
					display: block;
					font-size: 20px;
					font-weight: 400;
					letter-spacing: -0.05em;
					line-height: 1.2em;
					text-transform: capitalize;
				}
				span.prog-time {
					color: @base;
					display: block;
					font-size: 18px;
					font-weight: 600;
					letter-spacing: -0.05em;
					line-height: 1.2em;
					text-transform: capitalize;
				}
			}
			> div {
				font-size: 18px;
				font-weight: 300;
				letter-spacing: -0.025em;
				line-height: 24px;
				max-width: 450px;
			}
			div.prog-billing {
				padding-bottom: 24px;
			}
			div.subtitles {
				color: lighten(@base, 25);
				font-weight: 600;
				padding-bottom: 12px;
			}
			div.actions {

			}
		}
	}
}
a.button-outline {
	border: 1px solid @tealMid;
	border-radius: 2px;
	color: @tealMid;
	display: inline-block;
	font-family: arial;
	font-size: 14px;
	font-weight: 400;
	margin: 4px 2px;
	padding: 3px 22px 4px 34px;
	text-decoration: none;
	transform: translate3d(0,0,0);
	transition: all 0.15s ease-in;
	span.icon {
		display: block;
		float: left;
		height: 12px;
		margin: 1px 0 0 -20px;
		width: 12px;
		svg {
			height: 12px;
			width: 12px;
			polygon, rect, path {
				fill: @tealMid;
			}
		}
	}
}
a.button-outline:hover {
	background: rgba(255,255,255,0.6);
	border: 1px solid rgba(0,0,0,0);
	box-shadow: 0 1px 0 rgba(0,0,0,0.05), 0 4px 8px rgba(0,0,0,0.2);
	color: lighten(@tealMid, 5);
	transform: translate3d(0,-4px,0);
}


