@import 	"variables.less";
@import 	"mixins.less";

body.s4c-header-over header.s4c-header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}

header.s4c-header {
	height: 100px;

	h3.s4c-nav-title {
		display: none;
	}

	a.s4c-logo img {
		height: 100px;
	}

	nav > ul {
		margin: 0;
		min-height: 67px;
		padding: 33px 0 0;
		position: absolute;
		top: 0;

		&.s4c-main-menu {
			left: 140px;
		}

		&.s4c-user-menu {
			padding-left: 5%;
			overflow: hidden;
			right: 20px;
		}

		> li {
			display: inline;
			float: left;
			left: 0;
			list-style: none;
			margin: 0 10px 0 0;
			padding: 0;
			position: relative;
			top: 0;
			> a {
				display: block;
			}
		}
	}

	&.sticky {

		.smallerHeader();

	}
}


// context-menu
// colours
@darkTeal: #008a93;
@teal: #0096a1;
@border: #00757d;

div.context-menu {
 
	position: absolute;
	top: 50px;
	left: 0;
	
	background: @border;
	border-radius: 4px;
	box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.35);
	font-weight: 400;
	font-size: 14px;
	transition: all @dropDur ease-in;
	width: 200px;

	a.close {
		background: @darkGrey;
		border-radius: 50px;
		box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.35);
		height: 30px;
		opacity: 0.8;
		position: absolute;
		right: -38px;
		top: 4px;
		transition: all @dropDur ease-in;
		width: 30px;
		span.icon {
			display: block;
			height: 14px;
			padding: 4px 8px;
			width: 14px;
			svg {
				height: 14px;
				width: 14px;
				polygon {
					fill: #fff;
				}
			}
		}
		&:hover {
			box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.3), 0px 6px 10px 0 rgba(0, 0, 0, 0.2), 0px 8px 10px 0 rgba(0, 0, 0, 0.125), 0px 10px 10px 0 rgba(0, 0, 0, 0.05), 0px 12px 12px 0 rgba(0, 0, 0, 0.025);
			opacity: 1;
			transform: translateY(-1px);
		}
	}

/*
	&:hover {
		box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.3), 0px 6px 10px 0 rgba(0, 0, 0, 0.2), 0px 8px 10px 0 rgba(0, 0, 0, 0.125), 0px 10px 10px 0 rgba(0, 0, 0, 0.05), 0px 12px 12px 0 rgba(0, 0, 0, 0.025);
		transform: translateY(-1px);
	}
*/

	&:after {
		bottom: 100%;
		left: 28px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(0, 0, 0, 0);
		border-bottom-color: @darkTeal;
		border-width: 8px;
		margin-left: -8px;
	}	
	> ul {
		border-radius: 4px;
		margin: 0;
		overflow: hidden;
		padding: 0;

		> li {
			list-style: none;
			margin: 0;
			padding: 0;
			> a:hover {
				&:after {
					box-shadow: inset 0 0 0 rgba(0,0,0,0.025), -0 0 0 0 rgba(0,0,0,0.025), -0 0 0 0 rgba(0,0,0,0.025), -46px 0 0 0 rgba(0,0,0,0.05);
					background: fadeout(@teal,10);
					left: 40px;
				}
				span {
					opacity: 1;
				}
				span.arrow {
					margin-left: -38px;
				}
			}
			> a {
				background: @darkTeal;
				color: #fff;
				display: block;
				margin-bottom: 1px;
				padding: 12px 20px 11px 52px;
				position: relative;
				text-decoration: none;
				span {
					opacity: 0.8;
					position: relative;
					transition: all 0.3s ease-in;
					z-index: 10;
				}
				&:after {
					background: @darkTeal;
					box-shadow: inset 220px 0 0 rgba(0,0,0,0.225);
					content: "";
					height: 100%;
					left: 220px;
					position: absolute;
					transform: skew(-12deg);
					transition: all 0.3s ease-in;
					width: 100%;
					top: 0;
					z-index: 5;
				}
				span.arrow {
					border-right: 1px solid #fff;
					border-top: 1px solid #fff;
					display: block;
					float: left;
					height: 8px;
					margin: 2px 0 0 -30px;
					transform: rotate(45deg);
					transition: all 0.3s ease-in;
					width: 8px;
				}
			}
		}
		> li:first-child a {
			padding-top: 14px;
		}
		> li:last-child a {
			margin-bottom: 0;
			padding-bottom: 14px;
		}
		li:nth-child(1) a {
			z-index: 20;
		}
		li:nth-child(2) a {
			transition: all @dropDur ease-in;
			z-index: 19;
		}
		li:nth-child(3) a {
			transition: all @dropDur (@dropDur/@delayFactor) ease-in;
			z-index: 18;
		}
		li:nth-child(4) a {
			transition: all @dropDur ((@dropDur/@delayFactor)*2) ease-in;
			z-index: 17;
		}
		li:nth-child(5) a {
			transition: all @dropDur ((@dropDur/@delayFactor)*3) ease-in;
			z-index: 16;
		}
	}
	&.hide {
		opacity: 0;
		transform: translateY(-24px);
		ul {
			li:nth-child(1) a {
			}
			li:nth-child(2) a {
				margin-top: -52px;
				transition: all 0.3s ease-in;
			}
			li:nth-child(3) a {
				margin-top: -52px;
				transition: all 0.3s 0.1s ease-in;
			}
			li:nth-child(4) a {
				margin-top: -52px;
				transition: all 0.3s 0.2s ease-in;
			}
			li:nth-child(5) a {
				margin-top: -56px;
				transition: all 0.3s 0.3s ease-in;
			}
		}
	}
}

@keyframes stickyHeader {
	0% {
		height: 50px;
		transform: translateY(-100%);
	}
	100% {
		height: 50px;
		transform: translateY(0);
	}
}
@keyframes stickyHide {
	0% {
		height: 50px;
		transform: translateY(0%);
	}
	100% {
		height: 50px;
		transform: translateY(-100%);
	}
}

@keyframes alertBlink {
	0% {
		transform: scale(0);
	}
	3% {
		transform: scale(1.5);
	}
	4% {
		transform: scale(1);
	}
	7% {
		transform: scale(1.5);
	}
	8%, 100% {
		transform: scale(1);
	}
}

form.s4c-search {
	background: @white;
	.border-radius(4px);
	box-shadow:
		0 0 0 2px rgba(0,0,0,0.05),
		0 1px 0px 0 rgba(0,0,0,0.15)
	;
	height: 34px;
	padding: 0 12px 0 32px;
	position: relative;

	&.focus {
		box-shadow: 
			0 0 0 2px @tealMid
		;
	}

	label {
		display: block;
		left: 10px;
		position: absolute;
		height: 14px;
		top: 5px;
		width: 14px;

		svg {
			height: 14px;
			width: 14px;

			path {
				fill: @tealMid;
			}
		}
	}

	input {
		border: 0;
		border-color: @tealContrast;
		display: inline-block;
		.fontMedium;
		margin-top: 4px;
		padding: 4px 0 2px;
		.transition;
		width: 120px;

		&::-webkit-input-placeholder {
			color: @tealMid;
			.fontBook;
		}
		&:-moz-placeholder {
			color: @tealMid;
			.fontBook;
		}
		&::-moz-placeholder {
			color: @tealMid;
			.fontBook;
		}
		&:-ms-input-placeholder {
			color: @tealMid;
			.fontBook;
		}

		&:focus {
			outline: 0;
			width: 200px;
		}
	}
}



/* ==========================================================================
	 Media Queries
	 ========================================================================== */

@media (max-width: @smallHeadBP) {


	body-no-touch header.s4c-header {
		.smallerHeaderHover();
	}

	header.s4c-header {
		.smallerHeader();
	}

}

@media (max-width: @mobileNavBP) {

	.no-touch header.s4c-header {
		a.btn {
			.normalButtonHover();
		}
	}

	body.show-nav {
		div.s4c-main-container {
			height: 100%;
			overflow: hidden;
			position: fixed;
			width: 100%;
		}
	}

	body.s4c-header-over header.s4c-header {
		width: 212px;
	}

	header.s4c-header {
		animation: none;
		background: @lightBG;

		// having a little play with a really subtle background gradient
		background: -moz-linear-gradient(left, rgba(220,225,223,1) 0%, rgba(209,214,212,1) 1%, rgba(220,225,223,1) 36%, rgba(220,225,223,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(220,225,223,1)), color-stop(1%, rgba(209,214,212,1)), color-stop(36%, rgba(220,225,223,1)), color-stop(100%, rgba(220,225,223,1)));
		background: -webkit-linear-gradient(left, rgba(220,225,223,1) 0%, rgba(209,214,212,1) 1%, rgba(220,225,223,1) 36%, rgba(220,225,223,1) 100%);
		background: -o-linear-gradient(left, rgba(220,225,223,1) 0%, rgba(209,214,212,1) 1%, rgba(220,225,223,1) 36%, rgba(220,225,223,1) 100%);
		background: -ms-linear-gradient(left, rgba(220,225,223,1) 0%, rgba(209,214,212,1) 1%, rgba(220,225,223,1) 36%, rgba(220,225,223,1) 100%);
		background: linear-gradient(to right, rgba(220,225,223,1) 0%, rgba(209,214,212,1) 1%, rgba(220,225,223,1) 36%, rgba(220,225,223,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dce1df', endColorstr='#dce1df', GradientType=1 );

		min-height: 100%;
		right: 0;
		.perspective;
		position: fixed;
		top: 0;
		.transform(translate3d(250%,0,0));
		.transition(all 0.3s ease-in);
		width: 212px;

		&:after {
			background: @lightBG;
			box-shadow: -0px 0 20px 20px rgba(0,0,0,0.2), -0px 0 10px 3px rgba(0,0,0,0.4);
			content: "";
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			.transform(skew(-12deg));
			transform-origin: top;
			top: 0;
			width: 250%;
			z-index: 10;
		}

		&:before {
			background: fadeout(@teal, 90);
//			box-shadow: -0px 0 20px 20px rgba(0,0,0,0.1), -0px 0 10px 3px rgba(0,0,0,0.2);
			content: "";
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			.transform(translate3d(100%,0,0) skew(-12deg));
			transform-origin: top;
			.transition(all 0.3s ease-in);
			top: 0;
			width: 250%;
			z-index: 5;
		}


		nav > ul {
			&.s4c-user-menu {
				right: auto;
			}
		}

		h3.s4c-nav-title {
			color: darken(@lightBG, 25);
			display: block;
			font-size: 11px;
			left: 20px;
			position: absolute;
			text-transform: uppercase;
			top: 10px;
			z-index: 20;
		}

		// large header
		form.s4c-search {
			box-shadow:
				0 0 0 2px rgba(0,0,0,0.05),
				0 1px 0px 0 rgba(0,0,0,0.15)
			;
			height: 34px;
		
			&.focus {
				box-shadow: 
					0 0 0 2px @tealMid
				;
			}
		
			label {
				left: 10px;
				height: 14px;
				top: 5px;
				width: 14px;
		
				svg {
					height: 14px;
					width: 14px;
				}
			}
		
			input {
				font-size: 14px;
				padding: 4px 0 2px;
		
				&::-webkit-input-placeholder {
					font-size: 14px;
				}
				&:-moz-placeholder {
					font-size: 14px;
				}
				&::-moz-placeholder {
					font-size: 14px;
				}
				&:-ms-input-placeholder {
					font-size: 14px;
				}
			}

			input,
			input:focus {
				width: 140px;
			}
		}

		a.s4c-logo {
			display: none;
		}

		nav {
			> ul {
				left: auto;
				min-height: none;
				padding: 60px 20px 20px;
				position: relative;
				width: 180px;
				z-index: 20;

				li {
					.backface-visibility(hidden);
					display: block;
					float: none;
					margin: 0;
					opacity: 0;
					.transform(rotateY(90deg) translate3d(100%,0,0));
					.transition(all 0.3s 0s ease-in);

					a.btn.svg-icon {
						margin: 0 0 8px 0;
					}
				}
			}

			> ul.s4c-main-menu {
				left: auto;
			}

			> ul.s4c-user-menu {
				overflow: visible;
				padding: 0 20px;

				&:after {
					display: none;
				}
			}
		}

		a.btn {
			.normalButton();
			display: block;
		}
	}


	div.s4c-main-overlay {
		background: @teal;
		box-shadow: -0px 0 20px 20px rgba(0,0,0,0.2), -0px 0 10px 3px rgba(0,0,0,0.4);
		height: 100%;
		right: 0;
		opacity: 0.1;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 88888;
		.transform(translate3d(150%,0,0) skew(-12deg));
		.transition(all 0.3s ease-in);
	}

	div.s4c-main-container {
		min-height: 100%;
		position: absolute;
		top: 0;
		.transition(all 0.15s 0s ease-in);
		width: 100%;
	}

	div.s4c-toggle-menu {
		height: 50px;
		display: block;
		position: relative;
		z-index: 100100;

		g.rects {
			position: relative;
			rect.row {
				.transition(all 0.15s ease-in);
			}
			rect.row1,
			rect.row3 {
				transform-origin: left center;
				.transform(rotate(0deg) translate3d(0,0,0));
			}
			rect.row2 {
				transform-origin: center center;
				.transform(scale3d(1,1,0));
			}
		}

		a.s4c-logo-toggle {
			display: block;
			height: 50px;

			img {
				height: 50px;
			}
		}

		a.s4c-toggle-btn {
			position: fixed;
			top: 8px;
			right: 12px;
			z-index: 100000;
		}

		a.s4c-toggle-btn {
			span.close-icon {
				display: block;
				height: 14px;
				width: 14px;
				span.row {
					background: #fff;
					display: block;
					height: 3px;
					.transform-origin(left);
					width: 14px;
				}
				span.row1 {
					margin: 2px 0;
					.transition;
				}
				span.row2 {
					margin: 2px 0;
				}
				span.row3 {
					margin-top: 1px;
					.transition;
				}
			}
			span.icon {
				left: 12px;
				top: 8px;
			}
			&:after {
				left: 26px;
			}
		}

		a.s4c-toggle-btn.sticky {
			padding-left: 10px;
			padding-right: 10px;
			width: 18px;	

			span.label {
				left: 40px;
			}

			&:after {
				left: 70px;
			}
		}
	}

	body.show-nav {

		header.s4c-header {
			.transform(translate3d(0,0,0));

			&:before {
				background: fadeout(#000, 90);
				box-shadow: inset -0px 0 20px 20px rgba(0,0,0,0.015), inset -0px 0 10px 3px rgba(0,0,0,0.1);
				.transform(translate3d(-220%,0,0) skew(-12deg));
			}

			nav {	
				li {
					opacity: 1;
					.transform(rotateY(0) translate3d(0,0,0));

					&.s4c-menu-item1 {
						.transition(all .3s 0.1s ease-in);
					}
					&.s4c-menu-item2 {
						.transition(all .3s 0.15s ease-in);
					}
					&.s4c-menu-item3 {
						.transition(all .3s 0.2s ease-in);
					}
					&.s4c-menu-item4 {
						.transition(all .3s 0.25s ease-in);
					}
					&.s4c-menu-item5 {
						.transition(all .3s 0.3s ease-in);
					}
					&.s4c-menu-item6 {
						.transition(all .3s 0.35s ease-in);
					}
					&.s4c-menu-item7 {
						.transition(all .3s 0.4s ease-in);
					}
					&.s4c-menu-item8 {
						.transition(all .3s 0.45s ease-in);
					}
					&.s4c-menu-item9 {
						.transition(all .3s 0.5s ease-in);
					}
					&.s4c-menu-item10 {
						.transition(all .3s 0.55s ease-in);
					}
				}
			}
		}

		div.s4c-main-overlay {
			display: block;
			opacity: 0.6;
			.transform(translate3d(-20%,0,0) skew(-12deg));
		}

		div.s4c-main-container {
			.transform(translate3d(-200px,0,0));
			.transition(all 0.15s 0.175s ease-in);
		}

		div.s4c-toggle-menu {
		
			a.s4c-toggle-btn {
				background: @lightBG;
				box-shadow: 0 0 0 1px darken(@lightBG, 10);
				padding-left: 10px;
				padding-right: 10px;
				width: 18px;
		
				span.label {
					left: 40px;
				}
	
				&:after {
					left: 70px;
				}

				span.close-icon {
					display: block;
					height: 14px;
					width: 14px;
					span.row {
						background: @teal;
					}
					span.row1 {
						.transform(rotate(45deg) translate3d(1px, -1px, 0));
					}
					span.row2 {
						.transform(scale3d(0,1,0));
					}
					span.row3 {
						.transform(rotate(-45deg) translate3d(1px, 1px, 0));
					}
				}
			}



/*
			g.rects {
				rect.row {
					fill: @teal;
				}
				rect.row1 {
					.transform(rotate(45deg) translate3d(1px, -1px, 0));
				}
				rect.row2 {
					.transform(scale3d(0,1,0));
				}
				rect.row3 {
					.transform(rotate(-45deg) translate3d(1px, 1px, 0));
				}
			}
*/
		}
	}
}




