				<div class="sideNav-blue-dk">
					<ul>
						<li><a href="c_aboutthissite.shtml">Hafan Y wefan hon</a></li>
						<li><a href="c_accessibility.shtml">Hygyrchedd</a></li>
						<li><a href="c_privacypolicy.shtml">Polisi Preifatrwydd</a></li>
						<li><a href="c_cookies.shtml">Cwcis</a></li>
						<li><a href="c_legal.shtml">Termau ac Amodau</a></li>
						<li><a href="http://www.s4c.cymru/cy/hafan/page/7041/telerau-ac-amodau-cystadleuaeth/">Telerau ac amodau cystadleuaeth</a></li>
						<li><a href="c_aboutthissite_fb.shtml">Eich barn chi?</a></li>
					</ul>
				</div>