<div id="calon-cenedl-banner">
			<p class="date">Ynys M&ocirc;n</p>
			<p class="msg"><a href="caloncenedl/c_index.html">Rhwng 25 Mehefin a 9 Gorffennaf bydd S4C yn ymweld &acirc; M&ocirc;n.</a></p>
            <img src="img/calon-cenedl-banner/calon-cenedl-logo.jpg" alt="Calon Cenedl" />
	</div>