<div id="dso-alert" class="e">
	<div id="dso-inner">
		<a href="dso/c_index.aspx" class="logo">
			<img src="img/dso-alert/c_logo.jpg" alt="Ymlaen &acirc;&acute;r sioe" />
		</a>
		<div class="alert-copy">
			<p class="date">31 Mawrth  2010</p>
			<p class="msg"><a href="dso/c_switchover_schedule.html">Trosglwyddydd Gwenf&ocirc; yn newid (Caerdydd a de ddwyrain Cymru)</a></p>
		</div>
		<a href="dso/c_switchover_schedule.html" class="dates">
			<img src="img/dso-alert/c_dates.jpg" alt="Dyddiadau newid i ddigidol" />
		</a>
		<!--div class="alert-copy">
			<p class="date">Newid i Ddigidol</p>
			<p class="msg"><a href="dso/c_index.aspx">Cofiwch addasu pob teledu yn eich t&#375; i dderbyn digidol</a></p>
		</div>
		<a href="dso/c_switchover_schedule.html" class="dates">
			<img src="img/dso-alert/c_dates.jpg" alt="Dyddiadau newid i ddigidol" />
		</a-->
	</div>
	<div class="s4c-clear"></div>
</div>