<div id="dso-alert" class="e">
	<div id="dso-inner">
		<a href="dso/" class="logo">
			<img src="img/dso-alert/c_logo.jpg" alt="Ymlaen &acirc;&acute;r sioe" />
		</a>
		<!--div class="alert-copy alert-copy1">
			<p class="date">9 Medi</p>
			<p class="msg"><a href="dso/c_freeview.html">Ail-diwnio Freeview trwy Gymru</a></p>
		</div>
		<div class="alert-copy alert-copy2">
			<p class="date">9 Medi</p>
			<p class="msg"><a href="dso/c_switchover_schedule.html">Bydd Mynydd Cilf&aacute;i (ardal Abertawe) yn newid</a></p>
		</div>
		<span class="end"></span-->
		<div class="alert-copy">
			<p class="date">16 Medi</p>
			<p class="msg"><a href="dso/c_index.html">Trosglwyddydd Preseli yn newid (de orllewin Cymru)</a></p>
		</div>
		<a href="dso/c_switchover_schedule.html" class="dates">
			<img src="img/dso-alert/c_dates.jpg" alt="Dyddiadau newid i ddigidol" />
		</a>
	</div>
	<div class="s4c-clear"></div>
</div>