<div class="sideNav-purple-dk">
					<ul>
						<li><a href="e_contact.shtml">Jobs home</a></li>
					</ul>
				</div>
				<div class="sideNav-feeds">
					<ul>
						<li><a href="#">job 1</a></li>
						<li><a href="#">job 2</a></li>
					</ul>
				</div>

