<div class="sideNav-blue-dk">
					<ul>
						<li><a href="http://www.dysguars4c.co.uk/Cymraeg/home.php">Gwasanaeth Dysgwyr S4C</a></li>
						<li><a href="c_subtitles_welsh.shtml">Isdeitlau Cymraeg</a></li>
						<li><a href="c_subtitles_english.shtml">Isdeitlau Saesneg</a></li>
					</ul>
				</div>
