				<div class="sideNav-green-dk">
					<ul>
						<li><a href="c_listings.shtml">Hafan Amserlenni</a></li>
                        <!--<li><a href="[% digital_uri | html %]">S4C</a></li> -->
                    <!--li><a href="[% analogue_uri | html %]">S4C Analog</a></li-->
						<!--<li><a href="[% s4c2_uri | html %]">S4C2</a></li> -->
					</ul>
				</div>
				<div class="sideNav-green-lt">
					<ul>
						<li><a href="c_access.shtml">Hafan Gwasanaethau Mynediad </a></li>
						<li><a href="c_subtitles_english.shtml">Isdeitlau Saesneg</a></li>
						<li><a href="c_subtitles_welsh.shtml">Isdeitlau Cymraeg</a></li>
						<li><a href="c_audiodescription.shtml">Sain ddisgrifio</a> <!--img class="ad-small" src="img/ad-small-green.gif" border="0" alt="Sain ddisgrifio Logo" /--></li>
						<li><a href="c_signing.shtml">Arwyddo</a> <!--img class="ad-small" src="img/signing-small-green.gif" border="0" alt="Arwyddo Logo" /--></li>
					</ul>
				</div>
				<div class="sideNav-grey-dk">
						<ul>
							<li><a href="c_how_digital.shtml">Sut mae derbyn S4C</a></li>
                            <li><a href="/clirlun/c_index.shtml">Clirlun</a>
							
                            <!--li><a href="c_how_analogue.shtml">Analog</a></li-->
							<!--li><a href="c_how_digital.shtml">S4C</a></li-->
							<!--li><a href="c_how_s4c2.shtml">S4C2</a></li-->
						</ul>
				</div>
