				<div class="sideNav-green-dk">
					<ul>
						<li><a href="c_listings.shtml">Hafan Amserlenni</a></li>
                        <!--<li><a href="[% digital_uri | html %]">S4C</a></li> -->
                    <!--li><a href="[% analogue_uri | html %]">S4C Analog</a></li-->
						<!--<li><a href="[% s4c2_uri | html %]">S4C2</a></li> -->
					</ul>
				</div>
				<div class="sideNav-green-lt">
					<ul>
						<li><a href="http://www.s4c.cymru/cy/gwasanaethau-mynediad/">Hafan Gwasanaethau Mynediad </a></li>
						<li><a href="http://www.s4c.cymru/cy/gwasanaethau-mynediad/page/5854/isdeitlau-saesneg/">Isdeitlau Saesneg</a></li>
						<li><a href="http://www.s4c.cymru/cy/gwasanaethau-mynediad/page/5857/isdeitlau-cymraeg/">Isdeitlau Cymraeg</a></li>
						<li><a href="http://www.s4c.cymru/cy/gwasanaethau-mynediad/page/5860/sain-ddisgrifio/">Sain ddisgrifio</a> <!--img class="ad-small" src="img/ad-small-green.gif" border="0" alt="Sain ddisgrifio Logo" /--></li>
						<li><a href="http://www.s4c.cymru/cy/gwasanaethau-mynediad/page/5862/arwyddo/">Arwyddo</a> <!--img class="ad-small" src="img/signing-small-green.gif" border="0" alt="Arwyddo Logo" /--></li>
					</ul>
				</div>
				<div class="sideNav-grey-dk">
						<ul>
							<li><a href="http://www.s4c.cymru/cy/gwasanaethau-mynediad/page/5865/sut-i-dderbyn-s4c-digidol/">Sut mae derbyn S4C</a></li>
							
                            <!--li><a href="c_how_analogue.shtml">Analog</a></li-->
							<!--li><a href="c_how_digital.shtml">S4C</a></li-->
							<!--li><a href="c_how_s4c2.shtml">S4C2</a></li-->
						</ul>
				</div>
