				<div class="sideNav-green-dk">
					<ul>
						<li><a href="c_listings.shtml">Hafan Amserlenni</a></li>
                        <li><a href="[% digital_uri | html %]">S4C Digidol</a></li>
                        <li><a href="[% analogue_uri | html %]">S4C Analog</a></li>
						<li><a href="[% s4c2_uri | html %]">S4C2</a></li>
					</ul>
				</div>
				<div class="sideNav-green-lt">
					<ul>
						<li><a href="c_access.shtml">Hafan Gwasanaethau Mynediad </a></li>
						<li><a href="c_subtitles_english.shtml">Isdeitlau Saesneg (888)</a></li>
						<li><a href="c_subtitles_welsh.shtml">Isdeitlau Cymraeg (889)</a></li>
						<li><a href="c_audiodescription.shtml">Sain ddisgrifio </a></li>
						<li><a href="c_signing.shtml">Arwyddo</a></li>
					</ul>
				</div>
				<div class="sideNav-grey-dk">
						<ul>
							<li>Sut mae derbyn S4C</li>
							<li><a href="c_how_analogue.shtml">Analog</a></li>
							<li><a href="c_how_digital.shtml">Digidol</a></li>
							<li><a href="c_how_s4c2.shtml">S4C2</a></li>
						</ul>
				</div>
