<div id="rugby-alert">
	<div id="rugby-alert-inner">
		<div id="rugby-col1">
			<h2><a href="chwaraeon/c_jonathan.shtml">Mae Jonathan n&ocirc;l!</a></h2>
			<p class="red">Nos Wener 21:30</p>
		</div>
		<div id="rugby-col2">
			<h2><a href="chwaraeon/c_nigel-owens.shtml">Nigel Owens</a></h2>
			<p class="red">Nos Wener 20:25</p>
		</div>
		<div id="rugby-col3">
			<div id="count-down"></div>
			<p><a href="rygbi/">Y Chwe Gwlad ar S4C</a></p>
		</div>
	</div>
	<div class="s4c-clear"></div>
</div>