<div class="s4c-foot2-spacer"></div>
<div id="s4c-foot2">
	<div id="s4c-foot2-content">
		<div id="s4c-foot2-links">
			<div id="s4c-foot2-links-col1">
				<h6>Gwybodaeth</h6>
				<ul>
					<li><a href="/production/c_index.shtml">Hafan cynhyrchu</a></li>
					<li><a href="/production/c_latest-news.shtml">Newyddion cynhyrchu</a></li>
					<li><a href="/production/c_guidelines.shtml">Canllawiau a pholis&iuml;au</a></li>
					<li><a href="/tendrau/c_index.shtml">Tendrau</a></li>
				</ul>
			</div>
			<div id="s4c-foot2-links-col2">
				<h6>S4C</h6>
				<ul>
					<li><a href="/abouts4c/c_index.shtml">Amdanom ni</a></li>
					<li><a href="/abouts4c/authority/c_index.shtml">Awdurdod S4C</a></li>
					<li><a href="/hysbysebu">Hysbysebu ar S4C</a></li>
					<li><a href="/swyddi/c_index.shtml">Swyddi</a></li>
				</ul>
			</div>
			<div id="s4c-foot2-links-col3">
				<h6>Gwefan</h6>
				<ul>
					<li><a href="/c_aboutthissite.shtml">Y wefan hon</a></li>
					<li><a href="/c_accessibility.shtml">Hygyrchedd</a></li>
					<li><a href="/c_privacypolicy.shtml">Polisi Preifatrwydd</a></li>
					<li><a href="/c_legal.shtml">Telerau ac Amodau</a></li>
				</ul>
			</div>
			<div id="s4c-foot2-links-col4">
				<h6>Cysylltu</h6>
				<ul>
					<li><a href="/c_contact.shtml">Cysylltu &acirc; ni</a></li>
					<!--li><a href="/tanysgrifio/c_index.shtml">Tanysgrifio</a></li-->
				</ul>
			</div>
			<div class="s4c-clear"></div>
		</div>
		<div id="stamp2">
			<p>&copy; 2012 <acronym>S4C</acronym><br />
			O Gymru / <span  xml:lang="en">Made in Wales</span>
			</p>
		</div>
		<div class="s4c-clear"></div>
	</div>
</div>
<div class="s4c-foot2-spacer"></div>

<!--#include virtual="/ssi/tracking.html" -->
<script type="text/javascript" src="http://indpcr1.com/js/29453.js" ></script>
<noscript><img src="http://indpcr1.com/images/track/29453.png?trk_user=29453&trk_tit=jsdisabled&trk_ref=jsdisabled&trk_loc=jsdisabled" height="0px" width="0px" style="display:none;" /></noscript>