<footer><div id="s4c-footer" class="clearfix">
	<div class="s4c-footer-skip">
		<a href="#s4c-footer-wrapper">
			<span class="ss-icon">&#xE9A1;</span>
			Dolenni
		</a>
	</div>
	<div id="s4c-footer-wrapper">
		<div class="article first grey footer1">
            <h1>Gwybodaeth</h1>
            <ul>
                <li><a href="http://www.s4c.co.uk/c_press.shtml">Swyddfa'r Wasg</a></li>
                <li><a href="http://www.s4c.co.uk/production/">Hafan cynhyrchu</a></li>
                <li><a href="http://www.s4c.co.uk/production/c_latest-news.shtml">Newyddion cynhyrchu</a></li>
                <li><a href="http://www.s4c.co.uk/production/c_guidelines.shtml">Canllawiau a pholis&iuml;au</a></li>
                <li><a href="http://www.s4c.co.uk/tendrau/c_index.shtml">Tendrau</a></li>
            </ul>
        </div>
        <div class="article grey footer2">
            <h1>S4C</h1>
            <ul>
                <li><a href="http://www.s4c.co.uk/abouts4c">Amdanom ni</a></li>
                <li><a href="http://www.s4c.co.uk/abouts4c/authority">Awdurdod S4C</a></li>
                <li><a href="http://www.s4c.co.uk/abouts4c/diversity">Amrywiaeth</a></li>
                <li><a href="http://www.s4c.co.uk/hysbysebu">Hysbysebu ar S4C</a></li>
                <li><a href="http://www.s4c.co.uk/swyddi">Swyddi</a></li>
            </ul>
        </div>
        <div class="article grey footer3">
            <h1>Y Wefan</h1>
            <ul>
                <li><a href="http://www.s4c.co.uk/c_aboutthissite.shtml">Y wefan hon</a></li>
                <li><a href="http://www.s4c.co.uk/c_accessibility.shtml">Hygyrchedd</a></li>
                <li><a href="http://www.s4c.co.uk/c_privacypolicy.shtml">Polisi Preifatrwydd</a></li>
                <li><a href="http://www.s4c.co.uk/c_cookies.shtml">Cwcis</a></li>
                <li><a href="http://www.s4c.co.uk/c_legal.shtml">Telerau ac Amodau</a></li>
            </ul>
        </div>
        <div class="article grey footer4">
            <h1>Gwefannau eraill</h1>
            <ul>
                <li><a href="http://hwb.s4c.co.uk/cy">Hwb</a></li>
                <li><a href="http://www.s4c.co.uk/dysgwyr/">Dysgwyr</a></li>
                <li><a href="http://tywydd.s4c.co.uk">Y Tywydd</a></li>
                <li><a href="http://www.s4c.co.uk/cymorth/c_index.php">Cymorth</a></li>
                <li><a href="http://www.s4c.co.uk/c_websites_az.shtml">A - Y o Wefannau</a></li>
            </ul>
        </div>
        <div class="article last grey footer5">
            <h1>Cysylltu</h1>
            <ul>
                <li><a href="http://s4c.co.uk/c_contact.shtml">Cysylltu &acirc; ni</a></li>
                <li><a href="http://s4c.co.uk/c_feeds.shtml">Tanysgrifio</a></li>
                <li><a href="http://twitter.com/S4C">Twitter</a></li>
                <li><a href="http://www.facebook.com/s4c.cymru">Facebook</a></li>
            </ul>
        </div>
	</div>
    <div id="s4c-copyright">
	    <p>&copy; 2014 S4C</p>
		<p>O Gymru / Made in Wales</p>
    </div>    
</div></footer>

<!--#include virtual="/ssi/tracking.html" -->