<header><div id="s4c-header" class="clearfix">
	<div class="s4c-header-inner">
    	
		<h1 class="s4c-logo"><a href="/hafan/" title="Home"><img src="/img/s4c-calon-cenedl-white.png" alt="S4C Calon Cenedl / Heart of the Nation" /></a></h1>
	
	    <nav><div id="s4c-main-nav">
	
		    <a href="#skip-to-s4c-content" class="s4c-skip-link">Neidio at y cynnwys</a>
	
		    <div class="header-toggle">
		    	<a href="#s4c-nav">
		        	<span class="ss-icon">&#xE9A1;</span>
		        	Navigation
		    	</a>
		    </div>
		    
		    <div id="s4c-navigation-group">
	
			    <form action="http://www.s4c.co.uk/search/custom" method="post" id="s4c-search">
			    	<label for="searchq">Chwilio</label>
					<input type="hidden" value="c" name="lang" />
			        <input type="input" id="searchq" name="q" value="" />
			        <input type="submit" value="Search" class="submit ss-icon" />
			    </form>
	
		        <ul id="s4c-nav">
		            <li id="s4c-nav1" class="s4c-main-nav-item">
		            	<div class="s4c-main-nav-link">
			            	<a href="/hafan/">
			            		<span class="ss-icon">&#x2302;</span>
			            		Hafan
			            	</a>
		            	</div>
		            </li>
		            <li id="s4c-nav2" class="s4c-main-nav-item">
		            	<div class="s4c-main-nav-link">
			            	<a href="http://www.s4c.co.uk/clic/c_index.shtml">
			            		<span class="ss-icon">&#x25B6;</span>
			            		Clic
			            	</a>
		            	</div>
		            </li>
		            <li id="s4c-nav3" class="s4c-main-nav-item">
		            	<div class="s4c-main-nav-link">
			            	<a href="http://s4c.co.uk/c_listings.shtml">
			            		<span class="ss-icon">&#x1F4C6;</span>
			            		Amserlenni
			            	</a>
		            	</div>
		            </li>
		            <li id="s4c-nav4" class="s4c-main-nav-item parent-li">
		            	<div class="s4c-main-nav-link">
			            	<a href="http://s4c.co.uk/c_websites.shtml" class="s4c-parent-li">
			            		<span class="ss-icon">&#x1F4BB;</span>
			            		Rhaglenni
			            	</a>
		            	</div>
		            	<div class="s4c-sub-nav-wrapper">
			            	<ul class="s4c-sub-nav">
			            		<li id="s4c-sub-nav0" class="s4c-sub-nav-item">
			            			<a href="http://s4c.co.uk/c_websites.shtml">Yr holl raglenni</a>
			            		</li>
			            		<li id="s4c-sub-nav1" class="s4c-sub-nav-item">
			            			<a href="http://cyw.s4c.co.uk/en">Cyw</a>
			            		</li>
			            		<li id="s4c-sub-nav2" class="s4c-sub-nav-item">
			            			<a href="http://stwnsh.s4c.co.uk/en">Stwnsh</a>
			            		</li>
			            		<li id="s4c-sub-nav3" class="s4c-sub-nav-item">
			            			<a href="http://s4c.co.uk/adlonian">Adloniant</a>
			            		</li> 
			            		<li id="s4c-sub-nav4" class="s4c-sub-nav-item">
			            			<a href="http://s4c.co.uk/cerddoriaeth">Cerddoriaeth</a>
			            		</li>
			            		<li id="s4c-sub-nav5" class="s4c-sub-nav-item">
			            			<a href="http://s4c.co.uk/chwaraeon">Chwaraeon</a>
			            		</li>
			            		<li id="s4c-sub-nav6" class="s4c-sub-nav-item">
			            			<a href="http://s4c.co.uk/drama">Drama</a>
			            		</li>
			            		<li id="s4c-sub-nav7" class="s4c-sub-nav-item">
			            			<a href="http://s4c.co.uk/ffeithiol">Ffeithiol</a>
			            		</li>
			            	</ul>
		            	</div>
		            </li>
		        </ul>
	
			    <div id="lang-switch" class="e_lang">
			        <a href="[% change_lang | html %]">
			        	<span class="ss-icon">&#x1F4AC;</span>
			        	English
			        </a>
			    </div>
		    
		    </div>
		    
	    </div></nav>

	</div>
</div></header>
<div id="skip-to-s4c-content"></div>