<header>
  <div id="s4c-header" class="clearfix">
    	
	<h1><a href="/hafan/c_index.shtml" title="Hafan"><img src="/img/s4c.png" alt="S4C" /></a></h1>
    <form action="http://www.s4c.co.uk/search/custom" method="post" id="s4c-search">
      <label for="searchq">Chwilio</label>
			<input type="hidden" value="c" name="lang" /> 
            <input type="search" id="searchq" name="q" value="" />
            <input type="submit" value="Chwilio" class="submit" />
            <!--input type="image" id="s4c-head-go" alt="Chwilio" src="/hafan/img/search-btn.png" /-->
    </form>
    
    <ul class="s4c-social-networking-icons">
    	<li class="facebook"><a href="http://www.facebook.com/s4c.co.uk"><span></span>Facebook</a></li>
    	<li class="twitter"><a href="http://twitter.com/#!/s4c"><span></span>Twitter</a></li>
    </ul>
        
    <nav id="s4c-main-nav">
        <ul id="s4c-nav" class="c_nav">
            <li id="s4c-nav1"><a href="/hafan/c_index.shtml">Hafan</a></li>
            <li id="s4c-nav2"><a href="http://www.s4c.co.uk/clic">Clic</a></li>
            <li id="s4c-nav3"><a href="http://s4c.co.uk/c_listings.shtml">Amserlenni</a></li>
            <li id="s4c-nav4" class="parent-li"><a href="http://s4c.co.uk/c_websites.shtml">Rhaglenni</a>
                <ul>
                    <li id="s4c-sub-nav1"><a href="http://cyw.s4c.co.uk/cy">Cyw</a></li>
                    <li id="s4c-sub-nav2"><a href="http://stwnsh.s4c.co.uk/cy">Stwnsh</a></li>
                    <li id="s4c-sub-nav3"><a href="http://s4c.co.uk/adloniant">Adloniant</a></li>
                    <li id="s4c-sub-nav4"><a href="http://s4c.co.uk/cerddoriaeth">Cerddoriaeth</a></li>
                    <li id="s4c-sub-nav5"><a href="http://s4c.co.uk/chwaraeon">Chwaraeon</a></li>
                    <li id="s4c-sub-nav6"><a href="http://s4c.co.uk/drama">Drama</a></li>
                    <li id="s4c-sub-nav7"><a href="http://s4c.co.uk/ffeithiol">Ffeithiol</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="lang-switch" class="e_lang">
        <a href="[% change_lang | html %]">English</a>
    </div>
  </div>
</header>
