<div id="s4c-head2">
	<p class="s4c-hide"><a href="#content">Neidio at y cynnwys</a></p>
	<div id="s4c-head-search">
		<div id="s4c-search-box">
			<form action='/search/custom' method='post'>
				<input type="hidden" value="c" name="lang" />
				<label for="searchq">Chwilio</label><input type="text" name="q" id="searchq" value="" /><input type="image" value="Chwilio" alt="Chwilio" src="http://www.s4c.co.uk/img/s4c-head-search.gif" id="s4c-head-go" />
			</form>
		</div>
		<div id="s4c-lang">
			<a href="[% change_lang | html %]" xml:lang="en">English</a>
		</div>
	</div>
	<img src="img/logo-s4c-croeso.gif" alt="S4C" title="Croeso i S4C, y sianel deledu Gymraeg" id="s4c-logo" />
	<ul id="nav">
		<li class="c_s4c-nav-tab1"><a href="c_index.shtml">Hafan</a></li>
		<li class="c_s4c-nav-tab3"><a href="clic/">Clic</a></li>
		<li class="c_s4c-nav-tab2"><a href="c_listings.shtml">Amserlenni</a></li>
		<li class="c_s4c-nav-tab4"><a href="c_websites.shtml">Gwefannau</a></li>
		<li class="c_s4c-nav-tab5"><a href="http://cyw.s4c.co.uk/cy">Cyw</a></li>
		<li class="e_s4c-nav-tab6"><a href="http://stwnsh.s4c.co.uk/cy">Stwnsh</a></li>
		<!--li class="c_s4c-nav-tab8"><a href="c_learners.shtml" class="nav-end">Dysgwyr</a></li-->
		<li class="c_s4c-nav-tab8"><a href="/dysgwyr" class="nav-end">Dysgwyr</a></li>
		<li class="c_s4c-nav-tab7"><a href="c_press.shtml">Y Wasg</a></li>
	</ul>
	<div id="s4c-head-clear"></div>
</div>