<div class="masonryGridItemContent clearfix">
<h2>Sgorio</h2>
<a href="/sgorio/"><img src="http://www.s4c.co.uk/sgorio/rw/uploads/2014/04/nicky-port-talbot-6-640x360.jpg" class="postImg" alt="nicky-port-talbot-6"></a>
<ul class="feedLinks"><li><a href="http://www.s4c.co.uk/sgorio/2014/nicky-john-yng-nghanol-yr-hwyl/"><h3>Nicky John yng nghanol yr hwyl<span class="icon icon-next"></span></h3><p>Nicky John fu ym Mhort Talbot ar gyfer diwrnod o bêl-droed i ferched y gymuned.</p></a></li><li><a href="http://www.s4c.co.uk/sgorio/2014/cofio-trychineb-hillsborough/"><h3>Cofio trychineb Hillsborough<span class="icon icon-next"></span></h3></a></li><li><a href="http://www.s4c.co.uk/sgorio/2014/hillsborough/"><h3>Hillsborough<span class="icon icon-next"></span></h3></a></li><li><a href="http://www.s4c.co.uk/sgorio/2014/10560/"><h3>Pwy &#8217;di pwy? Greg Strong<span class="icon icon-next"></span></h3></a></li></ul><div class="actions clearfix">
<ul class="actionsList">
<li class="actionsItem">
<a href="/sgorio/" class="buttonIcon">
<div class="buttonIconInner">
<span class="skew"></span>
<span class="icon icon-home"></span> <span class="label">Hafan Sgorio</span>
</div>
</a>
</li>
</ul>
</div>
</div>
