<div class="sideNav-green-dk">
					<ul>
						<li><a href="c_watch.shtml">Hafan Gwylio</a></li>
						<li><a href="mms://s4c.unique-media.tv/s4c_uk_live">Gwylio yn fyw</a></li>
						<li><a href="c_watch_atoz.shtml">Cynnwys A i Y</a></li>
						<li><a href="c_watch_signed.shtml">Rhaglenni wedi'u harwyddo</a></li>
						<li><a href="c_video.shtml">Sut ydw i'n gwylio?</a></li>
					</ul>
				</div>
				<div class="sideNav-green-lt">
					<h4>Yn fuan ar S4C</h4>
					<ul>
                    <li class="watch"><a href="mms://s4c.unique-media.tv/s4c_uk/promos/2dyani_38_c.asf">2 Dy a Ni</a></li>
                    <!--li class="watch"><a href="mms://s4c.unique-media.tv/s4c_uk/promos/drama_32_c.asf">Drama ar S4C</a></li-->
                    <li class="watch"><a href="mms://s4c.unique-media.tv/s4c_uk/promos/slot6-7_36_c.asf">Slot 6 i 7</a></li>
                    <li class="watch"><a href="mms://s4c.unique-media.tv/s4c_uk/promos/hydref_32_c.asf">Yr Hydref ar S4C</a></li>
					</ul>
					<ul>
                    <li class="watch"><a href="mms://s4c.unique-media.tv/s4c_uk/promos/gwylio_promo.asf">Gwylio yma</a></li>
					</ul>
				</div>
				<div class="sideNav-feeds">
					<ul>
						<li class="none"><a href="c_feeds.shtml">Tanysgrifio RSS</a></li>
						<li><a href="cymraeg_s4c_atom_programme_feed.xml">Gwylio S4C </a></li>
					</ul>
				</div>
