			<div class="sideNav-blue-dk">
					<ul>
						<li><a href="e_aboutthissite.shtml">About this site home</a></li>
						<li><a href="e_accessibility.shtml">Accessibility</a></li>
						<li><a href="e_privacypolicy.shtml">Privacy policy</a></li>
						<li><a href="e_cookies.shtml">Cookies</a></li>
						<li><a href="e_legal.shtml">Legal</a></li>
						<li><a href="http://www.s4c.cymru/en/homepage/page/7041/competition-terms-and-conditions/">Competition Terms and Conditions</a></li>
						<li><a href="e_aboutthissite_fb.shtml">What do you think?</a></li>
					</ul>
				</div>
