<div class="sideNav-blue-dk">
					<ul>
						<li><a href="abouts4c/e_index.shtml">Documents, reports, policies, information about the S4C Authority can be found on our old pages</a></li>
						<li><a href="e_accessibility.shtml">Accessibility</a></li>
					</ul>
				</div>
				<div class="sideNav-feeds">
					<ul>
						<li class="none"><a href="e_feeds.shtml">More about subscribing</a></li>
						<li><a href="english_s4c_atom_news_feed.xml">S4C news </a></li>
						<li><a href="production/e_news.xml">Production news </a></li>
						<li><a href="english_s4c_atom_programme_feed.xml">Watch S4C </a></li>
					</ul>
				</div>