<div class="sideNav-blue-dk">
					<ul>
						<li><a href="e_brand.shtml">Brand home</a></li>
						<li><a href="e_brand_idents.shtml">New idents</a></li>
						<li><a href="e_brand_idents.shtml#feedback">What do you think?</a></li>
					</ul>
				</div>
