<div class="sideNav-purple-dk">
					<ul>
						<li><a href="e_competitions.shtml">Competitions home</a></li>
						<!--li><a href="e_comp_rules.shtml">Rules</a></li-->
						<!--<li><a href="e_comp_rules_casa.shtml">Casa Dudley rules</a></li>-->
					</ul>
				</div>
