<div id="dso-alert" class="e">
	<div id="dso-inner">
		<a href="dso/e_index.html" class="logo">
			<img src="img/dso-alert/e_logo.jpg" alt="On with the Show" />
		</a>
		<!--div class="alert-copy alert-copy1">
			<p class="date">9 September</p>
			<p class="msg"><a href="dso/e_freeview.html">All Wales Freeview Re-tune</a></p>
		</div>
		<div class="alert-copy alert-copy2">
			<p class="date">9 September</p>
			<p class="msg"><a href="dso/e_switchover_schedule.html">Kilvey Hill (Swansea area) goes digital</a></p>
		</div>
		<span class="end"></span-->
		<div class="alert-copy">
			<p class="date">16 September</p>
			<p class="msg"><a href="dso/e_index.html">Preseli transmitter changes (south west Wales)</a></p>
		</div>
		<a href="dso/e_switchover_schedule.html" class="dates">
			<img src="img/dso-alert/e_dates.jpg" alt="Digital switchover dates" />
		</a>
	</div>
	<div class="s4c-clear"></div>
</div>