<div id="dso-alert" class="e">
	<div id="dso-inner">
		<a href="dso/e_index.aspx" class="logo">
			<img src="img/dso-alert/e_logo.jpg" alt="On with the Show" />
		</a>
		<div class="alert-copy">
			<p class="date">31 March 2010</p>
			<p class="msg"><a href="dso/e_switchover_schedule.html"> Wenvoe transmitter changes (Cardiff and south east Wales)</a></p>
		</div>
		<a href="dso/e_switchover_schedule.html" class="dates">
			<img src="img/dso-alert/e_dates.jpg" alt="Digital switchover dates" />
		</a>
		<!--div class="alert-copy">
			<p class="date">Digital Switchover</p>
			<p class="msg"><a href="dso/e_index.aspx">Remember to adapt every TV set in your home to digital</a></p>
		</div>
		<a href="dso/e_switchover_schedule.html" class="dates">
			<img src="img/dso-alert/e_dates.jpg" alt="Digital switchover dates" />
		</a-->
	</div>
	<div class="s4c-clear"></div>
</div>