<div class="sideNav-blue-dk">
					<h4>More about web standards</h4>
					<ul>
					<li><a href="http://www.w3.org/TR/WAI-WEBCONTENT/">Web Content Accessibility Guidelines 1.0 (<acronym>WCAG</acronym> 1.0)</a></li>
					<li><a href="http://www.w3.org/MarkUp/2004/xhtml-faq#need">HTML and XHTML Frequently Answered Questions</a></li>
					<li><a href="http://www.w3.org/WAI/eval/Overview.html">Evaluating Web Sites for Accessibility</a></li>				
					</ul>
					</div>
<div class="sideNav-blue-lt">
					<h4>More about web accessibility</h4>
					<ul>
<li><a href="http://validator.w3.org/">W3C Markup Validation Service</a></li>
<li><a href="http://jigsaw.w3.org/css-validator/">W3C CSS Validation Service</a></li>
<li><a href="http://validator.w3.org/checklink">W3C Link Checker</a></li>
					</ul>
				</div>
