		[% USE S4CCapitalize %]
		[% IF priority1.sched_programme_id %]<!-- start of valid programme -->
			[% t1 = priority1.series_title || priority1.title %]
			[% IF priority1.title == 'Treialon Cwn Defaid y Byd 2008' %]
				[% t1 = 'Treialon Cwn Defaid y Byd' %]
			[% END %]
			
			<h2>[% S4CCapitalize.capitalize( t1 ) %]</h2>
			[% IF priority1.video_available %]
				<a class="play-arrow" href="e_watch_level2.shtml?[% IF priority1.series_id %]series_id=[% priority1.series_id %][% ELSIF priority1.programme_id %]programme_id=[% priority1.programme_id %][% END %]"><span>Watch [% t1 %] on Clic</span></a>
			[% END %]
			<img src="../res/245x138/[% priority1.image_name %].jpg" alt="[% t1 = priority1.series_title || priority1.title %]" />

			<div class="boxed-top">
				[% priority1.home_page_billing %][%# home_page_billing has embedded <p> </p> tags %]

				[% IF priority1.promo_url || priority1.video_available || priority1.site_link %]
					<ul class="green">
						[% IF priority1.promo_url %]<li><a 
							href="mms://s4c.unique-media.tv/s4c_uk/promos/[% priority1.promo_url %]">
							Watch trailer</a></li>
						[% END %]
						<!--[% IF priority1.video_available %]<li><a href="e_watch_level2.shtml?title=[% t1 %]">Watch [% t1 %]</a></li>[% END %]-->
					[% IF priority1.video_available %]
					<li>
					<a href="e_watch_level2.shtml?[% IF priority1.series_id %]series_id=[% priority1.series_id %][% ELSIF priority1.programme_id %]programme_id=[% priority1.programme_id %][% END %]">Watch [% t1 %] on Clic</a>
					</li>
					[% END %]

					[% IF priority1.site_link %]
					<li><a href="[% priority1.site_link %]">
						[% t1 %] website</a></li>
					[% END %]
				[% END %]
				</ul>
			</div>

				 [% ELSE %]<!-- end of valid programme, start of dummy programme -->
					 <h2>Watch here</h2>
					<img src="../res/245x138/watch-home.jpg" alt="Watch here" />
					<div class="boxed-top">
					 <p>Most S4C programmes are available to watch again online for up to 35 days.</p>
					 <ul class="green">
					<!--<li><a href="#">Gwylio </a></li>-->
					 <li><a href="http://www.s4c.co.uk/e_watch.shtml">Watch here website</a></li>
					</ul>
		    </div>

			[% END %]<!-- end of dummy, fallback programme -->