		[% IF priority2.sched_programme_id %]<!-- start of valid programme -->
			[% t2 = priority2.series_title || priority2.title %]
			<h2>[%  t2 %]</h2>
			[% IF priority2.video_available %]
				<a class="play-arrow" href="e_watch_level2.shtml?[% IF priority2.series_id %]series_id=[% priority2.series_id %][% ELSIF priority2.programme_id %]programme_id=[% priority2.programme_id %][% END %]"><span>Watch [% 2 %] on Clic</span></a>
			[% END %]
			<img src="../res/245x138/[% priority2.image_name %].jpg" alt="[% t2 = priority2.series_title || priority2.title %]" />
			<div class="boxed-top">
				[% priority2.home_page_billing %][%# home_page_billing has embedded <p> </p> tags %]
				
				[% IF priority2.promo_url || priority2.video_available || priority2.site_link %]
					<ul class="orange">
						[% IF priority2.promo_url %]<li><a href="[% priority2.promo_url %]">Watch trailer</a></li>[% END %]
						<!--[% IF priority2.video_available %]<li><a href="/e_watch_level2.shtml?title=[% t2 %]">Watch [% t2 %]</a></li>[% END %]-->

						[% IF priority2.video_available %]
						<!--xxx-->
						<li>
							<a href="e_watch_level2.shtml?[% IF priority2.series_id %]series_id=[% priority2.series_id %][% ELSIF priority2.programme_id %]programme_id=[% priority2.programme_id %][% END %]">Watch [% t2 %] on Clic</a>
						</li>
						[% END %]
						
						[% IF priority2.site_link %]<li><a href="[% priority2.site_link %]">[% t2 %] website</a></li> [% END %]
					</ul>
				[% END %]
			</div>
				
		[% ELSE %]<!-- end of valid programme, start of dummy programme -->
			<h2>Cyw</h2>
			<img src="../res/245x138/cyw-home.jpg" alt="Cyw" />
			<div class="boxed-top">
				<p>Programmes for young children <br />From 07:00 Monday to Friday</p>
				<ul class="orange">
					<li><a href="http://plant.s4c.co.uk/cyw/">Cyw website</a></li>
					<!--<li><a href="/dummy_series">Calon Gaeth website</a></li>-->
				</ul>
			</div>
		[% END %]<!-- end of dummy, fallback programme -->