			<!-- start of valid programme -->
			<h2>Announcement</h2>
			<img src="img/emergency-left1.jpg" alt="" />
			
			<div class="boxed-top">
				<p>For reasons beyond our control we are unable to transmit our advertised TV programmes at the moment.</p>
				<p style="margin-top:1em;color:#fff;">Viewer's hotline 0870 600 4141</p>
			</div>
			<!-- end of dummy, fallback programme -->