			<!-- start of valid programme -->
			<h2>Announcement</h2>
			<img src="img/emergency-right1.jpg" alt="" />
			
			<div class="boxed-top">
				<p>For reasons beyond our control we are unable to bring you our online services at the moment.</p>
				<p style="margin-top:1em;color:#fff;">Viewer's hotline 0870 600 4141</p>
			</div>
			<!-- end of dummy, fallback programme -->