<div class="sideNav-blue-dk">
					<ul>
						<li><a href="http://www.learnons4c.co.uk/home.php">S4C Learners service</a></li>
						<li><a href="e_subtitles_welsh.shtml">Welsh Subtitles</a></li>
						<li><a href="e_subtitles_english.shtml">English Subtitles</a></li>
					</ul>
				</div>
