<!-- put in most detailed content available -->
		[% IF prog.programme_short_billing_e %]
			<!-- Programme Short Billing -->
			<p>[% prog.programme_short_billing_e %]</p>
		[% ELSIF prog.programme_billing_e  %]
			<!-- Programme Billing -->
			<p>[% prog.programme_billing_e %]</p>
		[% ELSIF prog.series_short_billing_e %]
			<!-- Series Short Billing -->
			<p>[% prog.series_short_billing_e %]</p>			
		[% ELSIF prog.series_billing_e %]
			<!-- Series Billing -->
			<p>[% prog.series_billing_e %]</p>
		[% ELSE %]
			[%# TO DO if I'm the container, and I have some children, don't need to display this error %]
			<p>No further details available at present</p>
		[% END %]

		[% IF prog.content_options %]	
	<ul>
	<!-- If prievew available > show link -->
		[% IF prog.promo_url_eng %] 
        	<li><a href="[% prog.web_link_e %]" title="[% prog.title %] - watch the trailer" onClick="videoPopup('Trailer',528,304,'uk/promos/[% prog.promo_url_eng %].mp4?8c117b46a0fa55c6524327e1b688a80029fe7ade443b45c532a705f6163f679ea190fda2698c34750eb2');return false;">Watch trailer</a></li>
        	<!--<li><a href="mms://media02.multistream.co.uk/streaming/s4c/promos/[% prog.promo_url_eng %]">Watch a preview</a></li>-->
      	[% END %]
		<!-- If prievew available and watch now available > show / seperator -->
		[% IF prog.promo_url_eng && prog.web_video_available OR prog.promo_url_eng && prog.web_link_e %] <li>/</li> [% END %]

		[% IF prog.web_video_available %]
		<li>
			[% # rem this out, it doesn't work - prog.clic_link %]
            [% IF prog.series_id != 0 %]
			<a href="http://s4c.co.uk/clic/e_level2.shtml?series_id=[% prog.series_id %]">Watch</a>
            [% ELSE %]
			<a href="http://s4c.co.uk/clic/e_level2.shtml?programme_id=[% prog.programme_id %]">Watch</a>
            [% END %]
		</li>
		[% END %]
		<!-- If prievew available and website available > show / seperator -->
		[% IF prog.web_video_available && prog.web_link_e %] <li>/</li> [% END %]
		<!-- If website available > show link -->
		[% IF prog.web_link_e %]<li><a href="[% prog.web_link_e %]" title="">Website</a></li>[% END %]
        <li>/</li>
        <li><a href="http://s4c.co.uk/ical_script.php?pid=[% prog.sched_programme_id %]&en=1">Add to Calendar</a></li>
	</ul>
[% END %]
		
        
<ul class="access">
[% IF prog.b888 || prog.b889 %] 
    <li>
    [% IF prog.b888 %]
    	English
    [% END %] 
    [% IF prog.b888 && prog.b889 %] 
    	and 
    [% END %]
    [% IF prog.b889 %] 
    	Welsh
    [% END %] 
        subtitles
    </li>
    [% IF prog.b_audio_described || prog.prog.b_visually_signed %] 
    <li class="divider">/</li>
    [% END %]
[% END %]
    
[% IF prog.b_audio_described %] 
    <li>
        Audio described
    </li>
    [% IF prog.b_visually_signed %]
    <li class="divider">/</li>
    [% END %]    
[% END %] 
[% IF prog.b_visually_signed %]
    <li class="divider">/</li>
    <li>
        Signed
    </li>
[% END %]
</ul>