<div id="rugby-alert">
	<div id="rugby-alert-inner">
		<div id="rugby-col1">
			<h2><a href="chwaraeon/e_jonathan.shtml">Jonathan's back!</a></h2>
			<p class="red">Friday 21:30</p>
		</div>
		<div id="rugby-col2">
			<h2><a href="chwaraeon/e_nigel-owens.shtml">Nigel Owens</a></h2>
			<p class="red">Friday 20:25</p>
		</div>
		<div id="rugby-col3">
			<div id="count-down"></div>
			<p><a href="rygbi/e_index.shtml">The Six Nations on S4C</a></p>
		</div>
	</div>
	<div class="s4c-clear"></div>
</div>