<div class="search-banner">
    <div class="search-banner-inner">
        Can't find what you're looking for? 
        <form action="#" class="search-banner-form">
            <input type="text" class="search-banner-input" placeholder="Search the website">
            <button type="submit" class="search-banner-submit">
                <i class="material-icons"><svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbol-defs.svg#icon-search"></use></svg></i>
            </button>
        </form>
    </div>
</div>
<footer class="s4c-footer">
    <div class="s4c-footer-inner">
        <div class="s4c-footer-other-links">
            <h2>Other links</h2>
            <div class="s4c-footer-other-links-col">
                <h3>Information</h3>
                <ul>
                    <li><a href="/e_press.shtml">Press office</a></li>
                    <li><a href="/production/rm/index/language/eng/">Production</a></li>
                    <li><a href="/production/e_latest-news.shtml">Production news</a></li>
                    <li><a href="/production/e_guidelines.shtml">Guidelines &amp; policies</a></li>
                    <li><a href="/tendrau/e_index.shtml">Tenders</a></li>
                </ul>
            </div>
            <div class="s4c-footer-other-links-col">
                <h3>S4C</h3>
                <ul>
                    <li><a href="/abouts4c/e_index.shtml">About S4C</a></li>
                    <li><a href="/abouts4c/authority/e_index.shtml">S4C Authority</a></li>
                    <li><a href="/abouts4c/diversity/e_index.shtml">Diversity</a></li>
                    <li><a href="/hysbysebu/e_index.shtml">S4C Advertising</a></li>
                    <li><a href="/swyddi/e_index.shtml">Jobs</a></li>
                </ul>
            </div>
            <div class="s4c-footer-other-links-col">
                <h3>Website info</h3>
                <ul>
                    <li><a href="/e_aboutthissite.shtml">About this site</a></li>
                    <li><a href="/e_accessibility.shtml">Accessibility</a></li>
                    <li><a href="/e_privacypolicy.shtml">Privacy policy</a></li>
                    <li><a href="/e_cookies.shtml">Cookies</a></li>
                    <li><a href="/e_legal.shtml">Terms &amp; Conditions</a></li>
                    <li><a href="/e_websites_az.shtml">A–Z of Websites</a></li>
                </ul>
            </div>
            <div class="s4c-footer-other-links-col">
                <h3>Contact</h3>
                <ul>
                    <li><a href="/e_contact.shtml">Contact us</a></li>
                    <li><a href="//twitter.com/S4C">Twitter</a></li>
                    <li><a href="//facebook.com/s4c.cymru">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-media-links">
        <ul>
            <li>
                <!-- twitter -->
                <a href="https://twitter.com/s4c">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <path class="st0" d="M9.5 27.1c11.2 0 17.4-9.3 17.4-17.4 0-0.3 0-0.5 0-0.8 1.2-0.9 2.2-1.9 3-3.2 -1.1 0.5-2.3 0.8-3.5 1 1.3-0.8 2.2-2 2.7-3.4 -1.2 0.7-2.5 1.2-3.9 1.5 -1.1-1.2-2.7-1.9-4.5-1.9 -3.4 0-6.1 2.7-6.1 6.1 0 0.5 0.1 0.9 0.2 1.4C9.7 10.1 5.2 7.7 2.2 4 1.7 4.9 1.4 6 1.4 7.1c0 2.1 1.1 4 2.7 5.1 -1 0-1.9-0.3-2.8-0.8 0 0 0 0.1 0 0.1 0 3 2.1 5.4 4.9 6 -0.5 0.1-1.1 0.2-1.6 0.2 -0.4 0-0.8 0-1.1-0.1 0.8 2.4 3 4.2 5.7 4.2 -2.1 1.6-4.7 2.6-7.6 2.6 -0.5 0-1 0-1.5-0.1C2.8 26.1 6 27.1 9.5 27.1"></path>
                    </svg>
                </a>
            </li>
            <li>
                <!-- facebook -->
                <a href="https://www.facebook.com/s4c.cymru/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <path class="st0" d="M28.3 0.1H1.7c-0.9 0-1.6 0.7-1.6 1.6v26.5c0 0.9 0.7 1.6 1.6 1.6H16V18.4h-3.9v-4.5H16v-3.3c0-3.9 2.4-5.9 5.8-5.9 1.6 0 3.1 0.1 3.5 0.2v4l-2.4 0c-1.9 0-2.2 0.9-2.2 2.2v2.9h4.5l-0.6 4.5h-3.9v11.5h7.6c0.9 0 1.6-0.7 1.6-1.6V1.7C29.9 0.8 29.2 0.1 28.3 0.1z"></path>
                    </svg>
                </a>
            </li>
            <li>
                <!-- youtube -->
                <a href="https://www.youtube.com/s4c">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <path class="st0" d="M29.7 9c0 0-0.3-2.1-1.2-3 -1.1-1.2-2.4-1.2-3-1.3C21.3 4.5 15 4.5 15 4.5h0c0 0-6.3 0-10.5 0.3C3.9 4.8 2.6 4.8 1.5 6 0.6 6.9 0.3 9 0.3 9S0 11.4 0 13.9v2.3C0 18.6 0.3 21 0.3 21s0.3 2.1 1.2 3c1.1 1.2 2.6 1.2 3.3 1.3C7.2 25.5 15 25.6 15 25.6s6.3 0 10.5-0.3c0.6-0.1 1.9-0.1 3-1.3 0.9-0.9 1.2-3 1.2-3s0.3-2.4 0.3-4.9v-2.3C30 11.4 29.7 9 29.7 9zM11.9 18.9l0-8.4 8.1 4.2L11.9 18.9z"></path>
                    </svg>
                </a>
            </li>
            <li>
                <!-- instagram -->
                <a href="https://www.instagram.com/s4cymru/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <path class="st0" d="M15 2.8c4 0 4.4 0 6 0.1 1.4 0.1 2.2 0.3 2.8 0.5 0.7 0.3 1.2 0.6 1.7 1.1 0.5 0.5 0.8 1 1.1 1.7C26.8 6.8 27 7.6 27.1 9c0.1 1.6 0.1 2 0.1 6s0 4.4-0.1 6c-0.1 1.4-0.3 2.2-0.5 2.8 -0.3 0.7-0.6 1.2-1.1 1.7 -0.5 0.5-1 0.8-1.7 1.1 -0.5 0.2-1.3 0.4-2.8 0.5 -1.6 0.1-2 0.1-6 0.1s-4.4 0-6-0.1c-1.4-0.1-2.2-0.3-2.8-0.5 -0.7-0.3-1.2-0.6-1.7-1.1 -0.5-0.5-0.8-1-1.1-1.7C3.2 23.2 3 22.4 2.9 21c-0.1-1.6-0.1-2-0.1-6s0-4.4 0.1-6C3 7.6 3.2 6.8 3.4 6.2 3.7 5.5 4 5.1 4.5 4.5c0.5-0.5 1-0.8 1.7-1.1C6.8 3.2 7.6 3 9 2.9 10.6 2.8 11 2.8 15 2.8M15 0.2c-4 0-4.5 0-6.1 0.1C7.3 0.3 6.2 0.6 5.3 0.9c-1 0.4-1.8 0.9-2.6 1.7C1.8 3.5 1.3 4.3 0.9 5.3c-0.4 0.9-0.6 2-0.7 3.6C0.2 10.5 0.1 11 0.1 15c0 4 0 4.5 0.1 6.1 0.1 1.6 0.3 2.7 0.7 3.6 0.4 1 0.9 1.8 1.7 2.6 0.8 0.8 1.7 1.3 2.6 1.7 0.9 0.4 2 0.6 3.6 0.7 1.6 0.1 2.1 0.1 6.1 0.1s4.5 0 6.1-0.1c1.6-0.1 2.7-0.3 3.6-0.7 1-0.4 1.8-0.9 2.6-1.7 0.8-0.8 1.3-1.7 1.7-2.6 0.4-0.9 0.6-2 0.7-3.6 0.1-1.6 0.1-2.1 0.1-6.1s0-4.5-0.1-6.1c-0.1-1.6-0.3-2.7-0.7-3.6 -0.4-1-0.9-1.8-1.7-2.6 -0.8-0.8-1.7-1.3-2.6-1.7 -0.9-0.4-2-0.6-3.6-0.7C19.5 0.2 19 0.2 15 0.2L15 0.2z"></path>
                        <path class="st0" d="M15 7.4c-4.2 0-7.6 3.4-7.6 7.6s3.4 7.6 7.6 7.6 7.6-3.4 7.6-7.6S19.2 7.4 15 7.4zM15 20c-2.7 0-5-2.2-5-5s2.2-5 5-5c2.7 0 5 2.2 5 5S17.7 20 15 20z"></path>
                        <circle class="st0" cx="22.9" cy="7.1" r="1.8"></circle>
                    </svg>
                </a>
            </li>
<!--
            <li-->
                <!-- snapchat -->
                <!--a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <path class="st0" d="M25.2 0H4.8C2.1 0 0 2.1 0 4.8v20.4C0 27.9 2.1 30 4.8 30h20.4c2.6 0 4.8-2.1 4.8-4.8V4.8C30 2.1 27.9 0 25.2 0zM26.1 21c-0.2 0.5-1.2 0.9-3 1.2 -0.1 0.1-0.1 0.4-0.2 0.5 0 0.2-0.1 0.3-0.1 0.5 -0.1 0.3-0.3 0.4-0.5 0.4h0l0 0c-0.1 0-0.3 0-0.5-0.1 -0.3-0.1-0.7-0.1-1.2-0.1 -0.3 0-0.6 0-0.9 0.1 -0.6 0.1-1 0.4-1.6 0.8 -0.8 0.6-1.7 1.2-3.1 1.2 -0.1 0-0.1 0-0.2 0 0 0-0.1 0-0.1 0 -1.4 0-2.3-0.6-3.1-1.2 -0.6-0.4-1-0.7-1.6-0.8 -0.3 0-0.6-0.1-0.9-0.1 -0.5 0-0.9 0.1-1.2 0.1 -0.2 0-0.4 0.1-0.5 0.1 -0.4 0-0.5-0.2-0.5-0.4 -0.1-0.2-0.1-0.4-0.1-0.5 0-0.2-0.1-0.5-0.2-0.5C5 21.9 4 21.5 3.8 21c0-0.1 0-0.1 0-0.2 0-0.2 0.2-0.4 0.4-0.5 3-0.5 4.4-3.6 4.5-3.8 0 0 0 0 0 0 0.2-0.3 0.2-0.6 0.1-0.8 -0.2-0.4-0.8-0.6-1.3-0.8 -0.1 0-0.2-0.1-0.3-0.1 -1-0.4-1.2-0.9-1.1-1.2 0.1-0.4 0.6-0.8 1.1-0.8 0.1 0 0.3 0 0.4 0.1 0.4 0.2 0.7 0.3 1 0.3 0.2 0 0.4-0.1 0.4-0.1 0-0.2 0-0.4 0-0.5C8.8 11 8.7 9.2 9.2 8c1.5-3.3 4.6-3.6 5.5-3.6 0 0 0.4 0 0.4 0 0 0 0 0 0.1 0h0c0.9 0 4.1 0.3 5.6 3.6 0.5 1.1 0.4 3 0.3 4.5l0 0.1c0 0.2 0 0.3 0 0.5 0.1 0 0.2 0.1 0.4 0.1 0.3 0 0.6-0.1 1-0.3 0.2-0.1 0.3-0.1 0.4-0.1 0.2 0 0.3 0 0.5 0.1l0 0c0.4 0.1 0.7 0.4 0.7 0.8 0 0.4-0.4 0.8-1.1 1.1 -0.1 0-0.2 0.1-0.3 0.1 -0.4 0.1-1.1 0.3-1.3 0.8 -0.1 0.2-0.1 0.5 0.1 0.8 0 0 0 0 0 0 0.1 0.1 1.4 3.3 4.5 3.8 0.2 0 0.4 0.2 0.4 0.5C26.2 20.9 26.2 20.9 26.1 21z"/>
                    </svg>
                </a>
            </li>
-->
        </ul>
    </div>
</footer>