<div id="s4c-head">
	<img src="img/logo-s4c-croeso.gif" alt="S4C logo"/>
	<p class="hide"><a href="#content">Skip to content</a></p>	
	<p id="lang"><a href="[% change_lang %]" xml:lang="cy">Cymraeg</a></p>
	<ul id="nav">
		<li class="nodash"><a href="e_index.shtml">Home</a></li>
		
		<li><a href="e_listings.shtml">TV listings</a></li>
		
		<li><a href="e_watch.shtml">Watch here</a></li>
		
		<li><a href="e_websites.shtml">Websites</a></li>
		
		<li><a href="e_press.shtml">Press</a></li>
		
		<!--li><a href="e_learners.shtml">Learners</a></li-->
		<li><a href="http://www.s4c.co.uk/learners/">Learners</a></li>
	</ul>
	</div>