<footer><div id="s4c-footer" class="clearfix">
	<div class="s4c-footer-skip">
		<a href="#s4c-footer-wrapper">
			<span class="ss-icon">&#xE9A1;</span>
			Links
		</a>
	</div>
	<div id="s4c-footer-wrapper">
		<div class="article first grey footer1">
            <h1>Information</h1>
            <ul>
                <li><a href="http://www.s4c.co.uk/e_press.shtml">Press office</a></li>
                <li><a href="http://www.s4c.co.uk/production/rm/index/language/eng/">Production home</a></li>
                <li><a href="http://www.s4c.co.uk/production/e_latest-news.shtml">Production news</a></li>
                <li><a href="http://www.s4c.co.uk/production/e_guidelines.shtml">Guidelines &amp; policies</a></li>
                <li><a href="http://www.s4c.co.uk/tendrau/e_index.shtml">Tenders</a></li>
            </ul>
        </div>
        <div class="article grey footer2">
            <h1>S4C</h1>
            <ul>
                <li><a href="http://www.s4c.co.uk/abouts4c/e_index.shtml">About us</a></li>
                <li><a href="http://www.s4c.co.uk/abouts4c/authority/e_index.shtml">S4C Authority</a></li>
                <li><a href="http://www.s4c.co.uk/abouts4c/diversity/e_index.shtml">Diversity</a></li>
                <li><a href="http://www.s4c.co.uk/hysbysebu/e_index.shtml">S4C advertising</a></li>
                <li><a href="http://www.s4c.co.uk/swyddi/e_index.shtml">Jobs</a></li>
            </ul>
        </div>
        <div class="article grey footer3">
            <h1>Website info</h1>
            <ul>
                <li><a href="http://www.s4c.co.uk/e_aboutthissite.shtml">About this site</a></li>
                <li><a href="http://www.s4c.co.uk/e_accessibility.shtml">Accessibility</a></li>
                <li><a href="http://www.s4c.co.uk/e_privacypolicy.shtml">Privacy policy</a></li>
                <li><a href="http://www.s4c.co.uk/e_cookies.shtml">Cookies</a></li>
                <li><a href="http://www.s4c.co.uk/e_legal.shtml">Terms &amp; conditions</a></li>
            </ul>
        </div>
        <div class="article grey footer4">
            <h1>Other websites</h1>
            <ul>
                <li><a href="http://hwb.s4c.co.uk/en">Hwb</a></li>
                <li><a href="http://www.s4c.co.uk/dysgwyr/">Learners</a></li>
                <li><a href="http://tywydd.s4c.co.uk/en.aspx">Weather</a></li>
                <li><a href="http://www.s4c.co.uk/cymorth/index.php">Cymorth</a></li>
                <li><a href="http://www.s4c.co.uk/e_websites_az.shtml">A - Z of Websites</a></li>
            </ul>
        </div>
        <div class="article last grey footer5">
            <h1>Contact</h1>
            <ul>
                <li><a href="http://s4c.co.uk/e_contact.shtml">Contact us</a></li>
                <li><a href="http://s4c.co.uk/e_feeds.shtml">Subscribe</a></li>
                <li><a href="http://twitter.com/S4C">Twitter</a></li>
                <li><a href="http://www.facebook.com/s4c.cymru">Facebook</a></li>
            </ul>
        </div>
	</div>
    <div id="s4c-copyright">
	    <p>&copy; 2014 S4C</p>
		<p>O Gymru / Made in Wales</p>
    </div>    
</div></footer>

<!--#include virtual="/ssi/tracking.html" -->