<div id="s4c-head2">
	<p class="s4c-hide"><a href="#content">Skip to content</a></p>	
	<div id="s4c-head-search">
		<div id="s4c-search-box">
			<form action='/search/custom' method='post'>
				<input type="hidden" value="e" name="lang" />
				<label for="searchq">Search</label><input type="text" name="q" id="searchq" value="" /><input type="image" value="Search" alt="Search" src="http://www.s4c.co.uk/img/s4c-head-search.gif" id="s4c-head-go" />
			</form>
		</div>
		<div id="s4c-lang">
			<a href="[% change_lang | html %]" xml:lang="cy">Cymraeg</a>
		</div>
	</div>
	<img src="img/logo-s4c-croeso.gif" alt="S4C" title="Croeso - welcome - to S4C, the Welsh language channel" id="s4c-logo" />
	<ul id="nav">
		<li class="e_s4c-nav-tab1"><a href="e_index.shtml">Home</a></li>
		<li class="e_s4c-nav-tab3"><a href="clic/e_index.shtml">Clic</a></li>
		<li class="e_s4c-nav-tab2"><a href="e_listings.shtml">TV listings</a></li>
		<li class="e_s4c-nav-tab4"><a href="e_websites.shtml">Websites</a></li>
		<li class="e_s4c-nav-tab5"><a href="http://cyw.s4c.co.uk/en">Cyw</a></li>
		<li class="e_s4c-nav-tab6"><a href="http://stwnsh.s4c.co.uk/en">Stwnsh</a></li>
		<!--li class="e_s4c-nav-tab8"><a href="e_learners.shtml" class="nav-end">Learners</a></li-->
		<li class="e_s4c-nav-tab8"><a href="/dysgwyr" class="nav-end">Learners</a></li>
		<li class="e_s4c-nav-tab7"><a href="e_press.shtml">Press</a></li>
	</ul>
	<div id="s4c-head-clear"></div>
</div>
