<div class="s4c-foot2-spacer"></div>
<div id="s4c-foot2">
	<div id="s4c-foot2-content">
		<div id="s4c-foot2-links">
			<div id="s4c-foot2-links-col1">
				<h6>Information</h6>
				<ul>
					<li><a href="/production/e_index.shtml">Production home</a></li>
					<li><a href="/production/e_latest-news.shtml">Production news</a></li>
					<li><a href="/production/e_guidelines.shtml">Guidelines &amp; policies</a></li>
					<li><a href="/tendrau/e_index.shtml">Tenders</a></li>
				</ul>
			</div>
			<div id="s4c-foot2-links-col2">
				<h6>S4C</h6>
				<ul>
					<li><a href="/abouts4c/e_index.shtml">About us</a></li>
					<li><a href="/abouts4c/authority/e_index.shtml">S4C Authority</a></li>
					<li><a href="/advertising">S4C Advertising</a></li>
					<li><a href="/swyddi/e_index.shtml">Jobs</a></li>
				</ul>
			</div>
			<div id="s4c-foot2-links-col3">
				<h6>Website</h6>
				<ul>
					<li><a href="/e_aboutthissite.shtml">About this site</a></li>
					<li><a href="/e_accessibility.shtml">Accessibility</a></li>
					<li><a href="/e_privacypolicy.shtml">Privacy policy</a></li>
					<li><a href="/e_legal.shtml">Terms and Conditions</a></li>
				</ul>
			</div>
			<div id="s4c-foot2-links-col4">
				<h6>Contact</h6>
				<ul>
					<li><a href="/e_contact.shtml">Contact us</a></li>
					<!--li><a href="/tanysgrifio/e_index.shtml">Subscribe</a></li-->
				</ul>
			</div>
			<div class="s4c-clear"></div>
		</div>
		<div id="stamp2">
			<p>&copy; 2012 <acronym>S4C</acronym><br />
			O Gymru / <span  xml:lang="en">Made in Wales</span>
			</p>
		</div>
		<div class="s4c-clear"></div>
	</div>
</div>
<div class="s4c-foot2-spacer"></div>

<!--#include virtual="/ssi/tracking.html" -->
<script type="text/javascript" src="http://indpcr1.com/js/29453.js" ></script>
<noscript><img src="http://indpcr1.com/images/track/29453.png?trk_user=29453&trk_tit=jsdisabled&trk_ref=jsdisabled&trk_loc=jsdisabled" height="0px" width="0px" style="display:none;" /></noscript>
