<a href="#" class="s4c-logo-toggle">
    <img src="img/s4c.svg" alt="S4C">
</a>
<div class="s4c-toggle-menu sticky" style="top: 0px;">
    <a href="#" class="s4c-toggle-btn">
        <i class="material-icons">
            <span class="row1 row"></span>
            <span class="row2 row"></span>
            <span class="row3 row"></span>
        </i>
        <span class="label">
            Menu
        </span>
    </a>
</div>
<header class="s4c-header">
    <h3 class="s4c-nav-title">Navigation</h3>
    <nav>
        <a href="#" class="s4c-logo">
            <img src="img/s4c.svg" alt="S4C">
        </a>
        <ul class="s4c-main-menu">
            <li class="s4c-menu-item1">
                <a href="e_index.html" class="s4c-menu-item-link">
                    <i class="material-icons"><svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbol-defs.svg#icon-home"></use></svg></i>
                    <span class="label">
                        Home
                    </span>
                </a>
            </li>
            <li class="s4c-menu-item2">
                <a href="#" class="s4c-menu-item-link s4c-drop-down-nav hide">
                    <i class="material-icons"><svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbol-defs.svg#icon-explore"></use></svg></i>
                    <span class="label">
                        Explore
                    </span>
                    <span class="arrow"></span>
                </a>
                <div class="context-menu hide">
                    <ul>
                        <li>
                            <a href="http://www.s4c.cymru/adloniant/e_index.shtml" tabindex="-1"><span class="arrow"></span><span>Entertainment</span></a>
                        </li>
                        <li>
                            <a href="http://www.s4c.cymru/en/sport/" tabindex="-1"><span class="arrow"></span><span>Sport</span></a>
                        </li>
                        <li>
                            <a href="http://www.s4c.cymru/cerddoriaeth/e_index.shtml" tabindex="-1"><span class="arrow"></span><span>Music</span></a>
                        </li>
                        <li>
                            <a href="http://www.s4c.cymru/drama/c_index.shtml" tabindex="-1"><span class="arrow"></span><span>Drama</span></a>
                        </li>
                        <li>
                            <a href="http://www.s4c.cymru/ffeithiol/c_index.shtml" tabindex="-1"><span class="arrow"></span><span>Factual</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="s4c-menu-item3">
                <a href="http://www.s4c.cymru/clic/e_index.shtml" class="s4c-menu-item-link">
                    <i class="material-icons"><svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbol-defs.svg#icon-play_circle_outline"></use></svg></i>
                    <span class="label">
                        Watch
                    </span>
                </a>
            </li>
            <li class="s4c-menu-item4">
                <a href="http://www.s4c.cymru/e_listings.shtml" class="s4c-menu-item-link">
                    <i class="material-icons"><svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbol-defs.svg#icon-event_note"></use></svg></i>
                    <span class="label">
                        Listings
                    </span>
                </a>
            </li>

            <li class="s4c-menu-item5">
                <form role="search" action="//s4c.cymru/search/custom" method="post" class="s4c-search">
                    <input type="hidden" name="lang" value="e">
                    <input type="search" name="q" id="q" placeholder="Search" class="focus-dad" required="required" results="5">
                    <button>
                        <i class="material-icons"><svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbol-defs.svg#icon-search"></use></svg></i>
                    </button>
                </form>
            </li>
            <li class="s4c-menu-item6">
                <a href="c_index.html" class="s4c-menu-item-link">
                    Cymraeg
                </a>
            </li>
        </ul>
        <div class="nav-now-next" id="s4c-mobile-now-next"><div class="now"><a href="//s4c.cymru/clic/e_live.shtml"><img src="//s4c.cymru/amg/web/122x72/stwnsh-logo-15.jpg" live"=""><h3>Live</h3><h4>Stwnsh</h4></a></div><div class="now"><a href="//s4c.cymru/clic/e_live.shtml"><img src="//s4c.cymru/amg/web/122x72/tag-2014.jpg" on="" next"=""><h3>On next</h3><h4>TAG</h4></a></div>
<!--
            <div class="now">
                <a href="#">
                    <img src="//s4c.cymru/amg/web/122x72/seiclo03.jpg" alt="Seiclo: Le Tour de France">
                    <h3>Live</h3>
                    <h4>Seiclo: Le Tour de France</h4>
                    <span>12 minutes left</span>
                </a>
            </div>
            <div class="next">
                <a href="#">
                    <img src="//s4c.cymru/amg/web/122x72/cled.jpg" alt="Cled">
                    <h3>On next</h3>
                    <h4>Cled</h4>
                    <span>4.30 – 5.00</span>
                </a>
            </div>
-->
        </div>
    </nav>
</header>