<header><div id="s4c-header" class="clearfix">
    	
	<h1><a href="/hafan/e_index.shtml" title="Home"><img src="/img/s4c-calon-cenedl.png" alt="S4C Calon Cenedl / Heart of the Nation" /></a></h1>

    <ul class="s4c-social-networking-icons">
    	<li class="facebook"><a href="http://www.facebook.com/s4c.co.uk">Facebook</a></li>
    	<li class="twitter"><a href="http://twitter.com/#!/s4carlein">Twitter</a></li>
    </ul>

    <form action="http://www.s4c.co.uk/search/custom" method="post" id="s4c-search">
      <label for="searchq">Search</label>
			<input type="hidden" value="e" name="lang" /> 
            <input type="input" id="searchq" name="q" value="" />
            <input type="submit" value="Search" class="submit" />
    </form>
    
    <nav><div id="s4c-main-nav">
        <ul id="s4c-nav" class="e_nav">
            <li id="s4c-nav1"><a href="/hafan/e_index.shtml">Home</a></li>
            <li id="s4c-nav2"><a href="http://www.s4c.co.uk/clic/e_index.shtml">Clic</a></li>
            <li id="s4c-nav3"><a href="http://s4c.co.uk/e_listings.shtml">Listings</a></li>
            <li id="s4c-nav4" class="parent-li"><a href="http://s4c.co.uk/e_websites.shtml">Programmes</a>
                <ul>
                    <li id="s4c-sub-nav1"><a href="http://cyw.s4c.co.uk/en">Cyw</a></li>
                    <li id="s4c-sub-nav2"><a href="http://stwnsh.s4c.co.uk/en">Stwnsh</a></li>
                    <li id="s4c-sub-nav3"><a href="http://s4c.co.uk/adloniant/e_index.shtml">Entertainment</a></li>
                    <li id="s4c-sub-nav4"><a href="http://s4c.co.uk/cerddoriaeth/e_index.shtml">Music</a></li>
                    <li id="s4c-sub-nav5"><a href="http://s4c.co.uk/chwaraeon/e_index.shtml">Sport</a></li>
                    <li id="s4c-sub-nav6"><a href="http://s4c.co.uk/drama/e_index.shtml">Drama</a></li>
                    <li id="s4c-sub-nav7"><a href="http://s4c.co.uk/ffeithiol/e_index.shtml">Factual</a></li>
                </ul>
            </li>
        </ul>
    </div></nav>

    <div id="lang-switch" class="c_lang">
        <a href="[% change_lang | html %]">Cymraeg</a>
    </div>

</div></header>