<h5>Rownd a Rownd</h5>
<p>Who comes to Klaire's rescue? What will the atmosphere be like at Jim's house when Bethan and Megan come over for supper?</p>
<h5>Pobol y Cwm</h5>
<p>Stacey is guilt ridden when Gwyn discusses their baby's future. Britt and Siôn share a romantic night together. Mark stands up to Steadman and is glad that the thug has finally got his comeuppance.</p>