<table cellspacing="0">
  <tr>
    <th scope="row">08:30</th>
    <td>Chez Analogue</td>
  </tr>
  <tr class="high">
    <th scope="row">09:00</th>
    <td>Rownd a Rownd</td>
  </tr>
  <tr>
    <th scope="row">09:30</th>
    <td>Wedi 7</td>
  </tr>
  <tr class="high">
    <th scope="row">10:00</th>
    <td>Newyddion</td>
  </tr>
  <tr>
    <th scope="row">10:30</th>
    <td>Y Tywydd</td>
  </tr>
  <tr class="high">
    <th scope="row">11:00</th>
    <td>Ar y Lein</td>
  </tr>
  <tr>
    <th scope="row">11:30</th>
    <td>Penwadau Newyddion</td>
  </tr>
  <tr class="high">
    <th scope="row">12:00</th>
    <td>Sioe Gelf</td>
  </tr>
</table>
