<div class="masonryGridItemContent clearfix">
<h2>Sgorio</h2>
<a href="/sgorio/e_/"><img src="http://www.s4c.co.uk/sgorio/rw/uploads/2014/04/nicky-port-talbot-6-640x360.jpg" class="postImg" alt="nicky-port-talbot-6"></a>
<ul class="feedLinks"><li><a href="http://www.s4c.co.uk/sgorio/e_/2014/nicky-john-yng-nghanol-yr-hwyl/"><h3>Nicky John joins the fun<span class="icon icon-next"></span></h3><p>Nicky John was in Port Talbot for a day of fun and football for the girls of the community.</p></a></li><li><a href="http://www.s4c.co.uk/sgorio/e_/2014/cofio-trychineb-hillsborough/"><h3>Remembering the Hillsborough tragedy<span class="icon icon-next"></span></h3></a></li><li><a href="http://www.s4c.co.uk/sgorio/e_/2014/hillsborough/"><h3>Hillsborough <span class="icon icon-next"></span></h3></a></li><li><a href="http://www.s4c.co.uk/sgorio/e_/2014/10560/"><h3>Focus on: Greg Strong<span class="icon icon-next"></span></h3></a></li></ul><div class="actions clearfix">
<ul class="actionsList">
<li class="actionsItem">
<a href="/sgorio/e_/" class="buttonIcon">
<div class="buttonIconInner">
<span class="skew"></span>
<span class="icon icon-home"></span> <span class="label">Sgorio home</span>
</div>
</a>
</li>
</ul>
</div>
</div>
