<h4>Today's sport highlights</h4>
					<div class="wrap">
						<div class="wrapL">
							<img src="img/test-web-01.jpg" alt=""/>
							<h5>Y Sioe Aeaf</h5>
							<p>For all the action from the show rings, a taste of premier Welsh produce and much, much more</p>
						</div>
						<div class="wrapR">
							<img src="img/test-web-02.jpg" alt=""/>
							<h5>Bandit</h5>
							<p>On this week's Bandit, a chance to see performances from Mattoidz Sweet Baboo and David Mysterious</p>
						</div>
						<div class="followLink">
						<a href="#">A to Z of websites</a>
					</div>
				</div>