<style>

label#your-HGn726rehzF_label, input#your-HGn726rehzF {
	display: none;
}

</style>


<label id="your-HGn726rehzF_label" for="your-HGn726rehzF"></label>
<input name="your-HGn726rehzF" id="your-HGn726rehzF" size="40" class="text" />
