				<div class="sideNav-green-dk">
					<ul>
						<li><a href="e_watch.shtml">Watch here home</a></li>
						<li><a href="mms://s4c.unique-media.tv/s4c_uk_live">Watch live</a></li>
						<li><a href="e_watch_atoz.shtml">A to Z of content</a></li>
						<li><a href="e_watch_signed.shtml">Signed programmes</a></li>
						<li><a href="e_video.shtml">How do I watch?</a></li>
					</ul>
				</div>
				<div class="sideNav-green-lt">
					<h4>Coming soon on S4C</h4>
					<ul>
                    <li class="watch"><a href="mms://s4c.unique-media.tv/s4c_uk/promos/2dyani_38_e.asf">2 Dy a Ni</a></li>
                    <!--li class="watch"><a href="mms://s4c.unique-media.tv/s4c_uk/promos/drama_32_e.asf">Drama on S4C</a></li-->
                    <li class="watch"><a href="mms://s4c.unique-media.tv/s4c_uk/promos/slot6-7_36_e.asf">Slot 6 i 7</a></li>
                    <li class="watch"><a href="mms://s4c.unique-media.tv/s4c_uk/promos/hydref_32_e.asf">Autumn on S4C</a></li>
					</ul>
					<ul>
                    <li class="watch"><a href="mms://s4c.unique-media.tv/s4c_uk/promos/watch_promo.asf">Watch here</a></li>
					</ul>
				</div>
				
				<div class="sideNav-feeds">
					<ul>
						<li class="none"><a href="e_feeds.shtml">RSS subscribing</a></li>
						<li><a href="english_s4c_atom_programme_feed.xml">Watch here </a></li>
					</ul>
				</div>
