<!-- Nifty -->
<script type="text/javascript" src="js/niftycube.js"></script>
<script type="text/javascript" src="js/nifty-layout.js"></script>
<!-- Tabs : show/ hide -->
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/internalnav.js"></script>