		<div id="content-3col-col2">
			[% t2 = priority2.series_title || priority2.title %]
			[% IF priority2.title == 'Dewi Pws' %]
				[% t2 = 'Cofio gyda Dewi Pws' %]
			[% END %]

			<!--h2>[%  t2 %]</h2-->
			<h2>[% t2 %]</h2>
			[% IF priority2.video_available %]
				<a class="play-arrow" href="clic/c_level2.shtml?[% IF priority2.series_id %]series_id=[% priority2.series_id %][% ELSIF priority2.programme_id %]programme_id=[% priority2.programme_id %][% END %]"><span>Watch [% t2 %] on Clic</span></a>
			[% END %]
			<img src="../res/245x138/[% priority2.image_name %].jpg" alt="[% t2 = priority2.series_title || priority2.title %]" />
			<div class="boxed-top">
				[% priority2.home_page_billing %][%# home_page_billing has embedded <p> </p> tags %]
				
				[% IF priority2.promo_url || priority2.video_available || priority2.site_link %]
					<ul class="orange">
						[% IF priority2.promo_url %]
							<li><a href="mms://media02.multistream.co.uk/streaming/s4c/promos/[% priority2.promo_url %]">Gwylio rhagflas</a></li>
						[% END %]
						<!--[% IF priority2.video_available %]<li><a href="/c_watch_level2.shtml?title=[% t2 %]">Gwylio [% t2 %]</a></li>[% END %]-->

						[% IF priority2.video_available %]
						<!--xxx-->
						<li>
						<a href="clic/c_level2.shtml?[% IF priority2.series_id %]series_id=[% priority2.series_id %][% ELSIF priority2.programme_id %]programme_id=[% priority2.programme_id %][% END %]">Gwylio [% t2 %] ar Clic</a>
						</li>
						[% END %]

						[% IF priority2.site_link %]<li><a href="[% priority2.site_link %]">Gwefan [% t2 %]</a></li>[% END %]
					</ul>
				[% END %]
			</div>
		</div> 