		<div id="content-3col-col2">
			<h2 style="height: auto;">Cyngerdd Haiti</h2>
			
			<img src="../res/245x138/haiti.jpg" alt="Helpwch Haiti">
			<div class="boxed-top">
				<p>Bydd s&ecirc;r yn disgleirio nos Sul ar S4C gyda Rhydian Roberts, Dennis O'Neill, Wynne Evans, Ruth Jones, Elin Fflur ac eraill mewn cyngerdd arbennig yn Neuadd Dewi Sant, Caerdydd, i godi arian ar gyfer Haiti. Am 22:20 mae cyfle arall i weld Y Byd ar Bedwar yn adrodd o Haiti mis diwethaf.</p>				
				<ul class="orange">
					<li>Nos Sul 20:30</li>
					<li>Y Byd ar Bedwar: Haiti Nos Sul 22:20</li>
					<li><a href="http://www.s4c.co.uk/c_press_level2.shtml?id=314">Mwy o fanylion am yr artistiaid a gwneud rhodd</a></li>
				</ul>
				
			</div>
		</div>