		<div id="content-3col-col2">
			<h2 style="height: auto;">Y Clwb Rygbi: Cymru dan 20 v Ffrainc dan 20</h2>
			<img src="../res/245x138/clwbrygbi.jpg" alt="Y Clwb Rygbi: Cymru dan 20 v Ffrainc dan 20">
			<div class="boxed-top">
                <p>Cipolwg ar ddyfodol rygbi Cymru, dim ond ar S4C, wrth i d&icirc;m Cymru dan 20 herio Ffrainc ar drothwy'r g&ecirc;m Chwe Gwlad nes ymlaen. </p>
                <p><strong>Heddiw am 17:30</strong></p>
                <ul class="orange">
                    <li><a href="clic/c_level2.shtml?series_id=355855496">Gwylio Y Clwb Rygbi ar Clic</a></li>
                    <li><a href="http://www.s4c.co.uk/rygbi/">Gwefan Y Clwb Rygbi</a></li>
                </ul>
			</div>
		</div>