		<div id="content-3col-col2">
			<h2 style="height: auto;">Y Clwb Rygbi: Wales U20s v France u20s</h2>
			<img src="../res/245x138/clwbrygbi.jpg" alt="Y Clwb Rygbi: Wales U20s v France u20s">
			<div class="boxed-top">
                <p>A peek at the future of Welsh rugby exclusively on S4C as Wales U20's take on France U20's at Cardiff Arms Park  in the build-up to the Six Nations match later on.</p>
<p><strong>Today at 17:30</strong></p>
                <ul class="orange">
                    <li><a href="clic/e_level2.shtml?series_id=355855496">Watch Y Clwb Rygbi on Clic</a></li>
                    <li><a href="http://www.s4c.co.uk/rygbi/e_index.shtml">Y Clwb Rygbi website</a></li> 
                </ul>
			</div>
		</div>