	<div id="content-3col-col2">
		[% t2 = priority2.series_title || priority2.title %]
			[% IF priority2.title == 'Dewi Pws' %]
				[% t2 = 'Cofio gyda Dewi Pws' %]
			[% END %]
			
			<!--h2>[%  t2 %]</h2-->
			<h2>[% t2 %]</h2>
			[% IF priority2.video_available %]
				<a class="play-arrow" href="clic/e_level2.shtml?[% IF priority2.series_id %]series_id=[% priority2.series_id %][% ELSIF priority2.programme_id %]programme_id=[% priority2.programme_id %][% END %]"><span>Watch [% 2 %] on Clic</span></a>
			[% END %]
			<img src="../res/245x138/[% priority2.image_name %].jpg" alt="[% t2 = priority2.series_title || priority2.title %]" />
		<div class="boxed-top">
				[% priority2.home_page_billing %][%# home_page_billing has embedded <p> </p> tags %]
				
				[% IF priority2.promo_url || priority2.video_available || priority2.site_link %]
					<ul class="orange">
						[% IF priority2.promo_url %]
							<li><a href="mms://media02.multistream.co.uk/streaming/s4c/promos/[% priority2.promo_url %]">Watch preview</a></li>
						[% END %]
						<!--[% IF priority2.video_available %]<li><a href="/e_watch_level2.shtml?title=[% t2 %]">Watch [% t2 %]</a></li>[% END %]-->

						[% IF priority2.video_available %]
						<!--xxx-->
						<li>
							<a href="clic/e_level2.shtml?[% IF priority2.series_id %]series_id=[% priority2.series_id %][% ELSIF priority2.programme_id %]programme_id=[% priority2.programme_id %][% END %]">Watch [% t2 %] on Clic</a>
						</li>
						[% END %]
						
						[% IF priority2.site_link %]<li><a href="[% priority2.site_link %]">[% t2 %] website</a></li> [% END %]
					</ul>
				[% END %]
		  </div>
		</div> 