		<div id="content-3col-col2">
			<h2 style="height: auto;">Concert for Haiti</h2>
			
			<img src="../res/245x138/haiti.jpg" alt="Help Haiti">
			<div class="boxed-top">
				<p>There's a starry night in store on S4C on Sunday, with Rhydian Roberts, Dennis O'Neill,  Wynne Evans, Mal Pope and Ruth Jones among the artists who took part in a concert to raise money for Haiti. Later, another chance to watch Y Byd ar Bedwar reporting from Haiti after the earthquake.</p>				
				<ul class="orange">
					<li>Sunday 20:30</li>
					<li>Y Byd ar Bedwar: Haiti Sunday 22:20</li>
					<li><a href="http://www.s4c.co.uk/e_press_level2.shtml?id=314">More artists and details of how to donate</a></li>
				</ul>
				
			</div>
		</div>